<div class="main_top">
  <%= breadcrumb_navigation(['销售商品', '记录'], "/mkis/materials/") %>
</div>

<div class="details">
  <div class="details_nav"><%= render partial: 'mkis/materials/material_settings_url' %></div>
  <%= render 'partials/material_sales/index' %>
</div>

<% content_for :scenes do %>
<div class="pop_box2 pop_box" id="pop_box2" style="display:none;"></div>
<% end %>

<% content_for :javascripts do %>
<script>
  jQuery(function($){
    var tmpl = JST["kucun/material_sales/heshi/new"];
    var $item_dom = null;
    $('#salesnotes_list').on('click', '.js-heshi', function(){
      var cost_price_per_unit = 23.43;
      var actual_volume = 12;
      var item = $(this).data('checkdata')
      item.action_url = $(this).data('url');
      $item_dom = $(this.parentElement.parentElement);
      $("#pop_box2").html(tmpl(item)).show();
    });

    $('#pop_box2').on('input', '.actual_volume', function(){
      $('#pop_box2 .total_cost').html(this.value * this.dataset.cost);
    });

    $('#pop_box2').on('click', '.js-cancel', function(){
      $('#pop_box2').hide();
    });

    $('#pop_box2').on('submit', 'form', function(evt){
      evt.preventDefault()
      $('#pop_box2').hide();
      var form_data = $(this).serializeJSON();
      $.post(this.action, form_data, function(response, status_str, xhr){
        var total_cost = (response.actual_volume_per_bill * response.cost_price);
        var gross_profit = response.amount - total_cost;
        $item_dom.find('.eightth_td').html(total_cost).removeClass('color-FF2929');
        $item_dom.find('.ninth_td').html(gross_profit).removeClass('color-FF2929');
        $item_dom.find('.js-heshi').remove();
      }).error(function(){
        ZhanchuangAlert('网络错误，请重试');
      });
    });

  })
</script>
<% end %>
