<%= form_tag session_path, method: 'POST' do %>
  <p><%= text_field_tag :login, nil, placeholder: 'login name', required: true, title: 'Please input your signed phone number as login name' %></p>
  <p><%= password_field_tag :password, nil, placeholder: 'password', required: true, title: 'Please enter your password' %></p>
  <p><%= submit_tag 'sign in' %> <i class="fa fa-cog fa-spin fa-2x fa-fw margin-bottom"></i> </p>
<% end %>