<div class="details_content car_content">
  <div class="base_info">
    <div class="returning_records">
      <div class="list">
        <div class="list_top list_tr">
          <ul>
            <li>#</li>
            <li>时间</li>
            <li>类别</li>
            <li>关联信息</li>
            <li>方式</li>
            <li>执行</li>
            <li>内容</li>
            <li>状态</li>
          </ul>
        </div>
        <div class="list_contents">
          <%= render @store_trackings %>
        </div>
      </div>
    </div>
  </div>
</div>
