<div class="list_content  list_tr border_left" >
  <ul class="list_tr_hover">
    <li><%= damage_counter + 1 %></li>
    <li><%= damage[:created_at].strftime('%Y-%m-%d') %></li>
    <li><%= damage[:content] %></li>
  </ul>
</div>
