<div class="car_list">
  <div class="list">
    <div class="list_top">
      <ul>
        <li>#</li>
        <li>时间</li>
        <li>状况</li>
      </ul>
    </div>
    <%= render partial: 'damage', collection: @damages %>
  </div>
</div>
