  <div class="search_nav">
    <div class="item-query">
      <label>日期</label>
      <input type="date" class="width-120"> 至 <input type="date" class="width-120">
    </div>

    <div class="item-query">
      <label>查看类型</label>
      <select type="text" class="width-100">
        <option>按明细</option>
        <option></option>
      </select>
    </div>

    <div class="item-query">
      <label>类型</label>
      <select type="text" class="width-100">
        <option>全部</option>
        <option></option>
      </select>
    </div>

    <div class="item-query">
      <label>部门</label>
      <select type="text" class="width-100">
        <option>全部</option>
        <option></option>
      </select>
    </div>

    <div class="item-query">
      <label>收款方式</label>
      <select type="text" class="width-100">
        <option>全部</option>
        <option></option>
      </select>
      <a class=" btn query_btn do_search_result">查<nbsp1></nbsp1>询</a>
    </div>

    <div class="query_div">
      <a href="#" class="print_btn btn">打印</a>
      <a href="#" class="export_btn btn">导出</a>
    </div>
  </div>
