<table class="search">
  <tbody>
    <tr>
      <td>日期</td>
      <td><input type="date" class="width-122"></td>
      <td>-</td>
      <td><input type="date" class="width-122"></td>
      <td><label class="width-100 text-align-right">记录类型</label></td>
      <td>
        <select class="width-110" onchange="self.location.pathname=options[selectedIndex].value">
          <option value="/mis/soa/yuangongliebiao/jilu/xinzijilu.html">薪资发放记录</option>
          <option value="/mis/soa/yuangongliebiao/jilu/tiaoxinjilu.html">调薪记录</option>
          <option value="/mis/soa/yuangongliebiao/jilu/shigongjilu.html">施工记录</option>
          <option value="/mis/soa/yuangongliebiao/jilu/jianglijilu.html">奖励记录</option>
          <option value="/mis/soa/yuangongliebiao/jilu/chengjiejilu.html">惩戒记录</option>
          <option value="/mis/soa/yuangongliebiao/jilu/kaoqinjilu.html" selected>考勤记录</option>
          <option value="/mis/soa/yuangongliebiao/jilu/jiekuanjilu.html">借款记录</option>
        </select>
      </td>
      <td><input type="button" class="query_btn btn width-60" value="查询"></td>
    </tr>
  </tbody>
</table>
