<tfoot>
  <tr>
    <td colspan="13" class="text-align-right">
      <span class="width-80">成交总金额：</span> <span class="width-110">123.366.00</span>
      <span class="width-80">提成总金额：</span> <span class="width-110">2,765.00</span>
    </td>
  </tr>
</tfoot>
