

      <div class="main_top">
        <h2>记录</h2>
        <a class="back_to_list" href="index.html">
          <i class="fa-arrow-circle-left  fa" ></i>
          返回列表
        </a>
      </div>
      <div class="details">
        <div class="details_nav">
          <ul>
            <li><a href="shangpinxinxishow.html" class="width-90">商品信息</a></li>
            <li><a href="xiaoshoushezhi.html" class="width-90">销售设置</a></li>
            <li ><a  href="javascript:void(0);" class="width-90 to_be_continued">提成</a></li>
            <li ><a  href="javascript:void(0);" class="width-90 to_be_continued">回访</a></li>
            <li  class="bg-color-fff" ><a  href="jilu.html" class="width-90">记录</a></li>
          </ul>
        </div>
        <div class="details_nav_second">
          <ul class="goods_nav">
            <li><a href="#" class="width-90 previous_info">上一件商品</a></li>
            <li><a href="#" class="width-90 next_info">下一件商品</a></li>
            <li ><a href="#" class="width-90 back_info">返回列表</a></li>
          </ul>
        </div>
        <div class="details_content">
          <table cellpadding="0" cellspacing="0" class="sales_notes_top_tab">
            <colgroup>
              <col width="19%">
              <col width="9%">
              <col width="9%">
              <col width="12.5%">
              <col width="13%">
              <col width="12.5%">
              <col width="10%">
              <col width="15%">
            </colgroup>
            <tbody>
              <tr>
                <td><label class="float-left">商品名称</label></td>
                <td><label class="float-left">销售价</label></td>
                <td><label class="float-left">优惠价</label></td>
                <td class="border-bottom-d1d1d1"><label class="float-left">商品积分</label> <span >500</span></td>
                <td class="border-bottom-d1d1d1"><label class="float-left">销售分类</label><span >装饰类</span></td>
                <td class="border-bottom-d1d1d1"><label class="float-left">计量单位</label><span >平方米</span></td>
                <td class="border-bottom-d1d1d1"><label class="float-left">已销售</label><span >6</span></td>
                <td><label class="float-left">销售收入</label><span>2,800.00</span></td>
              </tr>
              <tr>
                <td><span class="font-18 ">3M防爆热膜8702魔幻大师</span></td>
                <td><span class="float-left">1,000.00</span></td>
                <td><span class="float-left">0.00</span></td>
                <td><label class="float-left">销售规格</label><span>车</span></td>
                <td><label class="float-left">出库方式</label><span>拆分销售</span></td>
                <td><label class="float-left">商品总量</label><span>45平方米</span></td>
                <td><label class="float-left">剩余</label><span>39</span></td>
                <td><label class="float-left">毛利</label><span>1,900.00</span></td>
              </tr>
            </tbody>
          </table>

          <div class="salesnotes_list" id="salesnotes_list">
            <div class="list">
              <div class="list_tr list_top">
                <ul>
                  <li >#</li>
                  <li >销售日期</li>
                  <li >订单号</li>
                  <li >销售价</li>
                  <li >数量</li>
                  <li >优惠</li>
                  <li >实收</li>
                  <li class="eightth_td">成本</li>
                  <li class="ninth_td">毛利</li>
                  <li class="tenth_td">操作</li>
                </ul>
              </div>
              <div class="list_tr list_content">
                <ul>
                  <li >1.</li>
                  <li >2014-12-28 11:11</li>
                  <li >YW20141228000019</li>
                  <li >1,000.00</li>
                  <li >1</li>
                  <li >0</li>
                  <li >1,000.00</li>
                  <li class="eightth_td">600.00</li>
                  <li class="ninth_td">400.00</li>
                  <li ><a href="#" class="detailsbtn cursor">详情</a></li>
                </ul>
              </div>
              <div class=" common_storage_content  ordergoods_details" style="display:none;" id="ordernotes">
                <div class="ordergoods_query">
                  <div class="nav-item-query">
                    <label>供应商：</label>
                    <input type="text" class="width-200">
                  </div>
                  <div class="nav-item-query ">
                    <label>时间：</label>
                    <input type="text" class="width-135">
                  </div>
                  <div class="nav-item-query">
                    <label>单号：</label>
                    <input type="text" class="width-135">
                  </div>
                  <div class="ordergoods_print">
                    <a href="#" class="print_btn">打<nbsp1></nbsp1>印</a>
                  </div>
                </div>
                <div class=" common_storage_tab order_goods_tab ">
                  <table cellpadding="0" cellspacing="0" id="storage_tab" class="storage_tab">
                    <thead>
                      <tr class="bg-color-e0e2cf color-282726">
                        <th width="3%">#</th>
                        <th width="18%" >商品名称</th>
                        <th width="8%" >条码</th>
                        <th width="8%" >规格</th>
                        <th width="4%" >单位</th>
                        <th width="7%" >一级分类</th>
                        <th width="7%">二级分类</th>
                        <th width="7%">单价</th>
                        <th width="5%" >数量</th>
                        <th width="8%">小计</th>
                        <th width="6%">仓库</th>
                        <th width="15%">备注</th>
                        <th width="4%"> 操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td >澜泰宾御纳米镀晶套装</td>
                        <td>887766555444</td>
                        <td>长皮盒6项目</td>
                        <td>套</td>
                        <td>美容产品</td>
                        <td>镀晶产品</td>
                        <td>680.00</td>
                        <td>8</td>
                        <td>5,440.00</td>
                        <td>未付款</td>
                        <td></td>
                        <td><span class="border-radius cursor">ㄨ</span></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td >澜泰宾御纳米镀晶套装</td>
                        <td>887766555444</td>
                        <td>长皮盒6项目</td>
                        <td>套</td>
                        <td>美容产品</td>
                        <td>镀晶产品</td>
                        <td>680.00</td>
                        <td>8</td>
                        <td>5,440.00</td>
                        <td>未付款</td>
                        <td></td>
                        <td><span class="border-radius cursor">ㄨ</span></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td >澜泰宾御纳米镀晶套装</td>
                        <td>887766555444</td>
                        <td>长皮盒6项目</td>
                        <td>套</td>
                        <td>美容产品</td>
                        <td>镀晶产品</td>
                        <td>680.00</td>
                        <td>8</td>
                        <td>5,440.00</td>
                        <td>未付款</td>
                        <td></td>
                        <td><span class="border-radius cursor">ㄨ</span></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td class="font-weight-bold text-align-left text-indent-10">合计:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="font-weight-bold">8</td>
                        <td class="font-weight-bold text-align-left text-indent-10">5,400.00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="order_goods_account">
                  <div class="item_content margin-left-10">
                    <label class="width-75 margin-top-10 vertical-align-top">备注：</label>
                    <textarea class="remarks_textarea width-1254" disabled="disabled">dfdgdfg</textarea>
                  </div>
                  <div class="item_content margin-top-10  margin-left-10 float-left">
                    <label class="width-75">本次付款：</label>
                    <input type="text" class="width-253 " readonly="true" value="1000.00">
                  </div>
                  <div class="item_content margin-top-10 float-left  margin-left-20">
                    <label class="width-75 ">结算账户：</label>
                    <input type="text" class="width-253 " readonly="true" value="622202000000000">
                  </div>
                  <div class="item_content margin-top-10  margin-left-20">
                    <label  class="width-75">本次欠款：</label>
                    <input type="text" class="width-253" readonly="true" value="283.00">
                  </div>
                  <div class="item_content  margin-left-10">
                    <label class="width-75">制单人：</label>
                    <label class="width-253">李宁</label>
                  </div>
                </div>
              </div>

              <div class="list_tr list_content">
                <ul>
                  <li >2.</li>
                  <li >2014-12-29 10:11</li>
                  <li >YW2014122900019</li>
                  <li >1,000.00</li>
                  <li >1</li>
                  <li >0</li>
                  <li >1,000.00</li>
                  <li class=" color-FF2929">未核实</li>
                  <li class="color-FF2929">未核实</li>
                  <li ><a href="#" class="color-73ACD4 cost_btn">核实成本</a></li>
                </ul>
              </div>
               <div class="list_tr list_content">
                <ul>
                  <li >3.</li>
                  <li >2014-12-29 10:11</li>
                  <li >YW2014122900019</li>
                  <li >1,000.00</li>
                  <li >1</li>
                  <li >0</li>
                  <li >1,000.00</li>
                  <li class="eightth_td  color-FF2929">未核实</li>
                  <li class="ninth_td  color-FF2929">未核实</li>
                  <li class="tenth_td " ><a href="#" class="color-73ACD4 cost_btn2">核实成本</a></li>
                </ul>
              </div>
            </div>
          </div>



        </div>
      </div>

      <div class="pop_box pop_box1" id="pop_box1" style="display:none;">
        <div class="cost_accounting">
          <div class="title">
            <h2>成本核算单</h2>
          </div>
          <dl class="top">
            <dd><label>日期</label><span>2014-12-19</span></dd>
            <dd><label>业务单号</label><span>YW2014122900019</span></dd>
            <dd><label>技师</label><span>周晓牛</span> <span>刘小龙</span></dd>
          </dl>
          <table cellpadding="0" cellspacing="0" class="cost_accounting_tab">
            <colgroup>
              <col width="18.8%">
              <col width="20.2%">
              <col width="20.2%">
              <col width="10.8%">
              <col width="9.4%">
              <col width="10.8%">
              <col width="9.4%">
            </colgroup>
            <thead>
              <tr>
                <th class="goods">商品</th>
                <th colspan="2">规格<i class="fa fa-plus-square-o font-16 margin-left-10"></i></th>
                <th>用量</th>
                <th></th>
                <th>成本</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-16 font-weight  goods" rowspan="4" ><span>3M防爆隔热膜8702魔幻大师</span></td>
                <td><label>长:</label><input type="text" class="width-65"><label>米</label></td>
                <td><label>宽:</label><input type="text" class="width-65"><label>米</label></td>
                <td><input type="text" class="width-65"></td>
                <td>平方米</td>
                <td><input type="text" class="width-65"></td>
                <td>元</td>
              </tr>
              <tr>
                <td><label>长:</label><input type="text" class="width-65"><label>米</label></td>
                <td><label>宽:</label><input type="text" class="width-65"><label>米</label></td>
                <td><input type="text" class="width-65"></td>
                <td>平方米</td>
                <td><input type="text" class="width-65"></td>
                <td >元</td>
              </tr>
              <tr>
                <td><label>长:</label><input type="text" class="width-65"><label>米</label></td>
                <td><label>宽:</label><input type="text" class="width-65"><label>米</label></td>
                <td><input type="text" class="width-65"></td>
                <td>平方米</td>
                <td ><input type="text" class="width-65"></td>
                <td >元</td>
              </tr>
              <tr>
                <td><label>长:</label><input type="text" class="width-65"><label>米</label></td>
                <td><label>宽:</label><input type="text" class="width-65"><label>米</label></td>
                <td><input type="text" class="width-65"></td>
                <td >平方米</td>
                <td><input type="text" class="width-65"></td>
                <td >元</td>
              </tr>
              <tr class="null">
                <td class="goods"></td>
                <td  colspan="6"></td>
              </tr>
              <tr class="total">
                <td class="goods"></td>
                <td  colspan="6"><label>成本合计:</label><span>6,000.00</span></td>
              </tr>

            </tbody>
          </table>
          <div class="group_btn float-right">
            <a href="#" class="cancel_btn btn cancel">取消</a>
            <a href="#" class="save_btn btn cancel">保存</a>
          </div>

        </div>
      </div>


      <div class="pop_box2 pop_box" id="pop_box2" style="display:none;">
        <div class="cost_accounting">
          <div class="title">
            <h2>成本核算单</h2>
          </div>
          <dl class="top">
            <dd><label>日期</label><span>2014-12-19</span></dd>
            <dd><label>业务单号</label><span>YW2014122900019</span></dd>
            <dd><label>技师</label><span>周晓牛</span> <span>刘国龙</span></dd>
          </dl>
          <table cellpadding="0" cellspacing="0" class="cost_accounting_tab">
            <colgroup>
              <col width="20%">
              <col width="40%">
              <col width="40%">
            </colgroup>
            <thead>
              <tr>
                <th class="goods">商品</th>
                <th>用量<i class="fa fa-plus-square-o font-16 margin-left-10"></i></th>
                <th>成本</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-16 font-weight  goods" rowspan="2" ><span>悦声高级电源线</span></td>
                <td><input type="text" class="width-125"><label>米</label></td>
                <td><input type="text" class="width-125"><label>元</label></td>
              </tr>
              <tr class="null">
                <td  colspan="2"></td>
              </tr>
              <tr class="total">
                <td class="goods"></td>
                <td  colspan="3"><label>成本合计:</label><span>6,000.00</span></td>
              </tr>
            </tbody>
          </table>
          <div class="group_btn float-right">
            <a href="#" class="cancel_btn btn cancel">取消</a>
            <a href="#" class="save_btn btn cancel">保存</a>
          </div>
        </div>
      </div>