<div class="main_top">
  <h2>收银POS</h2>
</div>

<div class="details">
  <div class="search_nav">
    <div class="item-query">
      <label>查找车辆</label>
      <input type="text" class="width-180 query-by-license" placeholder="输入车牌或项目模糊查询">
    </div>
    <div class="item-query">
      <a href="#" class="query_btn btn">查&nbsp;询</a>
    </div>
  </div>

  <div class="cashiering">
    <div class="vehicle_state">
      <ul class="vehicle_state_list">
        <li>
          <div class="vehicle_operating">
            <div class="width-200 float-left">
              <span class="display-block">未付款</span>
              <span id='queuing_count' class="display-block font-22 color-BAB7A3 font-weight-bold"></span>
            </div>
            <span class="float-right">
              <i class="lnr-chevron-down lnr font-18 cursor-pointer"></i>
            </span>
          </div>
          <ul id='queuing' class="item_vehicle"></ul>
        </li>
        <li>
          <div class="vehicle_operating">
            <div class="width-200 float-left">
              <span class="display-block">已付款</span>
              <span id='finished_count' class="display-block font-22 color-F43C59 font-weight-bold"></span>
            </div>
            <span class="float-right">
              <i class="lnr-chevron-down lnr font-18 cursor-pointer"></i>
            </span>
          </div>
          <ul id='finished' class="item_vehicle"></ul>
        </li>
      </ul>
    </div>

    <%= render 'shared/loading' %>
  </div>
</div>

<% content_for :javascripts do %>
  <script>
    jQuery(function($){
      handle = new $$MIS.CashierCheckoutsHandleView({urlRoot: '/api/pos/cashier/orders'});
    });
  </script>
<% end %>
