<li class="item_station">
  <div class="station_info" style="border-color:#7658cf">
    <span class="do_dbclick width-120"><%= workstation.name %></span>
    <a href="javascript:void(0);" class="edit_button">编辑</a>
  </div>

  <ul class="vehicle_info">
    <li class="float-left construction_info">
      <span><%= workstation %></span>
      <span class="do_dbclick times">180</span>
      <a href="#" class="add_time js-add-time">加时</a>
    </li>
    <li class="float-left license_plate">
      <span>浙A7300z </span>
      <img src="/images/car_front.png">
    </li>
  </ul>
</li>
