<div class="details_nav">
  <ul>
    <li class="<%= is_hover( 'settings/sms/topups', nil, dom_class: 'bg-color-fff')  %>"><a href="/settings/sms/topups" class="width-90">充值</a></li>
    <li class="<%= is_hover( 'settings/sms/switches', nil, dom_class: 'bg-color-fff')  %>"><a href="/settings/sms/switches" class="width-90">开关</a></li>
    <li class="<%= is_hover( 'settings/sms/messages', nil, dom_class: 'bg-color-fff')  %>"><a href="/settings/sms/messages"  class="width-90">短信记录</a></li>
  </ul>
</div>
