<div class="details">
  <table class="top_info">
  <tbody>
    <tr>
      <td>短信条数</td>
      <td><%= @sms_balance.try :total %></td>
      <td>已发送条数</td>
      <td><%= @sms_balance.try :sent_quantity %></td>
      <td>剩余条数</td>
      <td><%= @sms_balance.try :remaining %></td>
      <td>短信费用</td>
      <td><%= @sms_balance.try :total_fee %></td>
    </tr>
  </tbody>
</table>
