<div class="details">
  <table class="top_info">
  <tbody>
    <tr>
      <td>短信条数</td>
      <td>2000</td>
      <td>已发送条数</td>
      <td>100</td>
      <td>剩余条数</td>
      <td>1900</td>
      <td>短信费用</td>
      <td>10000</td>
    </tr>
  </tbody>
</table>
