
<div class="top_content records">
  <div class="content_tab_top">
    <table cellpadding="0" cellspacing="0" width="100%" class="top_tab common_top">
        <tbody>
          <tr>
            <td class="border-right">
              <table cellpadding="0" cellspacing="0" class="in_tab">
                <tr>
                  <td class="text-align-left">
                    <a href="#">员工总数</a>
                    <span class="num_color font-24  tab_span float-right">86</span>
                  </td>
                </tr>
              </table>
            </td>
            <td class="border-right">
              <table cellpadding="0" cellspacing="0" class="in_tab">
                <tr>
                  <td class=" text-align-left">
                    <a href="#">个人</a>
                    <span class="num_color  tab_span font-14 float-right">74位</span>
                  </td>
                </tr>
                <tr>
                  <td class=" text-align-left">
                    <a href="#">集团</a>
                    <span class="num_color  tab_span font-14 float-right">12位</span>
                  </td>
                </tr>
              </table>
            </td>
            <td class="border-right">
              <table cellpadding="0" cellspacing="0" class="in_tab">
                <tr>
                  <td class=" text-align-left"><a href="#">男性</a>
                  <span class="num_color  tab_span font-14 float-right">74位</span></td>
                </tr>
                <tr>
                  <td class=" text-align-left"><a href="#">女性</a>
                  <span class="num_color  tab_span font-14 float-right">12位</span></td>
                </tr>
              </table>
            </td>
            <td class="border-right">
              <table cellpadding="0" cellspacing="0" class="in_tab">
                <tr>
                  <td class=" text-align-left">
                    <a href="#">活跃</a>
                    <span class="num_color  tab_span font-14 float-right">74位</span>
                  </td>
                </tr>
                <tr>
                  <td class=" text-align-left">
                    <a href="#">不活跃</a>
                    <span class="num_color  tab_span font-14 float-right">12位</span>
                  </td>
                </tr>
              </table>
            </td>
            <td class="border-right">
              <table cellpadding="0" cellspacing="0" class="in_tab">
                <tr>
                  <td class=" text-align-left">
                    <a href="#">会员</a>
                    <span class="num_color  tab_span font-14 float-right">74位</span>
                  </td>
                </tr>
                <tr>
                  <td class=" text-align-left">
                    <a href="#">非会员</a>
                    <span class="num_color  tab_span font-14 float-right">12位</span>
                  </td>
                </tr>
              </table>
            </td>
            <td class="border-right">
              <table cellpadding="0" cellspacing="0" class="in_tab">
                <tr>
                  <td class="text-align-left">
                    <a href="#">需回访客户</a>
                    <span class="num_color  tab_span font-14 float-right">74位</span>
                  </td>
                </tr>
                <tr>
                  <td class=" text-align-left">
                    <a href="#">已回访客户</a>
                    <span class="num_color  tab_span font-14 float-right">12位</span>
                  </td>
                </tr>
              </table>
            </td>
            <td >
              <table cellpadding="0" cellspacing="0" class="in_tab">
                <tr>
                  <td class=" text-align-left">
                    <a href="#">车辆总数</a>
                    <span class="num_color text-align-right font-24 tab_span float-right">86</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
