
<div class="main_top">
  <h2>员工详情</h2>
  <span class="add_span">+</span>
</div>

<div class="details">
  <%= render partial: 'top_content' %>
  <div class="details_nav">
    <ul>
      <li class="bg-color-fff"><a href="#" class="width-90">基本信息</a></li>
      <li ><a href="javascript:void(0);" class="width-90 to_be_continued">其他信息</a></li>
      <li ><a href="javascript:void(0);" class="width-90 to_be_continued">绩效提成</a></li>
      <li ><a  href="javascript:void(0);" class="width-90 to_be_continued">考勤奖励</a></li>
      <li ><a  href="javascript:void(0);" class="width-90 to_be_continued">培训</a></li>
      <li ><a  href="javascript:void(0);" class="width-90 to_be_continued">记录</a></li>
    </ul>
  </div>

  <div class="details_nav_second">
    <ul class="goods_nav">
      <li><a href="#" class="width-90">▲上一个员工</a></li>
      <li><a href="#" class="width-90">▼下一个员工</a></li>
      <li><a href="/soa/staff/" class="width-90">返回列表</a></li>
    </ul>
  </div>


  <div class="details_content employee_basic_info">
    <div class="photo_info width-247 float-left">
      <div class="photo width-197"></div>
      <input type="button" class="choose_img_btn cursor-pointer" value="选择图片">
    </div>
    <%= render partial: 'form' %>
  </div>
  <div class="btn_group">
    <input type='submit' class="save_btn btn" form='staff_form' value="保存" />
  </div>
</div>
