<div class="main_top">
  <h2>记录查询</h2>
  <a class="back_to_list" href="/soa/events">
    <i class="fa-arrow-circle-left  fa" ></i>
    返回列表
  </a>
</div>

<div class="details">
  <%= render "/soa/shared/top_info" %>
  <%= render "/soa/shared/record_search" %>

  <div class="search-result-content">
    <%= render @partial %>
  </div>
</div>
