<div class="details_nav">
  <ul>
    <li class="bg-color-fff"><a href="fuwuxinxinew.html" class="width-90">服务信息</a></li>
    <li ><a href="#" class="width-90">服务设置</a></li>
    <li ><a href="#" class="width-90">回访</a></li>
    <li ><a  href="#" class="width-90">记录</a></li>
  </ul>
</div>
<div class="details_nav_second">
  <ul class="goods_nav">
    <li><a href="#" class="width-90">▲上一件商品</a></li>
    <li><a href="#" class="width-90">▼下一件商品</a></li>
    <li ><a href="index.html" class="width-90">返回列表</a></li>
  </ul>
</div>
