<div class="vehicle_order">
	<span class="vehicle_order_title title doslide">
		意向内容
	</span>
	<div class="order_info material-saleinfo-table-items">
		<table cellpadding="0" cellspacing="0" class="intention_content">
			<thead>
				<tr>
					<th>名称</th>
					<th>规格</th>
					<th>零售价</th>
					<th>意向价</th>
					<th>数量</th>
					<th>小计</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in materialSaleinfoItems">
          <td style="display:none" class="material-saleinfo-table-item-id">{{item.id}}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.speci }}</td>
          <td>{{ item.retail_price }}</td>
          <td>
            <input type="text" value="" class="width-60 text-align-center">
          </td>
          <td>
            <input v-model="item.quantity" placeholder="输入数量" class="width-40"></input>
          </td>
					<td>
            {{ item.quantity * item.retail_price }}
						<span class="delete close" data-target="list_content_01">
							<i class="lnr lnr-cross color-fff"></i>
						</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
			  <tr class="text-align-right">
				  <td colspan="10">
            <label class="margin-right-10">商品金额总计:</label>
            <label>{{totalPrice}}</label>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
