<div class="intention_info_wrap">
	<span class="vehicle_order_title title doslide">
		意向信息
	</span>
	<div class="intention_info">
		<dl>
		  <dd>
        <label class="width-60">意向原因:</label>
				<input class="width-200"></input>
			</dd>
			<dd>
        <label class="width-115">暂时不购买原因:</label>
				<input class="width-200"></input>
			</dd>
		</dl>

		<dl>
		  <dd>
        <label class="width-60">预期时间:</label>
				<input type="date" class="width-200">
			</dd>
		</dl>

		<dl>
      <dd>
        <label class="width-60 vertical-align-top">备注:</label>
				<textarea></textarea>
			</dd>
		</dl>
		<dl class="float-right margin-right-5">
      <dd>
        <label class="width-60 vertical-align-top">开单:</label>
				<label>王丽丽</label>
			</dd>
		</dl>
	</div>
</div>
