<div class="vehicle_info">
	<dl>
		<dd>
			<label class="width-50">车牌号</label>
			<input type="text" value="浙A16034" class="width-110" readonly="">
		</dd>
		<dd>
			<label class="width-50">客户姓名</label>
			<input type="text" value="王" class="width-110" readonly="">
		</dd>
		<dd>
			<label class="width-50">手机号</label>
			<input type="text" value="13335930000" class="width-110" readonly="">
		</dd>
	</dl>
	<div class="vehicle_order_title title doslide">详细信息</div>

	<div class="vehicle_details_info">
		<div class="item_content">
			<label class="width-50">车辆品牌</label><input type="text" value="宝马" class="width-110" readonly="">
		</div>
		<div class="item_content">
			<label class="width-50">车型</label><input type="text" value="宝马5系" class="width-110" readonly="">
		</div>
		<div class="item_content">
			<label class="width-50">车系</label><input type="text" value="宝马新5系" class="width-110" readonly="">
		</div>
		<div class="item_content">
			<label class="width-50">客户属性</label><input type="text" value="男" class="width-110" readonly="">
		</div>
		<div class="item_content">
			<label class="width-50">客户类别</label><input type="text" value="个人" class="width-110" readonly="">
		</div>
		<div class="item_content">
			<label class="width-50">结算方式</label><input type="text" value="现结" class="width-110" readonly="">
		</div>
	</div>

</div>
