<div class="content" id="content">
  <div class="main_top">
	  <h2>意向开单</h2>
  </div>
<div class="details">
	<div class="search_nav">
		<div class="item-query">
			<label>查找车辆</label>
			<input type="text" class="width-180" placeholder="输入车牌或项目模糊查询">
		</div>

		<div class="item-query">
			<a href="#" class="query_btn btn">查&nbsp;询</a>
		</div>

		<div class="query_div pos_page_card">
			<a href="yixiangkaidan.html">新建</a>
			<a href="javascript:void(0)" class="active">列表</a>
		</div>
	</div>

	<div class="billing_records list_table">
	  <table cellpadding="0" cellspacing="0" class="intention_billing_list index_list">
      <thead>
			  <tr>
				  <th>#</th>
					<th>日期</th>
					<th>车牌号</th>
					<th>客户姓名</th>
					<th>手机号</th>
					<th>单号</th>
					<th>内容</th>
					<th>金额</th>
					<th>状态</th>
					<th>备注</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			  <tr>
				  <td class="number"></td>
					<td>2015/8/12 9:12</td>
					<td>浙A-16034</td>
					<td>王先生</td>
					<td>13335930000</td>
					<td>YW201411050001</td>
					<td>精致洗车,澜泰纳米镀晶</td>
					<td>￥936.00</td>
					<td>意向状态</td>
					<td></td>
					<td>
					  <a href="yixiangkaidan.html">详情</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
