<div class="nav_query_wrap">
  <div class="nav-item-query">
    <label>选择车辆</label>
    <%= select_tag 'q[store_vehicle_id_eq]', options_for_select(@vehicles, @vehicle_id), include_blank: '全部车辆', class: 'width-120' %>
  </div>

  <div class="nav-item-query">
    <label>选择时间</label>
    <input type="date" class="width-120" name="q[created_at_gteq]" value='<%= @beginning %>'>
    <input type="date" class="width-120" name="q[created_at_lteq]" value='<%= @end %>'>
  </div>

  <div class="nav-item-query">
    <input type="submit" value="查  询" class='btn query_btn'>
  </div>
</div>
