<ul>
  <li id="kehushow" class=""><a href="/mis/kehu/kehuliebiao/kehushow.html?kehushow" class="width-90">信息</a></li>
  <li id="zichanzhanghu"><a href="/mis/kehu/kehuliebiao/zichanzhanghu.html?zichanzhanghu" class="width-90 ">资产账户</a></li>
  <li id="cheliangdangan"><a href="/mis/kehu/kehuliebiao/cheliangdangan/show.html?cheliangdangan" class="width-90">车辆档案</a></li>
  <li id="xiaofeijilu"> <%= link_to '消费记录', crm_store_customer_expense_records_path(@customer), class: 'width-90' %> </li>
  <li id="huifangjilu"><a href="/mis/kehu/kehuliebiao/huifangjilu.html?huifangjilu" class="width-90">回访记录</a></li>
  <li id="tousu"> <%= link_to '投诉记录', crm_store_customer_complaints_path(@customer), class: "width-90" %></li>
  <li id="manyidu"><a href="/mis/kehu/kehuliebiao/manyidu.html?manyidu" class="width-90">满意度</a></li>
</ul>
