
<div class="main_top">
  <h2>库存>编辑商品</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="container_list">
    <div class="top_content records"></div>
    <div class="details_nav">
      <ul>
        <li class="bg-color-fff"><a href="#" class="width-90">商品信息</a></li>
        <li class='ext_info'><a href="javascript:void(0);" onclick="alert(this.dataset.alert);" data-alert='请先保存商品信息！' class="width-90">销售设置</a></li>
        <li class='ext_info'><a href="javascript:void(0);" onclick="alert(this.dataset.alert);" data-alert='请先保存商品信息！' class="width-90">提成</a></li>
        <li class='ext_info'><a href="javascript:void(0);" onclick="alert(this.dataset.alert);" data-alert='请先保存商品信息！' class="width-90">回访</a></li>
      </ul>
    </div>
    <div class="details_content"><%= render 'form' %></div>
    <input type="hidden" data-material='<%= @store_material.to_json.html_safe %>' id='material_json'>

    <input type="button" id='putimg' value="UpImage">
  </div>
</div>

<% content_for :scenes do %>
  <div id='piccut'>
    <div class="overlay">
  		<div class="overlay-inner"></div>
  	</div>
  	<div id='arrange'>
  	  <div id='gallery' style="top: -1px; left: 115px;" class="resize-container"></div>
  	</div>
    <div class="btn_group">
      <input type="file" id='imgfile' size="12" accept="image/jpeg,image/png" />
      <button class="crop_btn btn-crop js-crop">截图</button>
      <input class="cancel_btn btn-cancel js-cancel" type="button" value="取消"/>
    </div>
  </div>


<div id="FloatWindow" style="display:none">
  <div class="FloatContent">
    <div class="bg-color-311951 float_head"></div>
    <div class="uploading_progress_window">
      <p>正在上传文件，请不要关闭窗口或刷新浏览器</p>
      <ul id='progress_list'></ul>
      <p id='upload_completed' style="display:none">上传完成！</p>
      <div class="btn_group">
        <input value="关闭" class="close_btn" type="button">
      </div>
    </div>
  </div>
</div>


<% end %>

<% content_for :javascripts do %>
<script>
  jQuery(function($){
    material = $('#material_json').data('material');
    v = new $$MIS.NewMaterialView({urlRoot: "/kucun/materials/<%=@store_material.id%>", model: new $$MIS.Material(material)});
  });

  var form = [];
  
  var save_image_for_material = function(form_data){
    var qiniu_imgs = {qiniu_imgs: form_data};
    var url = "/kucun/materials/<%= @store_material.id %>/save_picture";
    $.post(url, qiniu_imgs)
      .done(function(response){
          $('#upload_completed').show();
      });
  }
  var deal_with = function(upfile_count, upload_count, idx, response){
    form.push({idx: idx,qiniu_res: response});
    if (upfile_count == upload_count){save_image_for_material(form);}
  }


  $("#putimg").on('click', function(){
    if($('#preview_list > img').length > 1){
      var upfile_count = $('#preview_list > img').length;
      var upload_count = 0;
      $('#FloatWindow').show();
      $('#preview_list > img').each(function(idx,img, undef){/* *this = img;*/
         qiniu_b64_upload(img.src, {
          onloadstart:function(evt){
            var li = '<li><span>正在上传文件' + (idx +1 ) +'</span><progress upid='+ idx +' value="0" max="100"></progress></li>';
            $('#progress_list').append(li);
          },
          
          upload: {
            onprogress: function(evt){
              var progress_val = (evt.loaded / evt.total)*100;
              $('[upid='+ idx +']').val(progress_val)
            }
          },

          onloadend: function(evt){/* *this=XMLHttpRequest; *evt=XMLHttpRequestProgressEvent */
            upload_count += 1;
            var res_json = JSON.parse(this.response);
            deal_with(upfile_count, upload_count, idx, res_json);
          }
         })
      });
    }
  });

</script>
<% end %>
