      <div class="main_top">
    <span class="add_span">+</span>
</div>
      <div class="details">
        <div class="container_list">
          <div class="top_content records">
            <%= render partial: 'table_head' %>
          </div>
          <div class="details_nav">
            <%= render partial: 'material_settings_url' %>
          </div>
          <div class="details_nav_second">
            <ul class="goods_nav">
              <li><a href="#" class="width-90">▲上一件商品</a></li>
              <li><a href="#" class="width-90">▼下一件商品</a></li>
              <li ><a href="#" class="width-90">返回列表</a></li>
            </ul>
          </div>
        <div class="details_content">
          <div class="base_info">
           <div class="goods_img">
                <div class="goods_main_img">
                  <img src="images/car_01.jpg">
                </div>
                <div class="goods_small_img">
                  <img src="images/car_01.jpg">
                  <img src="images/car_01.jpg">
                  <img src="images/car_01.jpg">
                  <img src="images/car_01.jpg">
                </div>
                <div class="goods_choose_img">
                  <input type="button" value="选择图片" class="choose_img_btn">
                  <label>支持jpg,png格式图片，单张不超过150k,最多5张</label>
                </div>
            </div>
            <div class=" car_content">
              <div class="pure-u-1-2 float-left"> <div class="item_content">
                  <label class="width-75">商品名称</label>
                  <input type="text" class="width-165">
                </div> <div class="item_content">
                  <label class="width-75">零售价</label>
                  <input type="text" class="width-165">
                </div> <div class="item_content">
                  <label class="width-75">
                    <input type="radio">
                    优惠价</label>
                  <input type="text" class="width-165">
                </div> <div class="item_content">
                  <label class="width-75">商品积分</label>
                  <input type="text" class="width-165">
                </div> <div class="item_content">
                  <label class="width-75">规格</label>
                  <input type="text" class="width-165">
                </div> <div class="item_content">
                  <label class="width-75">销售分类</label>
                  <select type="text" class="width-165">
                    <option></option>
                    <option></option>
                  </select>
                </div> <div class="item_content">
                  <label class="width-75">需要施工</label>
                  <select type="text" class="width-165">
                    <option>该商品需要施工</option>
                    <option></option>
                  </select>
                </div> <div class="item_content">
                  <label class="width-75">工时价格</label>
                  <input type="text" class="width-165">
                </div>
                <div class="item_textarea ">
                  <label class="width-75">备注</label>
                  <textarea class="server_textarea"></textarea>
                </div>
              </div>
              <div  class="pure-u-1-2 float-left">
                <div class="server_list" >
                  <div class="top">
                    <h2>服务项目列表</h2>
                    <a class="new_btn">创建</a> 
                  </div>
                  <div class="none_server_data">
                    <p class="none_server_p">当前没有配套服务</p>
                    <p class="none_details">你可以先选择"需要施工"来激活服务列表，然后点击创建来添加配套的服务项目</p>
                  </div>
                  <div class="list">
                    <ul class="list_top">
                      <li class="list_tr">
                           <ul>
                              <li class="first_td" >#</li>
                              <li class="second_td" >名称</li>
                              <li class="third_td" >数量</li>
                              <li class="forth_td">施工时间</li>
                              <li class="fifth_td border-none">技师</li>
                          </ul>
                      </li>
                    </ul>
                    <ul class="list_content">
                       <li class="list_tr">
                        <ul>
                          <li class="first_td">1.</li>
                          <li class="second_td">澜泰纳米镀金</li>
                          <li class="third_td">1</li>
                          <li class="forth_td">120</li>
                          <li class="fifth_td border-none">高级-高级</li>
                       </ul>
                      </li>
                    </ul>
                   <ul class="list_content">
                       <li class="list_tr">
                        <ul>
                          <li class="first_td">1.</li>
                          <li class="second_td">澜泰纳米镀金</li>
                          <li class="third_td">1</li>
                          <li class="forth_td">120</li>
                          <li class="fifth_td border-none">高级-高级</li>
                       </ul>
                      </li>
                    </ul>
                    <ul class="list_content">
                       <li class="list_tr">
                        <ul>
                          <li class="first_td">1.</li>
                          <li class="second_td">澜泰纳米镀金</li>
                          <li class="third_td">1</li>
                          <li class="forth_td">120</li>
                          <li class="fifth_td border-none">高级-高级</li>
                       </ul>
                      </li>
                    </ul>
                  <div class="add_server">
                    <div class="pure-u-1-2  text-align-left float-left ">
                      <label class="width-50">服务名称</label>
                      <input type="text" class="width-130">
                   </div> 
                   <div class="pure-u-1-2 text-align-right float-left ">
                      <label class="width-50">施工时间</label>
                      <input type="text" class="width-130">
                   </div>
                   <div class="pure-u-1-2  text-align-left float-left ">
                      <label class="width-50">技师</label>
                      <input type="text" class="width-130">
                   </div>
                   <div class="pure-u-1-2 text-align-right float-left ">
                      <label class="width-50">施工提成</label>
                      <input type="text" class="width-130">
                   </div>
                   <div class="pure-u-1-2  text-align-left float-left ">
                      <label class="width-50">次数</label>
                      <input type="text" class="width-55">
                      <label class="width-50">售后回访</label>
                      <input type="checkbox" class="width-15">
                   </div> 
                   <div class="pure-u-1-2 text-align-right float-left ">
                      <label class="width-60">回访时间:</label>
                      <label class="width-60">施工结束后</label>
                      <select class="width-60">
                        <option></option>
                        <option></option>
                      </select>
                  </div>
                  <div class=" text-align-left   pure-u-2-2">
                     <label class="width-60">回访内容：</label>
                     <label class="width-75 text-align-left"> 选择短信模板</label>
                     <select class="width-253">
                        <option></option>
                        <option></option>
                     </select>
                 </div>
                 <div class="item_textarea">
                      <label class="width-135" ><nbsp1></nbsp1></label>
                      <textarea class="item_textarea ">
                      </textarea>
                </div>
                <div class="btn_group">
                  <input type="button"  value="取消" class="cancel_btn btn" >
                  <input type="button"  value="保存" class="save_btn btn" >
                </div>
               </div>
             </div>
            </div>
           </div>
          </div>
         <div class="btn_group">
             <input type="button"  value="取消" class="cancel_btn btn" >
             <input type="button"  value="保存" class="save_btn btn" >
         </div>
        </div>
      </div>
    </div>
  </div>