<% content_for :pre_assets do %>
  <%= javascript_include_tag 'kucun/materials/new' %>
<% end %>
<div class="main_top">
  <h2>入库</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="details_content">
    <div class="in_storage_list">
      <div class="search_nav">
        <div class="item-query">
            <label>入库方式</label>
            <input type="hidden" name='material[in_store_type_id]' value="">
            <span id='in_store_type_id' class="width-157 as_select" data-select='#in_store_type_select' data-target='input[name="material[in_store_type_id]"]'>按商品入库</span>
            <div id='in_store_type_select' class="select width-165">
              <ol class="width-165">
                <li data-value="1"><a href="javascript:void(0)">按商品入库</a></li>
                <li data-value="2"><a href="/kucun/transfer/receipts/new">按移库单入库</a></li>
                <li data-value="3"><a href="/kucun/material_inventories/new">按订单入库</a></li>
              </ol>
            </div>
          </div>
        <div class="query_div">
          <a  href="ruku.html" class="in_stg_btn btn">入库</a>
          <a  href="jilu.html" class="notes_btn btn">记录</a>
        </div>
      </div>
      <div class=" in_storage_content common_storage_content float-left margin-bottom-50 margin-top-5">
        <div class="in_storage_query">
          <div class="nav-item-query">
            <div class="font-20 font-borderradius text-align-center">入</div>
          </div>
          <div class="nav-item-query">
            <label>供应商：</label>
            <input type="hidden" name='order[supplier_information_id]' value="">
            <span id='supplier_information_id' class="width-157 as_select"
            data-select='#supplier_information_select' data-target='input[name="order[supplier_information_id]"]'>
            请选择</span>
            <div id='supplier_information_select' class="select width-165">
              <ol class="width-165">
                <li data-value="1">途乐</li>
                <li data-value="2">澜泰</li>
              </ol>
              <a class='add_btn width-158 add_supplier' data-method='add_supplier' href="javascript:void(0);">新增</a>
            </div>
          </div>
          <div class="nav-item-query">
            <label>单据时间：</label>
            <input type="text" class="width-135">
          </div>
          <div class="nav-item-query">
            <label>单据编号：</label>
            <input type="text" class="width-135">
          </div>
          <div class="in_storage_print">
            <a href="#" class="print_btn btn">打<nbsp1></nbsp1>印</a>
            <a href="#" class="print_barcode_btn btn">打印条码</a>
          </div>
        </div>
        <div class=" common_storage_tab in_storage_tab ">
          <table cellpadding="0" cellspacing="0" id="" class="storage_tab order_tab in_storage_by_goods">
            <thead>
              <tr class="bg-color-e0e2cf color-282726">
                <th >#</th>
                <th >商品名称</th>
                <th >条码</th>
                <th >规格</th>
                <th >单位</th>
                <th >一级分类</th>
                <th >二级分类</th>
                <th >单价</th>
                <th >数量</th>
                <th >小计</th>
                <th >备注</th>
                <th > 操作</th>
              </tr>
            </thead>
            <tbody>

              <% 5.times do %>
              <tr>
                <td class="number">1</td>
                <td >
                  <div class="text_div">
                    <input type="text" value="澜泰纳米镀晶宾御套餐" readonly>
                  </div>
                </td>
                <td>887766555444</td>
                <td>长皮盒6项目</td>
                <td>套</td>
                <td>美容产品</td>
                <td>镀晶产品</td>
                <td><input type="text" value="680.00" class="width-130"></td>
                <td><input type="number" value="8" class="width-50"></td>
                <td>5,440.00</td>
                <td><input type="text" value="" class="width-160"></td>
                <td style="text-align:center"><i class="lnr lnr-cross-circle font-18"></i></td>
              </tr>
              <% end %>
              <tr>
                <td class="number">1</td>
                <td >
                  <div class="text_div">
                    <input type="text" placeholder="请选择要订货的商品"  readonly>
                    <span class="bg-color-fff">...</span>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-align-center"></td>
              </tr>
              <tfoot>
                <tr>
                  <td></td>
                  <td class="text-align-left ">合计:</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td >8</td>
                  <td >5,400.00</td>
                  <td></td>
                  <td></td>
                </tr>

              </tfoot>
            </tbody>
          </table>

        </div>
        <div class="common_storage_query">
          <div class="item_content margin-left-10 margin-top-10" >
            <label class="width-75">备注：</label>
            <textarea class="in_storage_remarks_textarea"></textarea>
          </div>
          <div class="item_content margin-top-10  margin-left-10">
            <label class="width-75">本次付款：</label>
            <input type="text" class="width-253 ">
          </div>
          <div class="item_content margin-top-10  margin-left-20">
            <label class="width-75 ">结算账户：</label>
            <input type="text" class="width-253 ">
          </div>
          <div class="item_content margin-top-10  margin-left-20 ">
            <label  class="width-75">本次欠款：</label>
            <input type="text" class="width-253">
          </div>
          <div class="item_content  margin-left-10 ">
            <label class="width-75">制单人：</label>
            <label class="width-253"></label>
          </div>
        </div>
        <div class="btn_group margin-right-20">
          <a class="cancel_btn btn" href="#" >取消</a>
          <a class="save_btn btn" href="#" >确定</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div  class="popup_box" id="pop_new_material"  >
  <span class="verticalAlign"></span>
  <div class="new_products">
    <div class="new_products_inner">
      <div class="top">
        <span class="float-left">新建商品</span>
        <span class="font-28 float-right padding-right-10 cursor-pointer doclose" id="close_02">×</span>
      </div>
      <div class="new_product_content">
        <form>
          <div class="item_content">
            <label class="width-75">商品名称</label>
            <input type="text" class="width-165" placeholder="请输入名称">
          </div>
          <div class="item_content">
            <label class="width-75">条形码</label>
            <input type="text" class="width-165" placeholder="若不填则系统自动生成">
          </div>
          <div class="item_content">
            <label class="width-75">助记码</label>
            <input type="text" class="width-165">
          </div>
          <div class="item_content">
            <label class="width-75">商品规格</label>
            <input type="text" class="width-165">
          </div>
          <div class="item_content">
            <label class="width-75">成本价</label>
            <input type="text" class="width-165" placeholder="输入成本价会影响原成本价 ">
          </div>
          <div class="item_content">
            <label class="width-75">最低售价</label>
            <input type="text" class="width-165">
          </div>
          <div class="item_content">
            <label class="width-75">一级分类</label>
            <input type="hidden" name='material[store_material_category1_id]' value="">
            <span id='store_material_cateory1_id' class="width-157 as_select" data-select='#material_category1_select' data-target='input[name="material[store_material_category1_id]"]'>请选择</span>
            <div id='material_category1_select' class="select width-165">
              <ol class="width-165">
                <li data-value="1">美容</li>
                <li data-value="2">配件</li>
                <li data-value="3">套装</li>
                <li data-value="4">耗材</li>
                <li data-value="4">工具</li>
              </ol>
              <a class='add_btn width-158' data-method='add_category' href="javascript:void(0);">新增</a>
            </div>
          </div>

          <div class="item_content">
            <label class="width-75">二级分类</label>
            <input type="hidden" name='material[store_material_category2_id]' value="">
            <span id='store_material_category2_id' class="width-157 as_select" data-select='#material_category2_select' data-target='input[name="material[store_material_category2_id]"]'>请选择</span>
            <div id='material_category2_select' class="select width-165">
              <ol class="width-165">
                <li data-value="1">美容</li>
                <li data-value="2">镀晶</li>
                <li data-value="3">打蜡</li>
                <li data-value="4">钣金</li>
                <li data-value="4">喷漆</li>
              </ol>
              <a class='add_btn width-158' data-method='add_category' href="javascript:void(0);">新增</a>
            </div>
          </div>

          <div class="item_content">
            <label class="width-75">商品单位</label>
            <input type="hidden" name='material[store_material_unit_id]' value="">
            <span id='store_material_unit_id' class="width-157 as_select" data-select='#material_unit_select' data-target='input[name="material[store_material_unit_id]"]'>请选择</span>
            <div id='material_unit_select' class="select width-165">
              <ol class="width-165">
                <li data-value="1">平方米</li>
                <li data-value="2">个</li>
                <li data-value="3">盒</li>
                <li data-value="4">瓶</li>
                <li data-value="5">条</li>
              </ol>
              <a class='add_btn width-158' data-method='add_category' href="javascript:void(0);">新增</a>
            </div>
          </div>

          <div class="item_content">
            <label class="width-75">商品品牌</label>
            <input type="hidden" name='material[store_material_brand_id]' value="">
            <span id='store_material_brand_id' class="width-157 as_select" data-select='#material_brand_select'
            data-target='input[name="material[store_material_brand_id]"]'>请选择</span>
            <div id='material_brand_select' class="select width-165">
              <ol class="width-165">
                <li data-value="1">澳大利亚卡古</li>
                <li data-value="2">米其林</li>
                <li data-value="3">澜泰</li>
                <li data-value="4">巴尔扎克</li>
                <li data-value="5">途乐</li>
              </ol>
              <a class='add_btn width-158' data-method='add_category' href="javascript:void(0);">新增</a>
            </div>
          </div>

          <div class="item_content">
            <label class="width-75">生产单位</label>
            <input type="hidden" name='material[store_material_manufacturer_id]' value="">
            <span id='store_material_manufacturer_id' class="width-157 as_select" data-select='#material_manufacturer_select' data-target='input[name="material[store_material_manufacturer_id]"]'>请选择</span>
            <div id='material_manufacturer_select' class="select width-165">
              <ol class="width-165">
                <li data-value="1">天津卡吉</li>
                <li data-value="2">杭州米其林</li>
                <li data-value="3">杭州澜泰</li>
                <li data-value="4">米其林进口</li>
                <li data-value="5">杭州雪兰</li>
                <li data-value="6">杭州鼎洪</li>
              </ol>
              <a class='add_btn width-158' data-method='add_category' href="javascript:void(0);">新增</a>
            </div>
          </div>

          <div class="item_content outline item_property text-align-left margin-left-54">
            <label class="width-75">商品属性</label>
            <input type="checkbox" checked="checked" class="margin-left-15"><label>自用</label>
            <input type="checkbox" class="margin-left-26" ><label >销售</label>
          </div>


          <div class="item_content outline item_inventory margin-left-106">
            <label class="width-80  font-weight-bold">
              <input type="radio"  class="toggleable width-13" data-target="inventory" data-checked>
              库存预警：
            </label>
            <div class="display-inline-block width-155 text-align-center">
              <label>数量上限</label>
              <input data-id="inventory" disabled="true" type="text" class="width-80" required="true">
            </div>
            <div class="display-inline-block width-155 text-align-center">
              <label>数量下限</label>
              <input data-id="inventory" disabled="true" type="text" class="width-80" required="true">
            </div>
          </div>

          <div class="item_content outline shelf_life margin-left-50">
            <input type="radio" class="toggleable width-13" data-target="shelf_life" data-checked>
            <label class="">保质期提醒</label>
            <div class="input_div">
              <input type="text" class="width-50 " data-id="shelf_life" disabled="disabled" required="true">
              <label>天</label>
            </div>
          </div>

          <div class="item_textarea ">
            <label class="width-75">备注</label>
            <textarea class=" text-indent-5  width-976"></textarea>
          </div>
      </form>
      </div>
      <div class="btn_group">
        <a href="#" class="cancel_btn btn">取消</a>
        <input type="submit"  value="保存" class="save_btn btn" id="save">
      </div>
    </div>
  </div>
</div>

<div class="popup_box" id="pop_choose_goods">
  <span class="verticalAlign"></span>
  <div   class="choose_ordergoods" >
    <div class="top">
      <span class="float-left">选择商品</span>
      <span class="font-28 float-right padding-right-10 cursor-pointer doclose" id="close_01">×</span>
    </div>
    <div class="title">
      <span class="font-20 float-left first_title">选择入库商品</span>
      <span class="second_title">
          如果供应商关联的商品不在列表内，请通过类别下拉菜单进行选择类别查询，如果还是没有，请点击新建按钮，添加新商品
          <a class="new_btn float-right btn margin-top-10 dobtn" >新建商品</a>
      </span>
    </div>
    <div class="ordergoods_content" >
      <div class="order_list">
        <div class="list">
          <div class="list_top list_tr border-none">

            <ul>
              <li class=" see_search" >
                <span class="cursor-pointer">商品</span>
                <div class="select_ordergoods_div">
                  <input type="text" class="width-165"  placeholder="查找产品">
                  <a href="#" class="search_btn btn">查找</a>
                </div>
              </li>
              <li>条 码</li>
              <li>规格</li>
              <li>
                <select class="width-60 top_select">
                  <option>类别</option>
                  <option>类别</option>
                  <option>类别</option>
                </select>
              </li>
              <li >操作</li>
            </ul>
          </div>
          <div class="material_list">
            <% 10.times do %>
            <div class="list_content list_tr">
              <ul>
                <li >米其林轮胎</li>
                <li >12304567890123</li>
                <li >195/65/15XM291V</li>
                <li >汽配</li>
                <li ><input type="checkbox" class="checkbox"></li>
              </ul>
            </div>
            <% end %>
          </div>

        </div>
      </div>
      <div class="popup_order_foot">
        <a href="#" class="cancel_btn btn margin-top-10">取消</a>
        <input type="submit" value="选中" class="save_btn btn " id="pitch_on">
      </div>
    </div>
  </div>
</div>
