
<div class="top_content records">
  <div class="content_tab_top">
    <table cellpadding="0" cellspacing="0" width="100%" class="top_tab common_top">
      <tbody>
        <tr>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class="text-align-left">
                <a href="#">供应商总数</a>
                <span   class="num_color font-24  tab_span ">132</span></td>
              </tr>
            </table>
          </td>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class=" text-align-left">
                  <a href="#">汽配产品类</a>
                  <span class="num_color  tab_span font-14 float-right">74位</span>
                </td>
              </tr>
              <tr>
                <td class=" text-align-left">
                  <a href="#">美容产品类</a>
                  <span class="num_color  tab_span font-14 float-right">12位</span>
                </td>
              </tr>
            </table>
          </td>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class=" text-align-left"><a href="#">装饰产品类</a>
                <span class="num_color  tab_span font-14 float-right">74位</span></td>
              </tr>
              <tr>
                <td class=" text-align-left"><a href="#">用品产品类</a>
                <span class="num_color  tab_span font-14 float-right">12位</span></td>
              </tr>
            </table>
          </td>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class=" text-align-left">
                  <a href="#">电子产品类</a>
                  <span class="num_color  tab_span font-14 float-right">74位</span>
                </td>
              </tr>
              <tr>
                <td class=" text-align-left">
                  <a href="#">汽保工具类</a>
                  <span class="num_color  tab_span font-14 float-right">12位</span>
                </td>
              </tr>
            </table>
          </td>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class=" text-align-left">
                  <a href="#">业务往来最多</a>
                  <span class="num_color  tab_span font-14 float-right">74位</span>
                </td>
              </tr>
              <tr>
                <td class=" text-align-left">
                  <a href="#">业务往来最少</a>
                  <span class="num_color  tab_span font-14 float-right">12位</span>
                </td>
              </tr>
            </table>
          </td>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class="text-align-left">
                  <a href="#">业务金额最大</a>
                  <span class="num_color  tab_span font-14 float-right">74位</span>
                </td>
              </tr>
              <tr>
                <td class=" text-align-left">
                  <a href="#">业务数量最多</a>
                  <span class="num_color  tab_span font-14 float-right">12位</span>
                </td>
              </tr>
            </table>
          </td>
          <td >
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class=" text-align-right">
                  <a href="#">订货总金额</a>
                  <span   class="num_color text-align-right font-24 tab_span">22,8677</span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
