<div class="calendar-wrap">
  <div class="month_calendar">
    <%= render 'month_calendar' %>
  </div>

  <div class="calendar-controls">
    <a href="javascript:void(0)" class="add-btn js-add-event"><i class="fa fa-plus"></i>新建</a>
    <a href="javascript:void(0)" class="show-btn"><i class="fa fa-eye"></i>查看</a>
  </div>
</div>
