<div class="calendar-wrap">
  <div class="month_calendar">
    <%= render 'month_calendar' %>
  </div>

  <div class="calendar-controls">
    <a href="javascript:void(0)" class="add-btn js-add-event" data-target=".calendar-floatwindow-wrap"><i class="icon icon-plus"></i>新建</a>
    <a href="javascript:void(0)" class="show-btn js-show-events" data-target=".show-floatwindow-wrap"><i class="fa fa-eye"></i>查看</a>
  </div>
</div>
