<div class="title">
  <h3>消息列表</h3>
</div>
<section class="reminders">
  <ul class="items">
    <li class="item">
      <div class="item-icon">
        <i class="fa fa-envelope"></i>
      </div>
      <dl class="item-content">
        <dd>信息提醒</dd>
        <dd><span class="number">3</span></dd>
      </dl>
    </li>
    <li class="item">
      <div class="item-icon">
        <i class="fa fa-phone"></i>
      </div>
      <dl class="item-content">
        <dd>回访提醒</dd>
        <dd><span  class="number"><%= @store_trackings.count%></span></dd>
      </dl>
    </li>
    <li class="item">
      <div class="item-icon">
        <i class="fa fa-commenting"></i>
      </div>
      <dl class="item-content">
        <dd>消息提醒</dd>
        <dd><span  class="number">3</span></dd>
      </dl>
    </li>
    <li class="item">
      <div class="item-icon">
        <i class="fa fa-calendar"></i>
      </div>
      <dl class="item-content">
        <dd>日历提醒</dd>
        <dd><span  class="number">3</span></dd>
      </dl>
    </li>
    <li class="item">
      <div class="item-icon">
        <i class="fa fa-cog"></i>
      </div>
      <dl class="item-content">
        <dd>系统消息</dd>
        <dd><span  class="number">3</span></dd>
      </dl>
    </li>
    <li class="item">
      <div class="item-icon">
        <i class="fa-university"></i>
      </div>
      <dl class="item-content">
        <dd>总部消息</dd>
        <dd><span  class="number">3</span></dd>
      </dl>
    </li>
  </ul>
</section>
