<ul class="work-menu">
  <li class="item">
    <a href="javascript:void(0)">
      <div class="item-icon">
        <i class="fa fa-cubes"></i>
      </div>
      <span class="item-menu">库存列表</span>
    </a>
  </li>
  <li class="item">
    <a href="javascript:void(0)">
      <div class="item-icon">
        <i class="fa fa-user"></i>
      </div>
      <span class="item-menu">客户列表</span>
    </a>
  </li>
  <li class="item">
    <a href="javascript:void(0)">
      <div class="item-icon">
        <i class="fa fa-cog"></i>
      </div>
      <span class="item-menu">设置</span>
    </a>
  </li>
  <li class="item">
    <a href="javascript:void(0)">
      <div class="item-icon">
        <i class="fa fa-users"></i>
      </div>
      <span class="item-menu">供应商管理</span>
    </a>
  </li>
  <li class="item">
    <a href="javascript:void(0)">
      <div class="item-icon">
        <i class="fa fa-gears"></i>
      </div>
      <span class="item-menu">服务设置</span>
    </a>
  </li>
</ul>
