<div class="work-floatwindow-wrap js-work-floatwindow-wrap" style="display:none">
  <div class="work-floatwindow">
    <div class="title">
      <h3>快捷方式编辑</h3>
      <a href="#" class='js-close-work-floatwindow-wrap'><i class="fa fa-times"></i></a>
    </div>

    <div class="menu">

    <% @works.each do |root_category| %>
      <div class="item">
        <h3><%= root_category[:name]%></h3>
        <ul class="menu-list">
          <% root_category[:sub_categories].each do |work| %>
            <li>
              <a href="javascript:void(0)" class="sub-menu js-sub-menu">
                <div class="menu-icons">
                  <i class="fa fa-users menu-icon"></i>
                  <i class="fa fa-check check-icon"></i>
                </div>
                <span class="menu-name"><%= work[:name]%></span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>


    </div>

    <div class="foot">
      <button type="button" name="button" class="confirm-btn">确定</button>
    </div>
  </div>
</div>
