<ul class="work-menu js-work-menu">
  <% @my_works.each do |work| %>
    <li class="item">
      <a href="<%= work[:url]%>">

        <div class="item-icon">
          <span class="close"><i class="fa fa-close"></i></span>
          <i class="icon <%= work[:icon]%>"></i>
        </div>
        <span class="item-menu"><%= work[:name]%></span>
      </a>
    </li>
  <% end %>
</ul>
