<dl class="tips-info">
  <dd>
    <label class="tip-icon"><i class="icon icon-male male"></i></label>
    <label for="" class="tips-label">到岗人数</label>
    <span class="tips-span"><%= @mechanics.count%></span>
  </dd>
  <dd>
    <label class="tip-icon"><i class="icon icon-wrench"></i></label>
    <label for="" class="tips-label">到岗技师</label>
    <span class="tips-span">11</span>
  </dd>
  <dd>
    <label class="tip-icon"><i class="icon icon-trophy"></i></label>
    <label for="" class="tips-label">奖励人数</label>
    <span class="tips-span">0</span>
  </dd>
  <dd>
    <label class="tip-icon"><i class="icon icon-bolt"></i></label>
    <label for="" class="tips-label">惩戒人数</label>
    <span class="tips-span">3</span>
  </dd>
  <dd>
    <label class="tip-icon"><i class="icon icon-bell"></i></label>
    <label for="" class="tips-label">提醒事件</label>
    <span class="tips-span">1222</span>
  </dd>
  <dd>
    <label class="tip-icon"><i class="icon icon-telephone"></i></label>
    <label for="" class="tips-label">投诉事件</label>
    <span class="tips-span"><%= @complaints.count%></span>
  </dd>
</dl>
