<!DOCTYPE html>
<html>
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>百世威盛ERP</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
  <link rel="stylesheet" type="text/css"  href="/mis/stylesheets/style.css">
  <link rel="stylesheet" href="/mis/stylesheets/main.css">
  <script type="text/javascript" src="/mis/js/base/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/mis/js/chart/echarts-all.js"></script>
  <script type="text/javascript" src="/mis/js/backbone/underscore-min.js"></script>
  <script type="text/javascript" src="/mis/js/backbone/backbone-min.js"></script>
  <script type="text/javascript" src="/mis/js/backbone/backbone.localStorage.js"></script>

</head>

  <link rel="stylesheet" href="/mis/stylesheets/sas.css">

  <body >

    <header class="header">
<nav class="nav">
  <div class="top">
    <div  class=' nav_top_left  top_left'>
      <i class="fa fa-list cursor-pointer" id="menu_click"></i>
    </div>

    <div class="nav_top_right top_right">
      <ul class="nav_right">
        <li>
          <a href="javascript:void(0)">
            <i class="fa fa-comment "></i>
            <span class="message_tip"></span>
          </a>

          <ul class="dropdown_menu list-group">
          	<li>
          		<a href="javascript:void(0)">系统消息(<span>6</span>)</a>
          	</li>
          	<li>
              <a href="javascript:void(0)">库存消息(<span>3</span>)</a>
          	</li>
          </ul>
        </li>

        <li>
          <a href="javascript:void(0)">
            <i class="fa  fa-user"></i>
            <span></span>
          </a>
          <ul class="dropdown_menu list-group">
            <li>
              <a href="javascript:void(0)">个人信息</a>
            </li>
            <li>
              <a href="javascript:void(0)">退出</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>

    
  <menu  class="sidemenu" id="sidemenu">
      <div class="first_menu ">
        <ul id="menu" class="menu">
          <li ><a href="#"   class="xianchang" ><i class="fa fa-clock-o"></i></a></li>
          <li ><a href="#"  class="shouyin"><i class="fa fa-calculator"></i></a></li>
          <li ><a href="#"  class="kehu" ><i class="fa fa-user"></i></a></li>
          <li ><a href="#"   class="xiaoshou" ><i class="fa fa-shopping-cart"></i></a></li>
          <li ><a href="#"   class="yuangong"><i class="fa fa-users"></i></a></li>
          <li ><a href="#" class="kucun"  ><i class="fa fa-cubes"></i></a></li>
          <li ><a href="#" class="caiwu"  ><i class="fa fa-jpy"></i></a></li>
          <li ><a href="#"  class="tongji"><i class="fa fa-line-chart"></i></a></li>
          <li ><a href="#"  class="shezhi"><i class="fa fa-cog"></i></a></li>
        </ul>
      </div>
      <div  id="second_menu">
    <div  class='float-left sec_menu xianchang' id="xianchang"  style="display:none;">
      <div class="  menulist">
        <h4>现场管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/xianchang/shigongxianchang/jianjie_gongwei.html">施工现场</a></li>
          <li><a href="/mis/xianchang/yuyuepaidan/index.html" >预约排单</a></li>
          <li><a href="/mis/xianchang/renyuandiaodu/index.html">人员调度</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu shouyin' id="shouyin"  style="display:none;">
      <div class="  menulist">
        <h4>收银POS</h4>
        <ul class="second_menu">
          <li ><a href="/mis/shouyin/shouyin/index.html" >收银</a></li>
          <li><a href="/mis/shouyin/yewukaidan/kaidan.html" >业务开单</a></li>
          <li><a href="/mis/shouyin/yixiangkaidan/yixiangkaidan.html" >意向开单</a></li>
          <li><a href="/mis/shouyin/yewutuidan/index.html" >业务退单</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu kehu' id="kehu" style="display:none;">
      <div class="  menulist">
        <h4>客户管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/kehu/kehuliebiao/index.html">客户列表</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu xiaoshou' id="xiaoshou" style="display:none;">
      <div class="  menulist">
        <h4>销售管理</h4>
        <ul class="second_menu">
          <li><a href="/mis/xiaoshou/shangpin/index.html">商品</a></li>
          <li ><a href="/mis/xiaoshou/fuwu/index.html">服务</a></li>
          <li><a href="/mis/xiaoshou/taocan/index.html">套餐</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu yuangong' id="yuangong"  style="display:none;">
      <div class="  menulist">
        <h4>员工管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/soa/yuangongliebiao/index.html">员工列表</a></li>
          <li><a href="/mis/soa/xinzi/index.html">薪资管理</a></li>
          <li><a href="/mis/soa/jixiao/index.html">绩效提成</a></li>
          <li><a href="/mis/soa/kaoqin/index.html">考勤奖惩</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu kucun' id="kucun" style="display:none;">
      <div class="menulist">
        <h4>库存管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/kucun/kucunliebiao/index.html">库存列表</a></li>
          <li><a href="/mis/kucun/ruku/index.html">入库</a></li>
          <li><a href="/mis/kucun/chuku/index.html">出库</a></li>
          <li><a href="/mis/kucun/dinghuo/index.html">批量订货</a></li>
          <li><a href="/mis/kucun/jit/index.html">临时订货</a></li>
          <li><a href="/mis/kucun/pandian/index.html">盘点</a></li>
          <li><a href="/mis/kucun/baosun/index.html">报损</a></li>
          <li><a href="/mis/kucun/tuihuo/index.html">退货</a></li>
          <li><a href="/mis/kucun/shouhou/index.html">售后</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu caiwu' id="caiwu"  style="display:none;">
      <div class=" menulist">
      <h4>财务管理</h4>
        <ul class="second_menu">
          <li><a href="/mis/ais/income/index.html">收入</a></li>
          <li ><a href="/mis/ais/cost/index.html">成本</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu tongji' id="tongji"  style="display:none;">
      <div class="  menulist">
      <h4>统计分析</h4>
        <ul class="second_menu">
          <li><a href="/mis/sas/xiaoshou/graph.html">销售</a></li>
          <li><a href="/mis/sas/kehu/graph.html">客户</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu shezhi' id="shezhi"  style="display:none;">
      <div class="  menulist">
      <h4>系统设置内容</h4>
        <ul class="second_menu">
          <li><a href="/mis/settings/mendian/index.html">门店信息</a></li>
          <li ><a href="/mis/settings/duanxin/feecharge.html">短信设置</a></li>
          <li><a href="/mis/settings/tichengfangan.html">提成方案</a></li>
          <li><a href="/mis/settings/zuzhijiagou.html">组织架构</a></li>
          <li><a href="/mis/settings/quanxian/yonghupeizhi.html">权限设置</a></li>
          <li><a href="/mis/settings/leibie/shangpin.html">类别设置</a></li>
          <li><a href="/mis/settings/account/index.html">结算信息</a></li>
          <li><a href="/mis/settings/cangku/cangku.html">仓库管理</a></li>
        </ul>
      </div>
    </div>
  </menu>
  <script type="text/javascript"  src="/mis/js/showsecondMenu.js"></script>


    <main id='main' >
      <div class="content"  id="content">
        <div class="page_head main_top">
  <span class="font-18 margin-right-15">销售分析</span>

  <select class="width-90" onchange="self.location.pathname=options[selectedIndex].value">
    <option value="/mis/sas/xiaoshou/index.html">报表</option>
    <option value="/mis/sas/xiaoshou/graph.html" selected>图形分析</option>
  </select>
  <a class="back_to_list" href="index.html">
  <i class="fa-arrow-circle-left  fa" ></i>
  返回列表
</a>

</div>

<div class="details sales_analysis">

  <div class="abstrct">
    <div class="material_sales">
      <div class="image">
        <i class="fa fa-shopping-cart"></i>
      </div>

      <ul>
        <li>商品销售</li>
        <li>23,789.00</li>
        <li>本月</li>
        <li class="position-relative">
          <span>35%</span>
          <i class="fa fa-long-arrow-down"></i>
        </li>
      </ul>
    </div>


    <div class="service_sales">
      <div class="image">
        <i class="fa fa-car"></i>
      </div>

      <ul>
        <li>服务销售</li>
        <li>23,789.00</li>
        <li>本月</li>
        <li class="position-relative">
          <span>35%</span>
          <i class="fa fa-long-arrow-down"></i>
        </li>
      </ul>
    </div>


    <div class="package_sales">
      <div class="image">
        <i class="fa fa-credit-card"></i>
      </div>

      <ul>
        <li>套餐销售</li>
        <li>23,789.00</li>
        <li>本月</li>
        <li class="position-relative">
          <span>35%</span>
          <i class="fa fa-long-arrow-down"></i>
        </li>
      </ul>
    </div>

  </div>



  <div class="details_content">

    <div class="graphs">

      <div class="bar_chart">
        <select class="width-90">
          <option value="half_year">半年图</option>
          <option value="year_on_year">同比图</option>
        </select>

        <div id="half_year_barchart" class="half_year_barchart"  style="height:320px;width:720px;"></div>
        <div id="year_on_year_barchart" class="year_on_year_barchart"  style="height:320px;width:720px;"></div>
      </div>

      <div class="pie_chart">
        <div id="payment_piechart" class="payment_piechart"  style="height:300px;width:320px;"></div>
        <div id="sales_piechart" class="sales_piechart"  style="height:300px;width:320px;"></div>
      </div>
    </div>

    <div class="personal_achivement">
      <div class="left">
        <select class="width-100">
          <option>全部</option>
        </select>

        <ul class="achives_top">
          <li>业绩 TOP</li>
          <li>李莉莉</li>
          <li>233单</li>
          <li>9,786.00</li>
        </ul>

        <ul class="material_top">
          <li>商品 TOP</li>
          <li>御马房脚垫</li>
          <li>23件</li>
          <li>2,786.00</li>
        </ul>

        <ul class="service_top">
          <li>服务 TOP</li>
          <li>普通洗车</li>
          <li>488件</li>
          <li>1,786.00</li>
        </ul>

        <ul class="package_top">
          <li>套餐 TOP</li>
          <li>养车无忧套餐</li>
          <li>28件</li>
          <li>1,786.00</li>
        </ul>
      </div>

      <div class="line_chart">
        <div id="linchart" class="linechart" style="height:300px;"></div>
      </div>
    </div>

  </div>

</div>

<script src="/mis/js/sas/xiaoshou/graph.js"></script>

      </div>
    </main>


    <script type="text/javascript" src="/mis/js/click_menu.js"></script>
    <script type="text/javascript" src="/mis/js/alert.js"></script>
    <script type="text/javascript" src="/mis/js/order_number.js"></script>
    <script type="text/javascript" src="/mis/js/continue.js"></script>
  </body>

</html>
