<div class="main_top margin-left-0">
  <h2>客户列表</h2>
  <span class="margin-left-20 font-16 main_top_span">客户详情</span>
  <a class="back_to_list" href="/crm/store_customers/<%= @customer.id %>/store_vehicle_archives/<%= @vehicle.id %>">
    <i class="fa-arrow-circle-left  fa" ></i>
    返回列表
  </a>
</div>
