<ul class="page_card">
  <li class="add_carinfo">
    <%= link_to '+', new_crm_store_customer_store_vehicle_archive_path %>
  </li>
  <% @vehicles.each_with_index do |vehicle, index| %>
    <li <%= 'class=active' if @vehicle == vehicle %> >
      <%= link_to index, crm_store_customer_store_vehicle_archive_path(@customer, vehicle) %>
    </li>
  <% end %>
</ul>
