<div class="main_top">
        <h2>入库</h2>
        <span class="add_span">+</span>
      </div>
      <div class="details">
         <div class="top_content records">
          <div class="in_storage_list">
            <div class="search_nav">
              <div class="item-query">
                <label>时间</label>
                <input type="text" class="width-150" placeholder="输入产品关键字">
              </div>
              <div class="item-query">
                <label>查找订货单</label>
                <select type="text" class="width-150">
                  <option></option>
                  <option></option>
                </select>
              </div>
              <div class="item-query">
                <label>供应商</label>
                <select type="text" class="width-150">
                  <option></option>
                  <option></option>
                </select>
              </div>
              <div class="item-query">
               <a href="#" class="query_btn btn">查<nbsp2></nbsp2>询</a>
              </div>
              <div class="query_div">
               <a  href="ruku.html" class="in_stg_btn btn">入库</a>
               <a  href="rukujilu.html" class="notes_btn btn">记录</a>
              </div>
            </div>
            <div class="in_storage common_storage by_orders">
              <div class="list">
                <ul class="list_top">
                  <li class="list_tr">
                   <ul>
                      <li class="first_td" >#</li>
                      <li class="second_td" >时间</li>
                      <li class="third_td" >订货单号</li>
                      <li class="forth_td">供应商</li>
                      <li class="fifth_td">商品类别</li>
                      <li class="sixth_td" >金额</li>
                      <li class="serventh_td">明细</li>
                      <li class="eightth_td">操作</li>
                   </ul>
                  </li>
                </ul>
                <div class="list_content list_tr">
                    <ul>
                      <li class="first_td border_left">1.</li>
                      <li class="second_td">2014-12-19</li>
                      <li class="third_td">887766554444</li>
                      <li class="forth_td">杭州鼎洪科技有限公司</li>
                      <li class="fifth_td">美容类</li>
                      <li class="sixth_td">5,440.00</li>
                      <li class="serventh_td">澜泰纳米镀晶套装
                        <i class="fa fa-chevron-down chevrondow float-right"></i>
                      </li>
                      <li class="eightth_td border-none">
                        <input type="checkbox">
                      </li>
                    </ul>
                </div>
               <div class="storage_details" style='display: none;'>
                <table cellpadding="0" cellspacing="0"  class="storage_details_tab" >
                  <tr>
                    <th>商品</th>
                    <th>归档</th>
                    <th>单位</th>
                    <th>单价</th>
                    <th>数量</th>
                  </tr>
                  <tr>
                    <td>米其林轮胎</td>
                    <td>255/60/17 XM2 91V</td>
                    <td>条</td>
                    <td>750.00</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div>


                <div class="list_content list_tr">
                    <ul>
                      <li class="first_td  border_left">2.</li>
                      <li class="second_td">2014-12-19</li>
                      <li class="third_td">887766554444</li>
                      <li class="forth_td">杭州鼎洪科技有限公司</li>
                      <li class="fifth_td">美容类</li>
                      <li class="sixth_td">5,440.00</li>
                      <li class="serventh_td">澜泰纳米镀晶套装套装
                        <i class="fa fa-chevron-down chevrondow float-right"></i>
                      </li>
                      <li class="eightth_td  border-none">
                        <input type="checkbox">
                      </li>
                     </ul>
                </div>
                <div class="list_content list_tr">
                    <ul>
                      <li class="first_td  border_left">3.</li>
                      <li class="second_td">2014-12-19</li>
                      <li class="third_td">887766554444</li>
                      <li class="forth_td">杭州鼎洪科技有限公司</li>
                      <li class="fifth_td">美容类</li>
                      <li class="sixth_td">5,440.00</li>
                      <li class="serventh_td ">澜泰纳米镀晶套装套装
                        <i class="fa fa-chevron-down chevrondow float-right"></i>
                      </li>
                      <li class="eightth_td  border-none">
                        <input type="checkbox">
                      </li>
                     </ul>
                   </div>
              </div>
            </div>
            <div class="in_storage by_goods">
              <div class="list">
                <ul class="list_top">
                  <li class="list_tr ">
                   <ul>
                      <li class="first_td" >#</li>
                      <li class="second_td" >产品名称</li>
                      <li class="third_td" >条码</li>
                      <li class="forth_td">规格</li>
                      <li class="fifth_td">单位</li>
                      <li class="sixth_td" >一级分类</li>
                      <li class="serventh_td">二级分类</li>
                      <li class="eightth_td" >单价</li>
                      <li class="ninth_td">仓库数</li>
                      <li class="tenth_td" >仓库位</li>
                      <li class="eleventh_td">备注</li>
                      <li class="twelfth_td">操作</li>
                    </ul>
                  </li>
                </ul>
                <div class="list_content list_tr">
                    <ul>
                      <li class="first_td border_left">1.</li>
                      <li class="second_td">澜泰宾御纳米镀晶套装</li>
                      <li class="third_td">887766554444</li>
                      <li class="forth_td">长皮盒6项目</li>
                      <li class="fifth_td">套</li>
                      <li class="sixth_td">美容产品</li>
                      <li class="serventh_td">镀晶产品</li>
                      <li class="eightth_td">680.00</li>
                      <li class="ninth_td">8</li>
                      <li class="tenth_td">总库房</li>
                      <li class="eleventh_td"></li>
                      <li class="twelfth_td border-none">
                        <input type="checkbox">
                      </li>
                    </ul>
                </div>
                <div class="list_content list_tr">
                   <ul>
                      <li class="first_td border_left">1.</li>
                      <li class="second_td">澜泰宾御纳米镀晶套装</li>
                      <li class="third_td">887766554444</li>
                      <li class="forth_td">长皮盒6项目</li>
                      <li class="fifth_td">套</li>
                      <li class="sixth_td">美容产品</li>
                      <li class="serventh_td">镀晶产品</li>
                      <li class="eightth_td">680.00</li>
                      <li class="ninth_td">8</li>
                      <li class="tenth_td">总库房</li>
                      <li class="eleventh_td"></li>
                      <li class="twelfth_td border-none">
                        <input type="checkbox">
                      </li>
                    </ul>
                </div>
                <div class="list_content list_tr">
                    <ul>
                      <li class="first_td border_left">1.</li>
                      <li class="second_td">澜泰宾御纳米镀晶套装</li>
                      <li class="third_td">887766554444</li>
                      <li class="forth_td">长皮盒6项目</li>
                      <li class="fifth_td">套</li>
                      <li class="sixth_td">美容产品</li>
                      <li class="serventh_td">镀晶产品</li>
                      <li class="eightth_td">680.00</li>
                      <li class="ninth_td">8</li>
                      <li class="tenth_td">总库房</li>
                      <li class="eleventh_td"></li>
                      <li class="twelfth_td border-none">
                        <input type="checkbox">
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="in_storage_content common_storage_content margin-top-80 margin-bottom-50">
          <div class="in_storage_query">
            <div class="pure-control-group">
              <div class="font-20 font-borderradius text-align-center">入</div>
            </div>
            <div class="pure-control-group">
              <label>时间：</label>
              <input type="text" class="width-135">
            </div>
            <div class="pure-control-group">
              <label>单号：</label>
              <input type="text" class="width-135">
            </div>
            <div class="pure-control-group">
              <label>供应商：</label>
              <select  class="width-240">
                <option></option>
                <option></option>
              </select>
            </div>
            <div class="pure-control-group">
              <label>数量：</label>
              <input type="text" class="width-135">
            </div>
            <div class="pure-control-group">
              <label>金额：</label>
              <input type="text" class="width-135">
            </div>
            <div class="in_storage_print">
              <a href="#" class="print_btn">打 <nbsp2></nbsp2> 印</a>
              <a href="#" class="print_barcode">打印条码</a>
            </div>
          </div>
          <div class="in_storage_tab common_storage_tab">
            <table cellpadding="0" cellspacing="0" id="storage_tab">
              <tr class="bg-color-e0e2cf color-282726">
                <th width="3%"#</th>
                <th width="18%" >商品名称</th>
                <th  width="8%" >条码</th>
                <th  width="8%" >规格</th>
                <th width="4%" >单位</th>
                <th  width="7%" >一级分类</th>
                <th  width="7%">二级分类</th>
                <th width="7%">单价</th>
                <th width="5%" >数量</th>
                <th  width="8%">小计</th>
                <th width="6%">付款状态</th>
                <th  width="15%">备注</th>
                <th width="4%"> 操作</th>
              </tr>
              <tr>
                <td>1</td>
                <td>澜泰宾御纳米镀晶套装</td>
                <td>887766555444</td>
                <td>长皮盒6项目</td>
                <td>套</td>
                <td>美容产品</td>
                <td>镀晶产品</td>
                <td>680.00</td>
                <td>8</td>
                <td>5,440.00</td>
                <td>未付款</td>
                <td></td>
                <td><i class="fa fa-trash-o delete"></i><!--<img src="/images/remove.png">--></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              </tr>

            </table>
          </div>
          <div class="btn_group"> <a class="edit_btn" href="#" >编辑</a> <a class="in_stg_btn" href="#" >入库</a> </div>

      </div>
