<div class="main_top">
  <%= breadcrumb_navigation ['系统设置', '类别', '客户类别'] %>
</div>


<div class="details">

  <div class="details_nav">
    <ul>
      <li><a href="/settings/material_categories" class="width-90">商品类别</a></li>
      <li class="bg-color-fff"><a href="javascript:void(0);" class="width-90">客户类别</a></li>
    </ul>
  </div>

  <div class="details_content customer_content">
    <ul class="head">
      <li class="new_customer_btn ">
        <label class="font-24">+</label>新建客户类别
      </li>
      <li class="delete_customer_btn">
        <label class="font-24">×</label> 删除
      </li>
    </ul>

    <div class="content">
      <div class="customer_categories_nav">
        <ul></ul>
      </div>

      <div class="customer_setting_wrap">
         <div class="customer_setting"></div>
      </div>

      <div class="btns">
        <label class="btn edit_btn">编辑</label>
        <label class="btn save_btn">保存</label>
      </div>
    </div>
  </div>

</div>
