<div class="main_top">
  <%= breadcrumb_navigation ['系统设置', '类别', '客户类别'] %>
</div>


<div class="details">

  <div class="details_nav">
    <ul>
      <li><a href="/settings/material_categories" class="width-90">商品类别</a></li>
      <li class="bg-color-fff"><a href="javascript:void(0);" class="width-90">客户类别</a></li>
    </ul>
  </div>

  <div class="details_content customer_content">
    <div class="head">
      <label class="new_customer_btn">新建客户类别</label>
      <label class="delete_customer_btn">删除</label>
    </div>

    <div id='categories' class="content">
      <div class="customer_categories_nav">
        <ul id='categories_names' class=""></ul>
      </div>

    </div>
  </div>

</div>
<input type="hidden" id='material_root_categories' data-categories='<%= [] %>'>
<input type="hidden" id='service_root_categories' data-categories='<%= [] %>'>
<% content_for :javascripts do %>
  <script>
    jQuery(function(){
      handle = new $$MIS.CustomerCategoriesHandleView();
    });
  </script>
<% end %>
