<div class="main_top">
  <%= breadcrumb_navigation ['系统设置', '类别', '客户类别'] %>
</div>


<div class="details">

  <div class="details_nav">
    <ul>
      <li><a href="/settings/material_categories" class="width-90">商品类别</a></li>
      <li class="bg-color-fff"><a href="javascript:void(0);" class="width-90">客户类别</a></li>
    </ul>
  </div>


</div>
