<div class="main_top">
  <h2>薪资管理</h2>
  <%= render '/soa/shared/return' %>
</div>

    <div class="display-record-detail-area">
    </div>

<div class="details">

  <div class="list_table salary_record_list_table">

    <%= render "soa/salaries/search_record" %>

    <% if @staffs.present? %>
      <%= render "soa/salaries/lists_have_checked_salaries"  %>
    <% else %>
      <h1>未查找到数据信息，请重新查找!</h1>
    <% end %>

  </div>
</div>

