<div class="reset">
  <header class="login_header">
    <span class="chinese">重设密码</span>
  </header>

  <main class="main">
    <div class="step">
      <a href="javascript:void(0)">1.输入验证码</a>
      <a href="javascript:void(0)"  class="active">2.设置新密码</a>
      <a href="javascript:void(0)">3.设置成功</a>
    </div>

    <div class="management">
      <form action="/mis/reset_password/success.html" method="get" >
        <ul class="account_info">
          <li><label>新密码:</label><input type="text"></li>
          <li><label>确认密码:</label><input type="text"></li>
          <li><button class="determine">确定</button></li>
        </ul>
      </form>

    </div>
  </main>

</div>
