<div class="vehicle_check_point">
  <div class="status">
    <dl><dd><label>油表油量</label>F<span class="oil"></span><span class="oil"></span>E</dd></dl>
    <dl><dd><label>行驶公里</label><span class="mileage"></span></dd></dl>
  </div>
  <div class="check_point">
    <img src="/images/car_status.png">
    <input type="checkbox" class="check_point_01 checktoggle" data-targetnode="check_point_01">
    <input type="checkbox" class="check_point_02 checktoggle" data-targetnode="check_point_02">
    <input type="checkbox" class="check_point_03 checktoggle" data-targetnode="check_point_03">
    <input type="checkbox" class="check_point_04 checktoggle" data-targetnode="check_point_04">
    <input type="checkbox" class="check_point_05 checktoggle" data-targetnode="check_point_05">
    <input type="checkbox" class="check_point_06 checktoggle" data-targetnode="check_point_06">
    <input type="checkbox" class="check_point_07 checktoggle" data-targetnode="check_point_07">
    <input type="checkbox" class="check_point_08 checktoggle" data-targetnode="check_point_08">
    <input type="checkbox" class="check_point_09 checktoggle" data-targetnode="check_point_09">
    <input type="checkbox" class="check_point_10 checktoggle" data-targetnode="check_point_10">
    <input type="checkbox" class="check_point_11 checktoggle" data-targetnode="check_point_11">
    <input type="checkbox" class="check_point_12 checktoggle" data-targetnode="check_point_12">
  </div>
</div>
<div class="vehicle_check_info">
  <label>车况检查记录</label>
  <ul>
    <li>1:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_01"></li>
    <li>2:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_02"></li>
    <li>3:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_03"></li>
    <li>4:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_04"></li>
    <li>5:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_05"></li>
    <li>6:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_06"></li>
    <li>7:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_07"></li>
    <li>8:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_08"></li>
    <li>9:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_09"></li>
    <li>10:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_10"></li>
    <li>11:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_11"></li>
    <li>12:<input type="text" class="width-150" placeholder="车辆损坏情况" data-id="check_point_12"></li>
  </ul>
</div>

<div class="car_parts">
  <img src="/images/car_parts.png">
  <ul>

    <li>
    <input type="checkbox" class=" checktoggle">
    </li>

    <li>
    <input type="checkbox" class=" checktoggle">
    </li>

    <li>
    <input type="checkbox" class=" checktoggle">
    </li>

    <li>
    <input type="checkbox" class=" checktoggle">
    </li>

    <li>
    <input type="checkbox" class=" checktoggle">
    </li>

    <li>
    <input type="checkbox" class=" checktoggle">
    </li>

    <li>
    <input type="checkbox" class=" checktoggle">
    </li>

    <li>
    <input type="checkbox" class=" checktoggle">
    </li>

    <li>
    <input type="checkbox" class=" checktoggle">
    </li>

  </ul>
</div>
