<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>项目</th>
      <th>工位</th>
      <th>用时</th>
      <th>技师</th>
      <th>检验</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>精致洗车</td>
    <td>洗车1号工位</td>
    <td>48:55</td>
    <td><span>李小龙</span> <span class="margin-left-10">王小斌</span></td>
    <td>李克勤</td>
  </tr>
  <tr>
    <td>澜泰纳米镀晶</td>
    <td>洗车1号工位</td>
    <td>48:55</td>
    <td><span>李小龙</span> <span class="margin-left-10">王小斌</span></td>
    <td>李克勤</td>
  </tr>
  </tbody>
</table>
