<h2>商品明细</h2>
<table cellpadding="0" cellspacing="0" class="commodity_details">
  <thead>
    <tr>
      <th>名称</th>
      <th>规格</th>
      <th>数量</th>
      <th>单价</th>
      <th>会员/套餐价</th>
      <th>优惠</th>
      <th>原因</th>
      <th>小计</th>
    </tr>
  </thead>
  <tbody>
  <tr data-id="list_commodity_01">
    <td>3MBeast Oil</td>
    <td>150ml</td>
    <td>1</td>
    <td>350.00</td>
    <td>-</td>
    <td>20.00</td>
    <td>折上折</td>
    <td>300.00</td>
  </tr>
  </tbody>
  <tfoot>
    <tr class="text-align-right">
      <td colspan="10">
        <label class="margin-right-10">小结：</label><label>9051.70</label>
      </td>
    </tr>
  </tfoot>
</table>

<h2>服务明细</h2>
<table cellpadding="0" cellspacing="0" class="service_details">
  <thead>
    <tr>
      <th>项目</th>
      <th>数量</th>
      <th>单价</th>
      <th>会员/套餐价</th>
      <th>优惠</th>
      <th>原因</th>
      <th>小计</th>
    </tr>
  </thead>
  <tbody>
  <tr data-id="list_service_01">
    <td>精致洗车</td>
    <td>1</td>
    <td>12000.00</td>
    <td>零售</td>
    <td>10.00</td>
    <td>5.00</td>
    <td>60.00</td>
  </tr>
  </tbody>
  <tfoot>
    <tr class="text-align-right">
      <td colspan="8">
        <label class="margin-right-10">小结：</label><label>936.00</label>
      </td>
    </tr>
  </tfoot>
</table>

<h2>套餐/储值明细</h2>
<table cellpadding="0" cellspacing="0" class="packages">
  <thead>
    <tr>
      <th>项目</th>
      <th>数量</th>
      <th>单价</th>
      <th>小计</th>
    </tr>
  </thead>
  <tbody>
  <tr data-id="list_package_01">
    <td>3M Gas Bam</td>
    <td>2</td>
    <td>330</td>
    <td>660</td>
  </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8">
        <label class="margin-right-10">小结：</label><label>5280</label>
      </td>
    </tr>
  </tfoot>
</table>

<div class="total_spending ">消费金额总计:<label>9,987.70</label></div>
