<dl>
  <dd>
  <label class="width-50">车牌号</label><input type="text" value="<%= order.license_number %>" class="width-110" readonly="">
  </dd>
  <dd>
  <label class="width-50">客户姓名</label><input type="text" value="<%= order.store_customer.try(:full_name) %>" class="width-110" readonly="">
  </dd>
  <dd>
  <label class="width-50">手机号</label><input type="text" value="<%= order.store_customer.try(:phone_number) %>" class="width-110" readonly="">
  </dd>
</dl>
