<form action="ticheng.html" method="get" >
              <div class="base_info">
                <div class="goods_img">
                  <div id='material_img_preview' class="goods_main_img"></div>
                  <ul id='material_img_thumbnails' class="goods_small_img">
                    <li id='preview_list'>
                      <% @store_material.store_material_images.each do |image| %>
                        <img src="<%= image.asset_path %>">
                      <% end %>
                    </li>
                  </ul>
                </div>
                <div class=" car_content">
                  <div class="float-left pure-u-1-2">
                    <table cellpadding="0" cellspacing="0" width="100%" class="car_info">
                      <tbody>
                        <tr>
                          <td>
                            <label class="width-75">商品名称</label>
                            <input type="text" class="width-165" value="碳纤白色保护膜" readonly />
                          </td>
                          <td>
                            <label class="width-75">规格</label>
                            <input type="text" class="width-165" value="白色 碳纤 3米X50米" readonly="true"/>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="width-75">最低售价</label>
                            <input type="text" class="width-165" value="0.00" readonly />
                          </td>
                          <td>
                            <label class="width-75">零售价</label>
                            <input type="text" class="width-165"  />
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="width-75 display-inline-block text-align-right">
                              <input type="radio"  class="toggleable width-13" data-target="bargain" data-checked>
                              优惠价
                            </span>
                            <input type="text" class="width-165" data-id="bargain" disabled="disabled" required="true">
                          </td>
                          <td>
                            <label class="width-75">批发价</label>
                            <input type="text" class="width-165">
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label class="width-75">商品积分</label>
                            <input type="text" class="width-165">
                          </td>
                          <td>
                            <label class="width-75">销售分类</label>
                            <input type="hidden" name='material[store_sale_category_id]' value="">
                            <span id='store_sale_brand_id' class="width-157 as_select" data-select='#sale_category_select'
                            data-target='input[name="material[store_sale_category_id]"]'>请选择</span>
                            <div id='sale_category_select' class="select width-165">
                              <ol class="width-165">
                                <li data-value="1">是另一个标签</li>
                                <li data-value="2">例如:清洁类</li>
                              </ol>
                              <a class='add_btn width-158' data-method='add_category' href="javascript:void(0);">新增</a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <fieldset class="width-490 margin-left-26">
                              <legend class="margin-left-10">
                                <input type="checkbox" class="toggleable" data-target="split_merchandise_sales" data-checked>
                                <label>此商品拆分销售</label>
                              </legend>
                              <div>
                                <label class="width-75">计量单位</label>
                                <select class="width-160" data-id="split_merchandise_sales" disabled="disabled" required="true">
                                  <option>请选择</option>
                                  <option>米</option>
                                  <option>平方米</option>
                                  <option>升</option>
                                </select>
                              </div>
                              <div class="float-left">
                                <label class="width-75">总量</label>
                                <input type="text" class="width-160" data-id="split_merchandise_sales" disabled="disabled" required="true">
                              </div>
                              <div class="float-left">
                                <label class="width-75">拆分成本</label>
                                <input type="text" class="width-160" data-id="split_merchandise_sales" disabled="disabled" required="true">
                              </div>
                            </fieldset>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <fieldset class="width-490 margin-left-26">
                              <legend class="margin-left-10">
                                <input type="checkbox" class="toggleable" data-target="divide_to_retail"  data-checked>
                                <label>需要施工</label>
                              </legend>
                              <div class="float-left margin-left-20">
                                <label class="width-75 text-align-left margin-left-10">
                                  <input type="radio" class="width-15" name="radio_control" data-id="divide_to_retail" disabled checked>包含施工费
                                </label>
                              </div>
                              <div class="float-left">
                                <label class="width-75  margin-left-26">
                                  <input type="radio" class="width-15 toggleable" name="radio_control" data-id="divide_to_retail" disabled="disabled"
                                   required="true" data-target="divide_to_retail_another" data-checked>另计施工费
                                </label>
                                <input type="text" class="width-165" data-id="divide_to_retail_another" disabled required="true">
                              </div>
                            </fieldset>
                          </td>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                  <div  class="pure-u-1-2 float-left">
                    <div class="server_list" >
                      <div class="top">
                        <h2>服务项目列表</h2>
                        <span class="new_btn btn margin-top-10 float-right click_btn cursor" id="add_server_btn">创建</span>
                      </div>
                      <div class="none_server_data">
                        <p class="none_server_p">当前没有配套服务</p>
                        <p class="none_details">你可以先选择"需要施工"来激活服务列表，然后点击创建来添加配套的服务项目</p>
                      </div>
                      <div class="list" id="lists">
                        <div class="list_top">
                          <ul>
                            <li  >#</li>
                            <li  >名称</li>
                            <li >数量</li>
                            <li >施工时间</li>
                            <li >技师</li>
                          </ul>
                        </div>
                        <div class="list_content list_tr" data-id="list_content_01">
                          <ul class=" list_tr_hover">
                            <li >1.</li>
                            <li ><label class="click_btn cursor">澜泰纳米镀金</label></li>
                            <li>1</li>
                            <li >120</li>
                            <li >高级-高级
                             <span class="delete close" data-target="list_content_01"> <i class="lnr lnr-cross color-fff"></i> </span>
                            </li>
                          </ul>

                        </div>
                        <div class="list_content list_tr" data-id="list_content_02">
                          <ul class="list_tr_hover">
                            <li >2.</li>
                            <li ><label  class="click_btn cursor">澜泰纳米镀金</label></li>
                            <li>1</li>
                            <li >120</li>
                            <li >高级-高级</a><span class="delete close" data-target="list_content_02"> <i class="lnr lnr-cross color-fff"></i></span></li>
                          </ul>
                        </div>
                        <div class="list_content list_tr" data-id="list_content_03">
                            <ul class="list_tr_hover">
                              <li >3.</li>
                              <li ><label class="click_btn cursor">澜泰纳米镀金</label></li>
                              <li>1</li>
                              <li >120</li>
                              <li >高级-高级<span class="delete close" data-target="list_content_03"> <i class="lnr lnr-cross color-fff"></i> </span></li>
                            </ul>
                        </div>
                        <div class="list_content list_tr" data-id="list_content_04">
                            <ul class="list_tr_hover">
                              <li >4.</li>
                              <li ><label class="click_btn cursor">澜泰纳米镀金</label></li>
                              <li>1</li>
                              <li >120</li>
                              <li >高级-高级<span class="delete close" data-target="list_content_04"> <i class="lnr lnr-cross color-fff"></i> </span></li>
                            </ul>
                        </div>
                      </div>


                      <div class="add_server" id="add_server" style="display:none;">
                        <div class="pure-u-1-2  text-align-left float-left ">
                          <label class="width-50">服务名称</label>
                          <input type="text" class="width-130">
                        </div>
                        <div class="pure-u-1-2 text-align-right float-left ">
                          <label class="width-50">施工时间</label>
                          <input type="text" class="width-130">
                        </div>
                        <div class="pure-u-1-2  text-align-left float-left ">
                          <label class="width-50">技师</label>
                          <input type="text" class="width-130">
                        </div>
                        <div class="pure-u-1-2 text-align-right float-left ">
                          <label class="width-50">施工提成</label>
                          <input type="text" class="width-130">
                        </div>
                        <div class="pure-u-1-2  text-align-left float-left ">
                         <label class="width-50">次数</label>
                         <input type="text" class="width-55">
                         <label class="width-50">售后回访</label>
                         <input type="checkbox" class="width-15">
                        </div>
                        <div class="pure-u-1-2 text-align-right float-left ">
                          <label class="width-60">回访时间:</label>
                          <label class="width-60">施工结束后</label>
                          <select class="width-60">
                            <option></option>
                            <option></option>
                          </select>
                        </div>
                        <div class=" text-align-left float-right  pure-u-2-2">
                          <label class="width-60">回访内容：</label>
                          <label class="width-75 text-align-left"> 回访方式</label>
                          <select class="width-253">
                            <option></option>
                            <option></option>
                          </select>
                         </div>
                        <div class=" text-align-left float-right   pure-u-2-2 model">
                          <textarea > </textarea>
                        </div>

                        <div class="btn_group">
                          <input type="reset"  value="取消" class="cancel_btn btn cancel"  >
                          <input type="button"  value="保存" class="save_btn btn add_cancel"   >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn_group">
                  <input type="submit" class="save_btn btn" value="保存">
                </div>

              </div>
            </form>
