<% content_for :pre_assets do %>
  <%= javascript_include_tag 'kucun' %>
<% end %>

<div class="main_top">
  <h2>库存列表</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <%= render partial: 'kucun/materials/table_head' %>
  <div class="details_nav"><%= render partial: 'kucun/materials/material_settings_url' %></div>
    <div class="details_nav_second">
      <ul class="goods_nav">
        <li><a href="#" class="width-90">▲上一件商品</a></li>
        <li><a href="#" class="width-90">▼下一件商品</a></li>
        <li ><a href="#" class="width-90">返回列表</a></li>
      </ul>
    </div>
    <div class="details_content">
      <div class="base_info"><%= render 'form' %></div>
    </div>
</div>

<% content_for :javascripts do %>
  <script>
    jQuery(function(){
      window.$$MIS = window.$$MIS || {};
      $$MIS.methods = $$MIS.methods || {
        get: function(method_name){
              if(!method_name)return function(){console.error('Invalid method name!')}
              if(this[method_name]){return this[method_name];}else{return function(){console.log("Method #" + method_name + ' is not defined!')}}
            }
      };

      $$MIS.methods.add_saleinfo_category = function(){
        $('#modal_dialog').html("<iframe src='/kucun/material_saleinfo_categories/new' frameborder=0></iframe>").dialog({modal: true});
      }

      $$MIS.methods.add_material_saleinfo_category_callback = function(){
        var dialog = $('#modal_dialog').dialog('instance');
        $("#saleinfo_category_select > ol").append("<li data-value="+ this.id +">" + this.name + "</li>")
        dialog.destroy();
      }
      services = [];
      var show_tmpl = _.template($("#saleinfo_service_show").html());
      $("input[name='saleinfo[volume]']").on('change', function(){
        if(this.value){
          var x = (this.dataset.costpirce/this.value).toFixed(2);
          $('#divided_cost').val(x + '元/' + $("select[name='saleinfo[unit]'").val())
        }
      });

      $("select[name='saleinfo[unit]'").on('change', function(){
        var m = $("input[name='saleinfo[volume]']")[0];
        if(m.value){
          var x = (m.dataset.costpirce/m.value).toFixed(2);
          $('#divided_cost').val(x + '元/' + this.value)
        }
      });

      $('[name="saleinfo[service_fee_needed]"]').on('change', function(){
         if(this.dataset.target){
          $("[name='saleinfo[service_fee]']").removeAttr('disabled');
         }else{
          $("[name='saleinfo[service_fee]']").attr('disabled', true);
         }

      });

      $("input[name='saleinfo[service_needed]']").on('change', function(){
        if(this.checked){
          $('#add_server_btn').removeClass('disabled');
        }else{
          $('#add_server_btn').addClass('disabled');
        }
      });

      $('#add_server_btn').on('click', function(){
        if(this.classList.contains('disabled')){
          return false;
        }
        this.classList.add('disabled');
        var id = services.length + 1;
        var service = {id: id}
        services.push(service)
        var new_service_tmpl = _.template($("#new_saleinfo_service").html());
        $('div.server_list').append(new_service_tmpl.apply(service));
      });

      $('div.server_list').on('click', 'input.add_service', function(){
        var $form = $(this.parentNode.parentNode);
        var id = $form.data('id');
        var obj = services.filter(function(ser){ return ser.id == id})[0];
        obj.name = $form.find('[name="saleinfo[store_material_saleinfo_services][][name]"]').val();
        obj.times = $form.find('[name="saleinfo[store_material_saleinfo_services][][times]"]').val();
        obj.work_time = $form.find("[name='saleinfo[store_material_saleinfo_services][][work_time]']").val();
        obj.mechanic_level = $form.find('[name="saleinfo[store_material_saleinfo_services][][mechanic_level]"]').val();


        if(!obj.saved){
          obj.saved = true;
          $('#lists').append(show_tmpl.apply(obj)).show();
        }else{
          $(`[data-id="service_${obj.id}"]`).html(show_tmpl.apply(obj));
        }


        $form.hide();

        $('#add_server_btn').removeClass('disabled');
      });

      $("#lists").on('click','.click_btn', function(){
        $("[data-id='"+this.dataset.editformid+"']").show();
      });
    });
  </script>
<% end %>
