
<div class="main_top">
  <%= breadcrumb_navigation(['库存', '报损', '新建报损单']) %>
</div>
<div class="details">
    <div class="list_table">
      <div class="search_nav">
        <%= render partial: 'kucun/partials/inventory_search' %>
        <div class="query_div">
          <a href="#" class="returnstorage_btn btn">报损</a>
          <a href="/kucun/shrinkages/" class="notes_btn btn">记录</a>
        </div>
      </div>
      <div class="loss_report">
        <table cellpadding="0" cellspacing="0" class="index_list damaged_list">
          <thead>
            <tr>
              <th>全选</th>
              <th>商品名称</th>
              <th>商品条形码</th>
              <th>一级分类</th>
              <th>二级分类</th>
              <th>规格</th>
              <th>单位</th>
              <th>成本价</th>
              <th>库存数</th>
              <th>备注</th>
              <th></th>
            </tr>
          </thead>
          <tbody id='choices'>
          </tbody>
        </table>
      </div>
    </div>

    <div class="loss_report_content margin-bottom-50 common_storage_content float-left">
      <div class="loss_report_query">
          <div class="nav-item-query">
            <div class="font-20 font-borderradius text-align-center">损</div>
          </div>
          <div class="nav-item-query">
            <label>单号：</label>
            <input type="text" class="width-150" readonly>
          </div>
          <div class="nav-item-query">
            <label>时间：</label>
            <input type="text" class="width-150" readonly>
          </div>
          <div class="nav-item-query">
            <label>操作人：</label>
            <input type="text" class="width-150" readonly>
          </div>
      </div>
      <div class="loss_report_tab common_storage_tab">
        <%= form_tag '/kucun/shrinkages', id: 'shrinkage_form' do %>
        <table cellpadding="0" cellspacing="0" id="storage_tab" class="check_order storage_tab">
          <thead>
            <tr class=" bg-color-e39e66">
              <th>#</th>
              <th>产品名称</th>
              <th>条码</th>
              <th>规格</th>
              <th>单位</th>
              <th>一级分类</th>
              <th>二级分类</th>
              <th>单价</th>
              <th>仓库</th>
              <th>库存数</th>
              <th>报损数</th>
              <th>备注</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div class="common_storage_account">
          <div class="item_content margin-left-10" >
            <label class="width-75 vertical-align-top">备注：</label>
            <textarea name='shrinkage[remark]' class="remarks_textarea"></textarea>
          </div>
          <div class="item_content  margin-left-10">
            <label class="width-75">制单人：</label>
            <label class="width-253"></label>
          </div>
        </div>
      </div>
      <div class="btn_group margin-right-20">
        <input type="submit" class="save_btn btn" value="保存">
      </div>
      <% end %>
    </div>
</div>

<% content_for :javascripts do %>
<script>
  jQuery(function($){
     var choice_tmpl = JST['kucun/shrinkages/new/choice'];
     var chosen_tmpl = JST['kucun/shrinkages/new/chosen'];

     var materials = [];
     $('.query_btn').on('click', function(){
        $('#choices').html('');
        InventorySearch.search(InventorySearch.query_data(), choice_tmpl, function(html, data){
          $('#choices').html(html);
          materials = data.slice();
        });
     });

     function calc_total(){
        var total_quantity = 0,
            total_amount = 0;
        $('[name$="[quantity]"]').each(function(){
          total_quantity += parseInt(this.value);
          total_amount += (this.value * this.dataset.price);
        });
        $('#total_quantity').val(total_quantity);
        $('#total_amount').val(total_amount.toFixed(2));
     }

     function list_seq(argument) {
       $('#storage_tab > tbody').children().each(function(idx, el, undef){
         el.firstElementChild.innerText=(idx+1);
       });
     }

     $('#choices').on('change', 'input:checkbox', function(){
        var material_id = this.dataset.id;
        if(this.checked){
          var material = materials.filter(function(m){return m.store_material.id == material_id})[0];
          $('#storage_tab > tbody').append(chosen_tmpl(material.store_material));
        }else{
          $('#storage_tab > tbody > tr[data-id="' + material_id + '"]').remove()
        }
        calc_total();
        list_seq();
     });

     $('#shrinkage_form').on('submit', function(evt){
       if($('#storage_tab >tbody >tr').length < 1){
         ZhanchuangAlert('请至少添加一条商品报损!');
         evt.preventDefault();
         return false;
       }
     })
  });
</script>
<% end %>
