<div class="nav_query_wrap">
  <form id='queryForm' action='/crm/store_customers/<%= @customer.id %>/pre_orders' accept-charset='UTF-8' method='get'>
    <div class="nav-item-query">
      <label>选择车辆</label>
      <%= select_tag 'q[store_vehicle_registration_plate_id_eq]', options_for_select(@customer.plates.pluck(:license_number, :id)), class: 'width-120' %>
    </div>
    <div class="nav-item-query">
      <label class="width-70">选择时间</label>
      <input type="text" name='q[store_vehicle_orders_created_at_gt]' class="width-120 datepicker" readonly="true">
      <input type="text" name='q[store_vehicle_orders_created_at_lt]' class="width-120 datepicker" readonly="true">
    </div>
    <div class="nav-item-query">
      <a href="javascript:void(0)" class="btn query_btn">查<nbsp1></nbsp1>询</a>
    </div>
  </form>
</div>
