<div class="contract">
  <span class="width-60">劳动关系</span>

  <ul>
    <div class="contract-detail">
      <%= render 'contract_detail' %>
    </div>
    <li>
      <label for="remind">合同到期提醒</label>
      <%= form.check_box :contract_notice_enabled, checked: @staff.contract_notice_enabled, class: "vertical-align-middle margin-right-20 toggleable", id: "contract-notice-checkbox" %>
      提前<%= form.text_field :deadline_days, class: "width-50 margin-right-6 margin-left-6", id: "deadline-days", disabled: true %>天提醒
    </li>

    <li class="text-align-right">
      <input type="button" value="签订合同" class="sign_contract_btn">
    </li>
  </ul>
</div>


