
/*订货-新建商品-新建订货商品弹窗start*/
.popupbox_new_products{
	display:none;
	width:100%;
	height:1054px;
	position:absolute;
	top:0;
	left:0;
	background:rgba(127,127,127,0.5);
	z-index:3;
	overflow:scroll;
		div.new_products{
			display:block;
			z-index:3;
			margin:130px auto;
			background:#fff;
			width:82%;
			border:1px solid #e6e6e6;
			box-shadow:3px 3px 3px #efefef;
			overflow:hidden;
				div.top{
					height:45px;
					line-height:45px;
					border-bottom:1px solid #e6e6e6;
					padding:0 10px;
						span{
							padding-left:10px;
							font-size:16px;
							width:26px;
						}
						span.cancel_neworder{
							font-size:28px;
						}
			  }
				div.title{
					letter-spacing:2.5px;
					padding:10px 20px;
				}
			div.new_product_contents{
				width:100%;
				height:400px;
				padding-top:16px;
				 div.item_content{
					height:30px;
					line-height:30px;
					text-align:right;
					margin-bottom:20px;
						label{
							text-align:right;
							display:inline-block;
							height:26px;
							line-height:26px;
							color:#000;
							margin-right:10px;
						}
						input[type="text"]{
							width:156px;
							border:1px solid #dad9d9;
							height:20px;
						}
						select{
							width:162px;
							background:#DDDDDD;
							border:1px solid #dad9d9;
							height:28px;
						}
				}
				div.item_inventory{
					width:464px;
					height:40px;
					line-height:40px;
					margin:0 0 12px 46px;
					padding:0 0 0 26px;
					text-align:left;
          display:inline-block;
					float:left;
					border:1px solid #dad9d9;
					label{
						width:100px;
						margin-right:20px;
					}
					input[type='text']{
						margin-right:40px;
					}
				}
				div.shelf_life{
					width:176px;
					height:40px;
					line-height:40px;
					text-align:left;
					padding:0 16px;
					margin:0 0 12px 59px;
					div.input_span{
						height:40px;
						line-height:40px;
						input[type="text"]{
							width:40px;
						}
					}
				}
			div.item_textarea{
				width:1030px;
				margin:26px 0 10px 47px;
				textarea{
					width:1018px;
					min-height:110px !important;
				}
			}
			}
			div.btn_group{
				height:40px;
				line-height:40px;
				width:98%;
				text-align:right;
				margin:0 0 16px 0;
			}
		}
}
/*订货-新建商品-新建订货商品弹窗 end*/

/*订货-新建商品-选择订货商品弹窗 start*/
.popupbox_choose_ordergoods{
	display:none;
	width:100%;
	height:1054px;
	position:absolute;
	top:0;
	left:0;
	background:rgba(127,127,127,0.5);
	z-index:2;
.choose_ordergoods{
	width:800px;
  height:520px;
  margin:130px auto;
  background:#fff;
	  div.top{
			height:45px;
			line-height:45px;
			border-bottom:1px solid #e6e6e6;
			padding:0 10px;
				span{
					padding-left:10px;
					font-size:16px;
					width:26px;
				}
				span.cancel_neworder{
					font-size:28px;
				}
	  }
		div.title{
			letter-spacing:2.5px;
			padding:10px 20px;
		}
		div.ordergoods_content{
			width:100%;
				div.order_list{
					width:100%;
					height:256px;
					margin:4px auto 60px auto;
					padding:0 0 10px 0;
					 div.list{
						margin:0 5px;
						border:0;
						display:block;
							ul.list_top{
								border:0;
								height:40px;
								line-height:40px;
								width:99%;
								margin-bottom:18px;
								li.list_tr{
									width:97%;;
									margin-left:10px;
										ul{
											li{
												 select{
													background:#DDDDDD;
												  }
													&.first_td{
														position:relative;
														width:25%;

															div.search_ordergoods{
																display:block;
																border:1px solid #d5d4d4;
																border-top:0;
																box-shadow:3px 5px 10px #a1a0a0;
																width:226px;
																height:37px;
																line-height:37px;
																background:#fff;
																margin-left:60px;
																position:absolute;
																top:43px;
																z-index:10;
																input{
																	height:20px;
																	width:120px;
																}
																a{
																	background:#E5E4E4;
																	&:hover{
																		background:#198FFF;
																		color:#fff;
																	}
																}
													}
													input[type="button"]{
														font-size:16px;
														background:#DDDDDD;
														color:#000;
														outline:none;
														border:none;
														width:66px;
													}
													}
												&.second_td,&.third_td{
													width: 25%;
												}
												&.forth_td{
													width:13%;
												}
												&.fifth_td{
													width:11%;
												}
												}
										}
								}
							}
						div.list_contents{
							overflow-y:scroll;
							padding:0 0 0 8px;
							height:230px;
							width:98%;
							margin:auto;
								div.list_content{
									width:99%;
									border:0;
									margin-bottom:10px;
									overflow:hidden;
									border:1px solid #e6e6e6;
									li.first_td,li.second_td,li.third_td{
										width: 25%;
									}
									li.forth_td{
										width:13%;
									}
									li.fifth_td{
										width:11%;
									}
								}
						}
					}

				}
				div.order_new{
					margin:0;
					padding:0;
					width:100%;
					height:42px;
					width:99%;
					overflow:hidden;
					text-align:right;
					border-bottom:1px solid #e6e6e6;
						a.new_btn{
							margin:0 10px;
							background:#E2E2E6;
							color:#5F5D5D;
						}
						a.new_btn:hover{
							background:#198FFF;
							color:#fff;
						}
				}

				div.popup_order_foot{
					height:44px;
					line-height:44px;
					text-align:right;
					width:99%;
						input{
							margin-right:10px;
							border-radius:4px;
						}
				}

			}
}
}
/*订货-新建商品-选择订货商品弹窗 end*/
