<div class="search_nav">
  <%= form_tag("/ais/costs/search", method: :get) do -%>
    <div class="item-query">
      <label>时间</label>
      <%= date_field_tag :start, nil, class: "width-120" %> -
      <%= date_field_tag :end, nil, class: "width-120" %>
    </div>

    <div class="item-query">
      <label>查看方式</label>
      <select type="text" class="width-100">
        <option>汇总</option>
      </select>
    </div>

    <div class="item-query">
      <label>仓库选择</label>
      <select type="text" class="width-100">
        <option>全部</option>
      </select>

      <%= submit_tag "查询", class: "btn query_btn do_search_result" %>
    </div>

    <div class="query_div">
      <a href="#" class="print_btn btn">打印</a>
      <a href="#" class="export_btn btn">导出</a>
    </div>
  <% end %>
</div>
