<div class="edit_construction_info float-left" data-id="edit_construction">
  <h2>编辑施工信息</h2>
  <div class="constrction_info_tab">
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>项目</th>
          <th>流程</th>
          <th>工位</th>
          <th>用时</th>
          <th>技师</th>
          <th>检验</th>
        </tr>
      </thead>
      <tbody>
        <tr class="construction_process">
          <td>精致洗车</td>
          <td colspan="5">

            <ul class="item_project">
              <li><span class="number"></span>-冲洗</li>
              <li>
                <select class="width-100">
                  <option>洗车2号工位</option>
                  <option>洗车1号工位</option>
                </select>
              </li>
              <li><input type="text" value="15:00" class="width-60"></li>
              <li>
                <div class=" assign_technician ">
                  <ul>
                    <li class="do_coise_close">  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
                    <li class="do_coise_close">  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
                  </ul>
                  <i class="action_button fa-plus fa"></i>
                </div>
                <ul class="technician" style="display:none;">
                  <li>王强</li>
                  <li>张凯</li>
                  <li>李全瑶</li>
                  <li>刘力兵</li>
                  <li>魏权</li>
                </ul>
              </li>
              <li><label></label></li>
            </ul>

            <ul class="item_project">
              <li><span class="number"></span>-冲洗</li>
              <li>
                <select class="width-100">
                  <option>洗车2号工位</option>
                  <option>洗车1号工位</option>
                </select>
              </li>
              <li><input type="text" value="15:00" class="width-60"></li>
              <li>
                <div class=" assign_technician ">
                  <ul>
                    <li class="do_coise_close">  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
                    <li class="do_coise_close">  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
                  </ul>
                  <i class="action_button fa-plus fa"></i>
                </div>
                <ul class="technician" style="display:none;">
                  <li>王强</li>
                  <li>张凯</li>
                  <li>李全瑶</li>
                  <li>刘力兵</li>
                  <li>魏权</li>
                </ul>
              </li>
              <li><label></label></li>
            </ul>

            <ul class="item_project">
              <li><span class="number"></span>-冲洗</li>
              <li>
                <select class="width-100">
                  <option>洗车2号工位</option>
                  <option>洗车1号工位</option>
                </select>
              </li>
              <li><input type="text" value="15:00" class="width-60"></li>
              <li>
                <div class=" assign_technician ">
                  <ul>
                    <li class="do_coise_close">  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
                    <li class="do_coise_close">  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
                  </ul>
                  <i class="action_button fa-plus fa"></i>
                </div>
                <ul class="technician" style="display:none;">
                  <li>王强</li>
                  <li>张凯</li>
                  <li>李全瑶</li>
                  <li>刘力兵</li>
                  <li>魏权</li>
                </ul>
              </li>
              <li><label></label></li>
            </ul>

          </td>

        </tr>
        <tr  class="construction_process">
          <td>澜泰纳米镀晶</td>
          <td colspan="5">

            <ul class="item_project">
              <li><span class="number"></span>-漆面去污</li>
              <li>
                <select class="width-100">
                  <option>洗车2号工位</option>
                  <option>洗车1号工位</option>
                </select>
              </li>
              <li><input type="text" value="15:00" class="width-60"></li>
              <li>
                <div class=" assign_technician ">
                  <ul>
                    <li class="do_coise_close">  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
                    <li class="do_coise_close">  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
                  </ul>
                  <i class="action_button fa-plus fa"></i>
                </div>
                <ul class="technician" style="display:none;">
                  <li>王强</li>
                  <li>张凯</li>
                  <li>李全瑶</li>
                  <li>刘力兵</li>
                  <li>魏权</li>
                </ul>
              </li>
              <li><label></label></li>
            </ul>

            <ul class="item_project">
              <li><span class="number"></span>-漆面去污</li>
              <li>
                <select class="width-100">
                  <option>洗车2号工位</option>
                  <option>洗车1号工位</option>
                </select>
              </li>
              <li><input type="text" value="15:00" class="width-60"></li>
              <li>
                <div class=" assign_technician ">
                  <ul>
                    <li class="do_coise_close">  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
                    <li class="do_coise_close">  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
                  </ul>
                  <i class="action_button fa-plus fa"></i>
                </div>
                <ul class="technician" style="display:none;">
                  <li>王强</li>
                  <li>张凯</li>
                  <li>李全瑶</li>
                  <li>刘力兵</li>
                  <li>魏权</li>
                </ul>
              </li>
              <li><label></label></li>
            </ul>

            <ul class="item_project">
              <li><span class="number"></span>-漆面去污</li>
              <li>
                <select class="width-100">
                  <option>洗车2号工位</option>
                  <option>洗车1号工位</option>
                </select>
              </li>
              <li><input type="text" value="15:00" class="width-60"></li>
              <li>
                <div class=" assign_technician ">
                  <ul>
                    <li class="do_coise_close">  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
                    <li class="do_coise_close">  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
                  </ul>
                  <i class="action_button fa-plus fa"></i>
                </div>
                <ul class="technician" style="display:none;">
                  <li>王强</li>
                  <li>张凯</li>
                  <li>李全瑶</li>
                  <li>刘力兵</li>
                  <li>魏权</li>
                </ul>
              </li>
              <li><label></label></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="btn_group float-right margin-top-20">
    <a class="cancel_btn btn">取消</a>
    <a class="save_btn btn">保存</a>
  </div>
</div>
