<div class="vehicle_order">
	<span class="vehicle_order_title title doslide">
		业务信息
		<i class="fa-angle-double-up fa cursor-pointer"></i>
		<a href="javascript:void(0)" class="js-select-items">选择</a>
	</span>
	<div class="order_info">
		<h2>商品明细</h2>
		<table cellpadding="0" id='material-items' cellspacing="0" class="commodity_details">
      <thead>
      	<tr>
      		<th>名称</th>
      		<th>规格</th>
      		<th>数量</th>
      		<th>单价</th>
      		<th>会员价</th>
      		<th>优惠</th>
          <th>原因</th>
      		<th>小计</th>
      	</tr>
      </thead>
      <tbody>
        <tr v-for="item in items">
          <td>{{ item.name }} <input type="hidden" name='items[][orderable_id]' value="{{item.orderable_id}}"> <input type="hidden" name="items[][id]" value="{{item.id}}"></td>
          <td>{{ item.speci }}</td>
          <td>
            <input type='text' num un int min=1 v-model="item.quantity" placeholder="输入数量" class="width-20" required>
          </td>
          <td>{{ item.retail_price }}</td>
          <td>{{ item.vip_price }}</td>
          <td>
            <a href="javascript:void(0)" v-model="item.discount" v-on:click="makeDiscount($index, $event)" class="discount">
              <span v-if='item.discount'>{{item.discount}}</span>
              <span v-else>优惠</span>
            </a>
          </td>
          <td>
            <span v-model="item.discount_reason">{{item.discount_reason}}</span>
          </td>
          <td>
            <span class="js-material-saleinfo-item-price">{{ (item.quantity * item.price).toFixed(2) }}</span>
            <span class="delete close">
              <i class="lnr lnr-cross color-fff" v-on:click="removeItem($index, $event)"></i>
            </span>
        	</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="text-align-right">
      	  <td colspan="10">
            <label class="margin-right-10">小结：</label><label>{{totalPrice}}</label>
      		</td>
      	</tr>
      </tfoot>
		</table>

		<h2>服务明细</h2>
		<table cellpadding="0" cellspacing="0" id='service-items' class="commodity_details">
			<thead>
				<tr>
					<th>项目</th>
					<th>数量</th>
					<th>单价</th>
          <th>会员/套餐价</th>
					<th>优惠</th>
          <th>原因</th>
					<th>小计</th>
				</tr>
			</thead>
      <tbody>
        <tr v-for="item in items">
          <td> <i v-if="item.from_customer_asset">*</i> {{item.name}} <input type="hidden" name='items[][orderable_id]' value="{{item.orderable_id}}"> <input type="hidden" name="items[][id]" value="{{item.id}}"></td>
          <td>
            <span>{{item.quantity}}</span>
            <input type='hidden' v-model="item.quantity">
          </td>
          <td>{{ item.retail_price }}</td>
          <td>{{ item.vip_price }}</td>
          <td>
            <a v-if="!item.from_customer_asset" href="javascript:void(0)" v-model="item.discount" v-on:click="makeDiscount($index, $event)" class="discount">
              <span v-if='item.discount'>{{item.discount}}</span>
              <span v-else>优惠</span>
            </a>
          </td>
          <td>
            <span v-model="item.discount_reason">{{item.discount_reason}}</span>
          </td>
          <td>
            <span class="js-material-saleinfo-item-price">{{ item.quantity * item.price }}</span>
            <span class="delete close">
              <i class="lnr lnr-cross color-fff" v-on:click="removeItem($index, $event)"></i>
            </span>
        	</td>
        </tr>
      </tbody>
			<tfoot>
			  <tr class="text-align-right">
				  <td colspan="8">
            <label class="margin-right-10">小结：</label><label>{{totalPrice}}</label>
					</td>
				</tr>
			</tfoot>
		</table>

    <h2>套餐/储值明细</h2>
    <table cellpadding="0" cellspacing="0" id='package-items' class="commodity_details">
        <thead>
          <tr>
            <th>项目</th>
            <th>数量</th>
            <th>单价</th>
            <th>小计</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items">
            <td>{{ item.name }} <input type="hidden" name='items[][orderable_id]' value="{{item.orderable_id}}"> <input type="hidden" name="items[][id]" value="{{item.id}}"></td>
            <td>
              <input type='text' num un int min=1 v-model="item.quantity" placeholder="输入数量" class="width-20" required>
            </td>
            <td>{{ item.retail_price }}</td>
            <td>
              <span class="js-material-saleinfo-item-price">{{ item.quantity * item.price }}</span>
              <span class="delete close">
                <i class="lnr lnr-cross color-fff" v-on:click="removeItem($index, $event)"></i>
              </span>
        	  </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <label class="js-materil-saleinfo-item-total-price">小结：{{totalPrice}}</label>
            </td>
          </tr>
        </tfoot>
      </table>

      <div class="total_spending vue-store-order-new">消费金额总计:<label>{{amount}}</label></div>
	</div>

</div>
