<div class="vehicle_order vue-store-order-new">
	<span class="vehicle_order_title title doslide">
		业务信息
		<i class="fa-angle-double-up fa cursor-pointer"></i>
		<a href="javascript:void(0)" data-target="order_items" class="do_show">选择</a>
	</span>
	<div class="order_info">
		<h2>商品明细</h2>
		<table cellpadding="0" cellspacing="0" class="commodity_details material-saleinfo-table-items">
      <thead>
      	<tr>
      		<th>名称</th>
      		<th>规格</th>
      		<th>数量</th>
      		<th>单价</th>
      		<th>会员价</th>
      		<th>优惠</th>
          <th>原因</th>
      		<th>小计</th>
      	</tr>
      </thead>
      <tbody>
        <tr data-id="list_commodity_01" v-for="item in materialSaleinfoItems">
          <td style="display:none" class="material-saleinfo-table-item-id">{{item.id}}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.speci }}</td>
          <td>
            <input v-model="item.quantity" placeholder="输入数量" class="width-20"></input>
          </td>
          <td>{{ item.retail_price }}</td>
          <td>{{ item.vip_price }}</td>
          <td>
            <a href="javascript:void(0)" class="js_discount discount">优惠</a>
          </td>
          <td></td>
          <td>
            <span class="js-material-saleinfo-item-price">{{ item.quantity * item.retail_price }}</span>
            <span class="delete close">
              <i class="lnr lnr-cross color-fff" data-item-id={{item.id}} v-on:click="removeItem"></i>
            </span>
        	</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="text-align-right">
      	  <td colspan="10">
            <label class="margin-right-10">小结：</label>
            <label class="js-materil-saleinfo-item-total-price">{{totalPrice}}</label>
      		</td>
      	</tr>
      </tfoot>
		</table>

		<h2>服务明细</h2>
		<table cellpadding="0" cellspacing="0" class="commodity_details vue-service-table-items">
			<thead>
				<tr>
					<th>项目</th>
					<th>数量</th>
					<th>单价</th>
          <th>会员/套餐价</th>
					<th>优惠</th>
          <th>原因</th>
					<th>小计</th>
				</tr>
			</thead>
      <tbody>
        <tr v-for="item in serviceItems">
          <td style="display:none" class="service-table-item-id">{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>
            <input v-model="item.quantity" placeholder="输入数量" class="width-20"></input>
          </td>
          <td>{{ item.retail_price }}</td>
          <td>{{ item.vip_price }}</td>
          <td>
            <a href="javascript:void(0)" class="js_discount discount">优惠</a>
          </td>
          <td></td>
          <td>
            <span class="js-material-saleinfo-item-price">{{ item.quantity * item.retail_price }}</span>
            <span class="delete close">
              <i class="lnr lnr-cross color-fff" data-item-id={{item.id}} v-on:click="removeItem"></i>
            </span>
        	</td>
        </tr>
      </tbody>
			<tfoot>
			  <tr class="text-align-right">
				  <td colspan="8">
            <label class="margin-right-10">小结：</label><label>{{totalPrice}}</label>
					</td>
				</tr>
			</tfoot>
		</table>

    <h2>套餐/储值明细</h2>
    <table cellpadding="0" cellspacing="0" class="commodity_details vue-package-table-items">
        <thead>
          <tr>
            <th>项目</th>
            <th>数量</th>
            <th>单价</th>
            <th>小计</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in packageItems">
            <td>{{ item.name }}</td>
            <td>
              <input v-model="item.quantity" placeholder="输入数量" class="width-20"></input>
            </td>
            <td>{{ item.retail_price }}</td>
            <td>
              <span class="js-material-saleinfo-item-price">{{ item.quantity * item.retail_price }}</span>
              <span class="delete close">
                <i class="lnr lnr-cross color-fff" data-item-id={{item.id}} v-on:click="removeItem"></i>
              </span>
        	  </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <label class="js-materil-saleinfo-item-total-price">小结：{{totalPrice}}</label>
            </td>
          </tr>
        </tfoot>
      </table>

      <div class="total_spending ">消费金额总计:<label>{{totalItemsPrice}}</label></div>
	</div>

</div>
