<div class="others">
  <div class="vehicle_order_title title doslide">
  其他信息<i class="fa-angle-double-up fa cursor-pointer"></i>
  </div>
  <div  class="others_info">
    <dl>
      <dt>旧件处理</dt>
      <dd><label class="width-50">带走旧件</label><input type="checkbox"></dd>
      <dd><label class="width-60">不带走旧件</label><input type="checkbox"></dd>
    </dl>
    <dl>
      <dt>贵重物品</dt>
      <dd><label class="width-50">已提醒</label><input type="checkbox"></dd>
      <dd><label class="width-60">无贵重物品</label><input type="checkbox"></dd>
      <dd>客户签字:<input type="text" class="width-150"></dd>
    </dl>
    <div class="order_remark">
      <label class="vertical-align-top width-30">备注</label>
      <textarea ></textarea>
    </div>
  </div>
</div>
