<div id='order-situation' class="vehicle_condition">
  <span class="vehicle_order_title title doslide">
    车辆状态
    <i class="fa-angle-double-up fa cursor-pointer"></i>
    <a href="javascript:void(0)" class="do_show js-edit-vehicle">完善车辆信息</a>
  </span>
  <div class="vehicle_condition_info">

    <div class="vehicle_check_point">
      <div class="status">
        <dl>
          <dd>
            <label>油表油量</label>
            <form oninput="fuel_gauge_volume.value=parseInt(fuel_gauge.value)">
              <input type="range" class="width-120" id="fuel_gauge" name='situation[fuel_gauge]' value="0">
              E<span class="oil"></span><span class="oil"></span>F
              <output name="fuel_gauge_volume" for="fuel_gauge">0</output>%
            </form>
          </dd>
        </dl>
        <dl><dd><label>行驶公里</label><input class="mileage" id='mileage' name='situation[mileage]' type="number" min=0></dd></dl>
      </div>
      <div class="check_point">
        <img src="/images/car_status.png">
        <input type="checkbox" class="check_point_01 checktoggle js-part1" name="situation[damages][][part_id]" value="1"/>
        <input type="checkbox" class="check_point_02 checktoggle js-part2" name="situation[damages][][part_id]" value="2"/>
        <input type="checkbox" class="check_point_03 checktoggle js-part3" name="situation[damages][][part_id]" value="3"/>
        <input type="checkbox" class="check_point_04 checktoggle js-part4" name="situation[damages][][part_id]" value="4"/>
        <input type="checkbox" class="check_point_05 checktoggle js-part5" name="situation[damages][][part_id]" value="5"/>
        <input type="checkbox" class="check_point_06 checktoggle js-part6" name="situation[damages][][part_id]" value="6"/>
        <input type="checkbox" class="check_point_07 checktoggle js-part7" name="situation[damages][][part_id]" value="7"/>
        <input type="checkbox" class="check_point_08 checktoggle js-part8" name="situation[damages][][part_id]" value="8"/>
        <input type="checkbox" class="check_point_09 checktoggle js-part9" name="situation[damages][][part_id]" value="9"/>
        <input type="checkbox" class="check_point_10 checktoggle js-part10" name="situation[damages][][part_id]" value="10"/>
        <input type="checkbox" class="check_point_11 checktoggle js-part11" name="situation[damages][][part_id]" value="11"/>
        <input type="checkbox" class="check_point_12 checktoggle js-part12" name="situation[damages][][part_id]" value="12"/>
      </div>
    </div>
    <div class="vehicle_check_info">
      <label>车况检查记录</label>
      <ul id='situation_damages'></ul>
    </div>

    <div class="car_parts">
      <img src="/images/car_parts.png">
      <ul>
        <li><input type="checkbox" class="checktoggle js-part13" name="situation[damages][][part_id]" value="13"></li>
        <li><input type="checkbox" class="checktoggle js-part14" name="situation[damages][][part_id]" value="14"></li>
        <li><input type="checkbox" class="checktoggle js-part15" name="situation[damages][][part_id]" value="15"></li>
        <li><input type="checkbox" class="checktoggle js-part16" name="situation[damages][][part_id]" value="16"></li>
        <li><input type="checkbox" class="checktoggle js-part17" name="situation[damages][][part_id]" value="17"></li>
        <li><input type="checkbox" class="checktoggle js-part18" name="situation[damages][][part_id]" value="18"></li>
        <li><input type="checkbox" class="checktoggle js-part19" name="situation[damages][][part_id]" value="19"></li>
        <li><input type="checkbox" class="checktoggle js-part20" name="situation[damages][][part_id]" value="20"></li>
        <li><input type="checkbox" class="checktoggle js-part21" name="situation[damages][][part_id]" value="21"></li>
      </ul>
    </div>
  </div>
</div>
