<div class="vehicle_info">
  <input type="hidden" name="order[store_vehicle_id]" id='store_vehicle_id' value="{{vehicleInfoData.id}}">
  <dl>
    <dd>
      <label for="license_number" class="width-50" >车牌号</label>
      <input type="text" name="license_number" class="width-110 license-number" value={{vehicleInfoData.license_number}}>
    </dd>
    <dd>
      <label class="width-50">手机号</label>
      <input type="text" name="phone_number" value={{vehicleInfoData.store_customer.phone_number}} class="width-110">
    </dd>
    <dd>
      <label class="width-50" >客户姓名</label>
      <input type="text" name="customer_name" value='{{vehicleInfoData.store_customer.full_name}}' class="width-110" readonly >
    </dd>
  </dl>
  <dl>
    <dd><%= link_to "添加车辆", 'javascript:void(0)', class: "add_new_vehicle trigger-vehicle-form", style: "display: none" %></dd>
    <dd><%= link_to "添加客户", 'javascript:void(0)', class: "add_new_customer trigger-vehicle-form", style: "display: none" %></dd>
  </dl>
  <div class="vehicle_order_title title doslide">详细信息
  <i class="fa-angle-double-up fa cursor-pointer"></i>
  <a href="javascript:void(0)" data-target="completing_customer" class="do_show js-edit-customer">完善客户信息</a>
  </div>
  <div class="vehicle_details_info">
    <div class="item_content">
      <label class="width-50">车辆品牌</label><input type="text" value={{vehicleInfoData.vehicle_brand.name}} class="width-110" readonly>
    </div>
    <div class="item_content">
      <label class="width-50" >车系</label><input type="text" value={{vehicleInfoData.vehicle_series.name}} class="width-110"  readonly>
    </div>
    <div class="item_content">
      <label class="width-50">车型</label><input type="text" value={{vehicleInfoData.vehicle_model.name}} class="width-110"  readonly>
    </div>
    <div class="item_content">
      <label class="width-50" >客户属性</label>
      <input type="text" value={{vehicleInfoData.store_customer.property_i18n}} class="width-110" readonly>
    </div>
    <div class="item_content">
      <label class="width-50" >客户类别</label>
      <input type="text" value="{{vehicleInfoData.store_customer.category_name}}" class="width-110"  readonly>
    </div>
    <div class="item_content">
      <label class="width-50">结算方式</label>
      <input type="text" value="{{vehicleInfoData.store_customer.payment_mode_i18n}}" class="width-110"  readonly>
    </div>
  </div>
</div>
