<div class="completing_vehicle_info float-left" data-id="completing_vehicle" style="display: block;">

  <h2>完善车辆信息</h2>
  <div class="vehicle_info">
  	<dl>
  		<dd class="item_content"><label class="width-77">车牌号码</label><input type="text" class="width-110"></dd>
  		<dd><label class="width-77">品牌</label><input type="text" class="width-110"></dd>
  		<dd><label class="width-65">车型</label><input type="text" class="width-100"></dd>
  		<dd><label class="width-55">车系</label><input type="text" class="width-103"></dd>
  	</dl>
  	<dl>
  		<dd><label class="width-77">VIN号码</label><input type="text" class="width-110"></dd>
  		<dd><label class="width-77">发动机号码</label><input type="text" class="width-110"></dd>
  		<dd><label class="width-65">颜色</label><input type="text" class="width-100"></dd>
  		<dd><label class="width-55">座位数</label><input type="text" class="width-103"></dd>
  	</dl>
  	<dl>
  		<dd><label class="width-77">档案编号</label><input type="text" class="width-110"></dd>
  	  <dd><label class="width-77">车辆性质</label><input type="text" class="width-110"></dd>
  		<dd><label class="width-65">建档人</label><input type="text" class="width-100"></dd>
  		<dd><label class="width-55">建档日期</label><input type="text" class="width-103"></dd>
  	</dl>
    <dl>
  		<dd><label class="width-77">购买日期</label><input type="text" class="width-110"></dd>
  	  <dd><label class="width-77">出厂</label><input type="text" class="width-110"></dd>
  		<dd><label class="width-65">上牌时间</label><input type="text" class="width-100"></dd>
  		<dd><label class="width-55">公里数</label><input type="text" class="width-103"></dd>
  	</dl>
    <dl>
  		<dd><label class="width-77">最近保养时间</label><input type="text" class="width-110"></dd>
  	  <dd><label class="width-77">最近保养里程</label><input type="text" class="width-110"></dd>
  	</dl>
  </div>
  <div class="vehicle_maintenance">
    <dl>
      <dd><label class="width-80">保养间隔时间</label><input type="text" class="width-160"></dd>
      <dd><label class="width-80">保养间隔里程</label><input type="text" class="width-160"></dd>
    </dl>
    <dl>
      <dd>
        <label class="width-80">自动提醒</label>
        <div>
          <label class="width-50">客户</label>
          <input type="radio">
          <label class="width-50">系统</label>
          <input type="radio">
        </div>
      </dd>
      <dd><label class="width-80">下次保养里程</label><input type="text" class="width-160"></dd>
    </dl>
    <dl>
      <dd></dd>
      <dd><label class="width-80">下次保养时间</label><input type="text" class="width-160"></dd>
    </dl>
    <dl class="margin-top-20">
      <dd><label class="width-80">年检时间</label><input type="text" class="width-160"></dd>
      <dd>
        <label class="width-80">自动提醒</label>
        <div>
          <label class="width-50">客户</label>
          <input type="radio">
          <label class="width-50">系统</label>
          <input type="radio">
        </div>
      </dd>
    </dl>

    <dl>
      <dd><label class="width-80">保险公司</label><input type="text" class="width-160"></dd>
      <dd></dd>
    </dl>

    <dl>
      <dd><label class="width-80">保险截至</label><input type="text" class="width-160"></dd>
      <dd>
        <label class="width-80">自动提醒</label>
        <div>
          <label class="width-50">客户</label>
          <input type="radio">
          <label class="width-50">系统</label>
          <input type="radio">
        </div>
      </dd>
    </dl>
  </div>
  <dl class="remark">
    <dd>
      <label class="width-77 vertical-align-top">备注</label>
      <textarea></textarea>
    </dd>
  </dl>

  <div class="btn_group">
    <a href="#" class="cancel_btn btn">取消</a>
    <a href="#" class="save_btn btn">保存</a>
  </div>

</div>
