<div id='order-situation' class="vehicle_condition">
  <span class="vehicle_order_title title doslide">
    车辆状态
    <i class="fa-angle-double-up fa cursor-pointer"></i>
    <a href="javascript:void(0)" class="do_show js-edit-vehicle">完善车辆信息</a>
  </span>
  <div class="vehicle_condition_info">

    <div class="vehicle_check_point">
      <div class="status">
        <dl>
          <dd>
            <label>油表油量</label>
            <form oninput="range.value=parseInt(100-oil_range.value)">
              <input type="range" class="width-120" id="oil_range" value="{{100-fuel_gauge}}">
              F<span class="oil"></span><span class="oil"></span>E
              <output name="range" for="oil_range">{{fuel_gauge}}</output>%
            </form>
          </dd>
        </dl>
        <dl><dd><label>行驶公里</label><input class="mileage js-store-order-km" type="text"></dd></dl>
      </div>
      <div class="check_point">
        <img src="/images/car_status.png">
        <input type="checkbox" class="check_point_01 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="1"/>
        <input type="checkbox" class="check_point_02 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="2"/>
        <input type="checkbox" class="check_point_03 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="3"/>
        <input type="checkbox" class="check_point_04 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="4"/>
        <input type="checkbox" class="check_point_05 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="5"/>
        <input type="checkbox" class="check_point_06 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="6"/>
        <input type="checkbox" class="check_point_07 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="7"/>
        <input type="checkbox" class="check_point_08 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="8"/>
        <input type="checkbox" class="check_point_09 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="9"/>
        <input type="checkbox" class="check_point_10 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="10"/>
        <input type="checkbox" class="check_point_11 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="11"/>
        <input type="checkbox" class="check_point_12 checktoggle" v-model='damages' name="situation[damages][][part_id]" value="12"/>
      </div>
    </div>
    <div class="vehicle_check_info">
      <label>车况检查记录</label>
      <ul>
        <li v-for='damage in damages'>{{$index+1}}:<input type='text' class="width-150" name="situation[damages][][content]" placeholder="损坏情况描述" value="{{damage.content}}"></li>
      </ul>
    </div>

    <div class="car_parts">
      <img src="/images/car_parts.png">
      <ul>
        <li><input type="checkbox" class="checktoggle" v-model='damages' name="situation[damages][][part_id]" value="13"></li>
        <li><input type="checkbox" class="checktoggle" v-model='damages' name="situation[damages][][part_id]" value="14"></li>
        <li><input type="checkbox" class="checktoggle" v-model='damages' name="situation[damages][][part_id]" value="15"></li>
        <li><input type="checkbox" class="checktoggle" v-model='damages' name="situation[damages][][part_id]" value="16"></li>
        <li><input type="checkbox" class="checktoggle" v-model='damages' name="situation[damages][][part_id]" value="17"></li>
        <li><input type="checkbox" class="checktoggle" v-model='damages' name="situation[damages][][part_id]" value="18"></li>
        <li><input type="checkbox" class="checktoggle" v-model='damages' name="situation[damages][][part_id]" value="19"></li>
        <li><input type="checkbox" class="checktoggle" v-model='damages' name="situation[damages][][part_id]" value="20"></li>
        <li><input type="checkbox" class="checktoggle" v-model='damages' name="situation[damages][][part_id]" value="21"></li>
      </ul>
    </div>
  </div>
</div>
