<div class="orders">
  <div class="order_head">
    <div class="font-borderradius text-align-center font-20 display-inline-block">订</div>
    <div class="item">
      <label for="">供应商:</label>
      <span>杭州车世界汽车服务有限公司</span>
    </div>
    <div class="item">
      <label for="">时间:</label>
      <span>2014-8-11</span>
    </div>
    <div class="item">
      <label for="">单号:</label>
      <span>DH2015071900091</span>
    </div>
  </div>

  <table class="order_tab">
    <thead>
      <tr>
        <th>#</th>
        <th>商品名称</th>
        <th>条码</th>
        <th>规格</th>
        <th>单位</th>
        <th>一级分类</th>
        <th>二级分类></th>
        <th>单价</th>
        <th>数量</th>
        <th>小计</th>
        <th>仓库</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1</td>
        <td>澜泰宾御纳米镀晶套装</td>
        <td>8877665544</td>
        <td>长皮盒6项目</td>
        <td>套</td>
        <td>美容产品</td>
        <td>镀晶产品</td>
        <td>680.00</td>
        <td>8</td>
        <td>18,375.00</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td></td>
        <td>合计：</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>8</td>
        <td>18,375.00</td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>

  <div class="order_accout">
    <div class="item">
      <label class="width-75  item-label">备注：</label>
      <textarea class="remarks_textarea"></textarea>
    </div>
    <div class="item margin-right-20">
      <label class="width-75  item-label">本次付款：</label>
      <input type="text" value="18375" class="width-253">
    </div>
    <div class="item margin-right-20">
      <label class="width-75  item-label">结算账户：</label>
      <select class="width-253">
        <option>对公结算账户</option>
      </select>
    </div>
    <div class="item margin-right-20">
      <label class="width-75  item-label">本次欠款：</label>
      <input type="text" name="name" value="18,375.00" disabled class="width-253">
    </div>
    <div class="item">
      <label class="width-75 item-label">制单人：</label>
      <span class="width-253 item-span"></span>
    </div>
  </div>

  <div class="btn_group margin-right-20">
    <a href="#" class="cancel_btn btn">取消</a>
    <a href="#" class="save_btn btn">核销</a>
  </div>
</div>
