<% content_for :pre_assets do %>
  <%= javascript_include_tag 'kucun/materials/new' %>
<% end %>
<div class="main_top">
  <h2>出库</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="list_table out_storage_list">
    <div class="search_nav">
      <div class="item-query">
        <label>查找出库产品</label>
        <input type="text" class="width-150" placeholder="输入产品关键字">
      </div>
      <div class="item-query">
        <label>一级分类</label>
        <select type="text" class="width-150">
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="item-query">
        <label>二级分类</label>
        <select type="text" class="width-150">
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="item-query">
        <label>选择仓库</label>
        <select type="text" class="width-150">
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="item-query">
        <a href="#" class="query_btn btn">查&nbsp;&nbsp;询</a>
      </div>
      <div class="query_div">
        <a href="index.html" class="in_stg_btn btn" >出库</a>
        <a href="jilu.html"  class="notes_btn">记录</a>
      </div>
    </div>
    <div class="out_storage common_storage">
      <div class="list">
        <div class="list_top list_tr">
          <ul>
            <li>#</li>
            <li>产品名称</li>
            <li>条码</li>
            <li>规格</li>
            <li>单位</li>
            <li>一级分类</li>
            <li>二级分类</li>
            <li>单价</li>
            <li>仓库数</li>
            <li>仓库位</li>
            <li>备注</li>
            <li class="twelfth_td">操作</li>
          </ul>
        </div>
        <div class="list_contents">
          <% 3.times do %>
          <div class="list_content list_tr border_left ">
            <ul>
              <li >1.</li>
              <li >澜泰宾御纳米镀晶套装</li>
              <li >887766554444</li>
              <li >长皮盒6项目</li>
              <li >套</li>
              <li >美容产品</li>
              <li >镀晶产品</li>
              <li >680.00</li>
              <li >8</li>
              <li >总库房</li>
              <li ><nbsp1></nbsp1></li>
              <li >
                <input type="checkbox" name="sub_check">
              </li>
            </ul>
          </div>
          <% end %>
        </div>


      </div>
    </div>
  </div>

  <div class="shift_library  margin-bottom-50 margin-top-80 common_storage_content float-left">
    <div class="out_storage_query ">
      <div class="nav-item-query">
        <div class="font-20 font-borderradius text-align-center">移</div>
      </div>
      <div class="nav-item-query">
        <label>单号：</label>
        <input type="text" class="width-135" readonly>
      </div>
      <div class="nav-item-query">
        <label>时间：</label>
        <input type="text" class="width-135" value="2014-08-06 14:08 " readonly>
      </div>
      <div class="nav-item-query">
        <label>操作人：</label>
        <input type="text" class="widtn-135" value="王艳艳" readonly>
      </div>
      <div class="nav-item-query">
        <label>领用人：</label>
        <select  class="width-135">
          <option></option>
          <option></option>
        </select>
      </div>
      <div class="nav-item-query">
        <label>出库类型</label>
        <span id='out_store_type_id' class="width-157 as_select" data-select='#out_store_type_select' data-target='input[name="material[out_store_type_id]"]'>转移出库</span>
        <div id='out_store_type_select' class="select width-165">
          <ol class="width-165">
            <li data-value="1"><a href="javascript:void(0)">转移出库</a></li>
            <li data-value="2"><a href="index.html">领用出库</a></li>
            <li data-value="3"><a href="index.html">销售出库</a></li>
            <li data-value="4"><a href="index.html">赠送出库</a></li>
            <li data-value="5"><a href="index.html">盘亏出库</a></li>
            <li data-value="6"><a href="index.html">生产出库</a></li>
          </ol>
        </div>
      </div>
      <div class="nav-item-query">
        <label>目标库</label>
        <select  class="width-135">
          <option>商场库</option>
          <option></option>
        </select>
      </div>
      <div class="nav-item-query">
        <a href="#" class="print_btn btn">打<nbsp1></nbsp1>印</a>
      </div>
    </div>
    <div class="out_storage_tab common_storage_tab">
      <table cellpadding="0" cellspacing="0"  class="check_order storage_tab">

        <thead>
          <tr style="display: table-row;">
            <th> 序号</th>
            <th >产品名称</th>
            <th >条码</th>
            <th >规格</th>
            <th >单位</th>
            <th >一级分类</th>
            <th >二级分类</th>
            <th >单价</th>
            <th >库存数</th>
            <th >出库数</th>
            <th >原始库</th>
            <th >目标库</th>
            <th >备注</th>
          </tr>
        </thead>
        <tbody>
          <% 3.times do %>
          <tr>
            <td class="number">1</td>
            <td>澜泰宾御纳米镀晶套装</td>
            <td>887766555444</td>
            <td>长皮盒6项目</td>
            <td>套</td>
            <td>美容产品</td>
            <td>镀晶产品</td>
            <td>680.00</td>
            <td>8</td>
            <td><input type="text" class="width-50 td_input" value="1"></td>
            <td>总库房</td>
            <td>商场库</td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="common_storage_account">
        <div class="item_content margin-left-10" >
          <label class="width-75">备注：</label>
          <textarea class="remarks_textarea"></textarea>
        </div>
        <div class="item_content  margin-left-10">
          <label class="width-75">制单人：</label>
          <label class="width-253"></label>
        </div>
      </div>
    </div>

    <div class="btn_group margin-right-40">
      <a class="edit_btn btn" href="#">编辑</a>
      <a class="save_btn btn" href="#" >确定</a>
    </div>
  </div>

</div>
