<form action="huifang.html" method="get" >
          <div class="base_info">
            <div class="goods_img">
              <div id='material_img_preview' class="goods_main_img"></div>
              <ul id='material_img_thumbnails' class="goods_small_img">
                  <li id='preview_list'></li>
                  <li data-id='0'><a class='fa fa-plus-square add_img font-30' href="javascript:void(0);"></a></li>
              </ul>
            </div>
            <div class=" car_content">
              <div class="item_content">
                <label class="width-75">商品名称</label>
                <input type="text" class="width-165" value="途乐宾御纳米镀金套装" readonly="true"/>

              </div>
              <div class="item_content">
                <label class="width-75">条形码</label>
                <input type="text" class="width-165" value="00000001" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-75">一级分类</label>
                <select type="text" class="width-167" disabled="disabled">
                  <option>一级分类</option>
                  <option></option>
                </select>
              </div>
              <div class="item_content">
                <label class="width-75">二级分类</label>
                <select type="text" class="width-167" disabled="disabled">
                  <option>二级分类</option>
                  <option></option>
                </select>
              </div>
              <div class="item_content">
                <label class="width-75">商品规格</label>
                <input type="text" class="width-165" value="100" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-75">商品单位</label>
                <input type="text" class="width-165" value="米" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-75">成本价</label>
                <input type="text" class="width-165" placeholder="输入成本价会影响原成本价" value="100" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-75">零售价</label>
                <input type="text" class="width-165" value="150" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-75">商品品牌</label>
                <input type="text" class="width-165" value="途乐" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-75">生产单位</label>
                <input type="text" class="width-165" value="杭州澜泰" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-75">助记码</label>
                <input type="text" class="width-165" value="123456" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-75">最低零售价</label>
                <input type="text" class="width-165" value="120" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-80  font-weight-bold">

                  库存预警：</label>
                <label class="width-75">金额上限</label>
                <input type="text"  class="width-82" style="vertical-align:middle;" value="150000" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-75">上限数量</label>
                <input type="text"  class="width-55"  value="1000" readonly="true"/>
                <label class="lab_50">下限数量</label>
                <input type="text"class="width-54" value="0" readonly="true"/>
              </div>
              <div class="item_content">
                <label class="width-75">保质期</label>
                <div class="input_div">
                  <input type="text" class="width-100 " style="border:0px;" value="180天" readonly="true"/>
                </div>
              </div>
              <div class="item_content">
                <label class="width-75">状态</label>
                <select type="text" class="width-167" disabled="disabled">
                  <option></option>
                  <option></option>
                </select>
              </div>
              <div class="item_textarea ">
                <label class="width-75">备注</label>
                <textarea class=" text-indent-5 width-980 height-100" disabled="disabled">备注备注</textarea>
              </div>

              <div class="deduct_percentage">
                <div class="commission float-left">
                  <h2>销售提成</h2>
                  <div class="commission_scheme">
                    <label class="width-100">选择提成方案：</label>
                    <select class="width-235">
                      <option>销售计件提成方案</option>
                      <option>销售计件提成方案</option>
                    </select>
                    <span class="detail color-0C489C click_btn" >详情</span>
                  </div>
                  <div class="commission_scheme_details" id="sales_commission" style="display:none;">
                    <ul>
                      <li>方案名称:<label>销售计件提成方案</label></li>
                      <li>使用对象：<label>销售</label></li>
                      <li>提成范围：<label>班组</label></li>
                      <li>适用范围：<label></label></li>
                      <li>提成模式：<label>标准提成</label></li>
                      <li>提成源：<label>商品或服务的毛利</label></li>
                      <li>提成形式：<label>金额</label></li>
                      <li>提成数量：<label>10.00</label></li>
                    </ul>
                  </div>
                </div>
                <div class="commission float-right">
                  <h2>技师提成</h2>
                  <div class="commission_scheme">
                    <label class="width-100">选择提成方案：</label>
                    <select class="width-235">
                      <option>销售计件提成方案</option>
                      <option>销售计件提成方案</option>
                    </select>
                    <span  class="detail color-0C489C clickbtn">详情</span>
                  </div>
                  <div class="commission_scheme_details" id='technician_commission' style="display:none;">
                    <ul>
                      <li>方案名称:<label>销售计件提成方案</label></li>
                      <li>使用对象：<label>销售</label></li>
                      <li>提成范围：<label>班组</label></li>
                      <li>适用范围：<label></label></li>
                      <li>提成模式：<label>标准提成</label></li>
                      <li>提成源：<label>商品或服务的毛利</label></li>
                      <li>提成形式：<label>金额</label></li>
                      <li>提成数量：<label>10.00</label></li>
                    </ul>
                  </div>
              </div>

            </div>
          </div>
        </div>
        <div class="btn_group">
          <input type="submit" class="save_btn btn" value="保存">
        </div>
      </form>
