<table class="by_category">
  <thead>
    <tr>
      <th>销售类别</th>
      <th>数量</th>
      <th>收款金额</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>清洗服务</td>
      <td>44</td>
      <td>6,280.00</td>
    </tr>

  </tbody>
</table>
