<table class="by_category">
  <thead>
    <tr>
      <th>销售类别</th>
      <th>数量</th>
      <th>收款金额</th>
    </tr>
  </thead>

  <tbody class="sale-category">
    <% @categories.each do |category| %>
      <tr data-category-id='<%= category.id %>'>
        <td><%= category.name %></td>
        <td><%= category.items_total_quantity %></td>
        <td><%= category.items_total_amount %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
