<table class="by_category">
  <thead>
    <tr>
      <th>销售类别</th>
      <th>数量</th>
      <th>收款金额</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
    <tr>
      <td><%= service.name %></td>
      <td><%= service.items_total_quantity %></td>
      <td><%= service.items_total_amount %></td>
    </tr>
  <% end %>

  </tbody>
</table>
