<table class="by_item">
  <thead>
    <tr>
      <th>日期</th>
      <th>单号</th>
      <th>订单金额</th>
      <th>收款金额</th>
      <th>收款类型</th>
      <th>开单</th>
      <th>收款</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>2015-5-1</td>
      <td>YW20150501000012</td>
      <td>344.00</td>
      <td>344.00</td>
      <td>现金</td>
      <td>王丽丽</td>
      <td>陈颖</td>
      <td></td>
    </tr>

  </tbody>
</table>

