<div class="search_nav">
  <%= form_tag("/ais/incomes", method: :get) do -%>
    <div class="item-query">
      <label>时间</label>
      <%= date_select(
        "", :date,
        { start_year: 2000, use_short_month: true, discard_day: true, :default => @date},
        {:include_blank => @search_date.nil?, class: "width-100" }
      )
    %>
    </div>

    <div class="item-query">
      <label for="">类别</label>
      <%= select_tag :type, options_for_select([['全部', ''], ['商品', 'materials'], ['服务', 'services']], params[:type]), class: "width-100" %>
    </div>


    <%= submit_tag "查询", class: "btn query_btn do_search_result" %>
    <div class="query_div">
      <a href="#" class="export_btn btn">导出</a>
    </div>
  <% end %>
</div>
