<div class="main_top">
  <h2>收入</h2>
</div>

<div class="details">

  <div class="list_table">

  <%= render 'search'%>

    <div class="incomes">
      <%= render 'item_category' %>
      <div class="order-items">
        <%= render "order_items", order_items: @categories.first.order_items.by_month(@date) %>
      </div>
    </div>

  </div>

</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    $(".sale-category").on('click', 'tr', function(){
      var url = '/ais/categories/' + $(this).data('category-id') + '/order_items?date=<%= @date.strftime("%Y-%m-%d") %>';
      console.log(url)
      $.get(url, function(){
        return;
      })
    })
  })
  
</script>
