<div class="main_top">
  <h2>收入</h2>
</div>

<div class="details">

  <div class="list_table">

  <%= render 'search'%>

    <div class="incomes">

      <%= render 'item_category' %>

      <%= render "list_items" %>
    </div>

  </div>

</div>

