<main id='main' >
  <div class="content"  id="content">
    	<div class="main_top">
        <h2>现场专业界面</h2>
       </div>
    <div class="details">
      <table cellspacing="0" cellpadding="0" class="on_site_top">
    		<tbody>
    		  <tr>
    			  <td class="border-bottom-none">正在施工车辆</td>
    				<td class="border-bottom-none">正在排队车辆</td>
    				<td class="border-bottom-none">等待付款车辆</td>
    				<td class="border-bottom-none">离场车辆</td>
    				<td>
    					<label class="width-70">技师人数</label>
    					<label class="width-80 text-align-center">18</label>
    				</td>
    				<td>
    					<label class="width-70">技师忙碌</label>
    					<label class="width-80 text-align-center">16</label>
    				</td>
				<td>
					<label class="width-70">工位总数</label>
					<label class="width-80 text-align-center">8</label>
				</td>
				<td>
					<label class="width-70">工位使用</label>
					<label class="width-80 text-align-center">8</label>
				</td>
				<td class="border-bottom-none">今天施工总台次</td>
			</tr>
			<tr >
			  <td class="font-18 text-align-center">6<label class="margin-left-5 font-18">台</label></td>
				<td class="font-18 text-align-center">18<label class="margin-left-5 font-18">台</label></td>
				<td class="font-18 text-align-center">0<label class="margin-left-5 font-18">台</label></td>
				<td class="font-18 text-align-center">33<label class="margin-left-5 font-18">台</label></td>
				<td>
					<label class="width-70">技师到岗</label>
					<label class="width-80 text-align-center">18</label>
				</td>
				<td>
					<label class="width-70">技师空闲</label>
					<label class="width-80 text-align-center">2</label>
				</td>
				<td>
					<label class="width-70">工位正常</label>
					<label class="width-80 text-align-center">8</label>
				</td>
				<td>
					<label class="width-70">预约等待</label>
					<label class="width-80 text-align-center">0</label>
				</td>
				<td class="font-18 text-align-center">48<label class="margin-left-5 font-18">台</label></td>
			</tr>

		</tbody>
	</table>


		<div class="search_nav margin-top-5">
			<div class="item-query">
				<label class="width-85" >查找项目或车辆</label>
				<input type="text" class="width-150" placeholder="车牌或项目关键字">
				<a class=" btn query_btn">查询</a>
			</div>
			<div class="item-query">
				<label class="width-65">查看区域</label>
				<select type="text" class="width-150">
  				<option>全部</option>
  				<option>洗车区域</option>
  				<option>美容区域</option>
  				<option>机修区域</option>
  				<option>钣金区域</option>
  				<option>装潢区域</option>
				</select>
			</div>
			<div class="item-query">
				<label class="width-65">批量操作</label>
				<input type="color" value="标签色" class="width-65">
				<select type="text" class="width-80">
					<option>工位状态</option>
					<option>启用</option>
					<option>停用</option>
				</select>
			</div>
			<div class="item-query">
			  <a href="javascript:void(0)" class="new_btn btn margin-left-5"  id="new_station_btn">新建</a>
			</div>
			<div class="item-query margin-left-78">
        <%= render "page_banner_link" %>
			</div>
		</div>

		<div class="station_order">
			<div class="station">
			  <ul>
				  <li class="bg-color-B1D36D">
						<div class="circle_number">
						  <span class="color-fff number bg-color-AFA9F9 cursor-pointer "></span>
							<i class="lnr-checkmark-circle lnr chosen"></i>
						</div>
						<div class="station_info">
							<span>洗车1号工位</span>
							<span>70:00</span>
							<span>浙A16034</span>
						</div>
					</li>
					<li>
						<div class="circle_number">
						  <span class="color-fff number bg-color-AFA9F9 cursor-pointer "></span>
              <i class="lnr-checkmark-circle lnr chosen"></i>
						</div>
						<div class="station_info">
							<span>洗车2号工位</span>
							<span>00:00</span>
							<span></span>
						</div>
					</li>
					<li>
						<div class="circle_number">
						  <span class="color-fff number bg-color-AFA9F9 cursor-pointer "></span>
							<i class="lnr-checkmark-circle lnr chosen"></i>
						</div>
						<div class="station_info">
							<span>洗车3号工位</span>
							<span>70:00</span>
							<span>浙A13434</span>
						</div>
					</li>
					<li>
						<div class="circle_number">
						  <span class="color-fff number bg-color-AFA9F9 cursor-pointer "></span>
              <i class="lnr-checkmark-circle lnr chosen"></i>
						</div>
						<div class="station_info">
							<span>洗车3号工位</span>
							<span>40:00</span>
							<span>浙A16065</span>
						</div>
					</li>
					<li>
						<div class="circle_number">
						  <span class="color-fff number bg-color-FFCB8D cursor-pointer"></span>
							<i class="lnr-checkmark-circle lnr chosen"></i>
						</div>
						<div class="station_info">
							<span>美容1号工位</span>
							<span>40:00</span>
							<span>浙A14411</span>
						</div>
					</li>
					<li>
						<div class="circle_number">
						  <span class="color-fff number bg-color-FFCB8D cursor-pointer"></span>
							<i class="lnr-checkmark-circle lnr chosen"></i>
						</div>
						<div class="station_info">
							<span>美容1号工位</span>
							<span>40:00</span>
							<span>浙A16034</span>
						</div>
					</li>
					<li>
						<div class="circle_number">
						  <span class="color-fff number bg-color-81C898 cursor-pointer"></span>
							<i class="lnr-checkmark-circle lnr chosen"></i>
						</div>
						<div class="station_info">
							<span>机修1号工位</span>
							<span>40:00</span>
							<span>浙A13534</span>
						</div>
					</li>
					<li>
						<div class="circle_number">
						  <span class="color-fff number bg-color-81C898 cursor-pointer"></span>
							<i class="lnr-checkmark-circle lnr chosen"></i>
						</div>
						<div class="station_info">
							<span>轮胎专用工位</span>
							<span>40:00</span>
							<span>浙A18734</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="vehicle">
			  <div class="vehicle_station_title">
          <h2 class="font-16 width-350 float-left">洗车1号工位</h2>
					<div class="width-150 float-right text-align-right">
						<a href="javascript:void(0)" class="edit_btn btn margin-left-5" id="editstation_btn">编辑</a>
					</div>
				</div>
				<div class="site_construction">
				  <ul>
					  <li>
							<span class="">浙A66485</span>
							<img src="/mis/images/small_car.png" class="width-80"></img>
						</li>
						<li>
						  <span>施工时间剩余</span>
							<label class="font-30">70:00</label>
						</li>
						<li>
						  <span>当前项目</span>
							<label class="font-22 font-weight">精致洗车</label>
					  </li>
					</ul>
				</div>
				<div class="operation_technician">
					<span>操作技师</span>
				  <ul>
					  <li>李小龙</li>
						<li>王小斌</li>
					</ul>
				</div>
				<div class="priority_projects">
				  <span>优先项目:</span>
					<ul>
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
					</ul>
				</div>
			</div>
			<div class="vehicle" id="no_vehicle" style="display:none">
			  <div class="vehicle_station_title">
          <h2 class="font-16 width-350 float-left">洗车1号工位</h2>
					<div class="width-150 float-right text-align-right">
						<a href="javascript:void(0)" class="edit_btn btn margin-left-5" id="editstation_btn">编辑</a>
					</div>
				</div>
				<div class="site_construction">
				  <ul>
					  <li>
							<span ></span>
						</li>
						<li>
						  <span>施工时间剩余</span>
							<span class="font-30">00:00</span>
						</li>
						<li>
						  <span>当前项目</span>
							<label></label>
					  </li>
					</ul>
				</div>
				<div class="operation_technician">
					<span>操作技师:</span>

				</div>
				<div class="priority_projects">
				  <span>优先项目:</span>
					<ul>
						
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
						
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
						
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
						
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
						
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
						
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
						
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
						
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
						
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
						
					  <li>普通洗车</li>
						<li>精致洗车</li>
						<li>3M水晶蜡</li>
						
					</ul>
				</div>
			</div>
			<div class="order">
				<div class="order_details">
	<div class="vehicle_order_details">
		<div class="vehicle_info">
			<dl>
				<dd>
					<label class="width-50" >车牌号</label>
					<input type="text" value="浙A16034" class="width-110" readonly>
				</dd>
				<dd>
					<label class="width-50" >客户姓名</label>
					<input type="text" value="王" class="width-110" readonly>
				</dd>
				<dd>
					<label class="width-50" >手机号</label>
					<input type="text" value="13335930000" class="width-110" readonly>
				</dd>
			</dl>
			<div class="vehicle_order_title title doslide">详细信息
				<i class="fa-angle-double-up fa"></i>
				<a href="/mis/kehu/kehuliebiao/cheliangxinxishow.html" target="view_window">完善客户信息</a>
			</div>
			<div class="vehicle_details_info">
				<table cellpadding="0" cellspacing="0" >
					<tbody>
						<tr>
							<td>
								<label class="width-50" >车辆品牌</label><input type="text" value="宝马" class="width-110"  readonly>
							</td>
							<td>
								<label class="width-50" >车型</label><input type="text" value="宝马5系" class="width-110"  readonly>
							</td>
							<td>
								<label class="width-50" >车系</label><input type="text" value="宝马新5系" class="width-110"  readonly>
							</td>
						</tr>
						<tr>
							<td>
								<label class="width-50" >客户属性</label><input type="text" value="男" class="width-110"  readonly>
							</td>
							<td>
								<label class="width-50" >客户类别</label><input type="text" value="个人" class="width-110"  readonly>
							</td>
							<td>
								<label class="width-50" >结算方式</label><input type="text" value="现结" class="width-110"  readonly>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<div class="vehicle_condition">
			<span class="vehicle_order_title title doslide">
				车辆状态
				<i class="fa-angle-double-up fa"></i>
			</span>
			<div class="vehicle_condition_info">
				<div class="vehicle_check_point">
					<img src="/mis/images/car_status.png"></td>
					<input type="checkbox" class="check_point_01 checktoggle"  data-targetnode='check_point_01'>
					<input type="checkbox" class="check_point_02 checktoggle" data-targetnode='check_point_02'>
					<input type="checkbox" class="check_point_03 checktoggle" data-targetnode='check_point_03'>
					<input type="checkbox" class="check_point_04 checktoggle" data-targetnode='check_point_04'>
					<input type="checkbox" class="check_point_05 checktoggle" data-targetnode='check_point_05'>
					<input type="checkbox" class="check_point_06 checktoggle" data-targetnode='check_point_06'>
					<input type="checkbox" class="check_point_07 checktoggle" data-targetnode='check_point_07'>
					<input type="checkbox" class="check_point_08 checktoggle" data-targetnode='check_point_08'>
					<input type="checkbox" class="check_point_09 checktoggle" data-targetnode='check_point_09'>
					<input type="checkbox" class="check_point_10 checktoggle" data-targetnode='check_point_10'>
					<input type="checkbox" class="check_point_11 checktoggle" data-targetnode='check_point_11'>
					<input type="checkbox" class="check_point_12 checktoggle" data-targetnode='check_point_12'>
				</div>
				<div class="vehicle_check_info">
					<label>车况检查记录</label>
					<ul>
						<li>1:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_01"></li>
						<li>2:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_02"></li>
						<li>3:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_03"></li>
						<li>4:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_04"></li>
						<li>5:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_05"></li>
						<li>6:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_06"></li>
						<li>7:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_07"></li>
						<li>8:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_08"></li>
						<li>9:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_09"></li>
						<li>10:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_10"></li>
						<li>11:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_11"></li>
						<li>12:<input type='text' class="width-150" placeholder="车辆损坏情况" data-id="check_point_12"></li>
					</ul>
				</div>

				<div class="car_parts">
					<img src="/mis/images/car_parts.png">
					<ul>
						
					  <li>
						  <input type="checkbox" class="check_point_06 checktoggle" data-targetnode='check_point_06'>
						</li>
						
					  <li>
						  <input type="checkbox" class="check_point_06 checktoggle" data-targetnode='check_point_06'>
						</li>
						
					  <li>
						  <input type="checkbox" class="check_point_06 checktoggle" data-targetnode='check_point_06'>
						</li>
						
					  <li>
						  <input type="checkbox" class="check_point_06 checktoggle" data-targetnode='check_point_06'>
						</li>
						
					  <li>
						  <input type="checkbox" class="check_point_06 checktoggle" data-targetnode='check_point_06'>
						</li>
						
					  <li>
						  <input type="checkbox" class="check_point_06 checktoggle" data-targetnode='check_point_06'>
						</li>
						
					  <li>
						  <input type="checkbox" class="check_point_06 checktoggle" data-targetnode='check_point_06'>
						</li>
						
					  <li>
						  <input type="checkbox" class="check_point_06 checktoggle" data-targetnode='check_point_06'>
						</li>
						
					  <li>
						  <input type="checkbox" class="check_point_06 checktoggle" data-targetnode='check_point_06'>
						</li>
						
					</ul>
				</div>
			</div>

		</div>
		<div class="vehicle_order">
			<span class="vehicle_order_title title doslide">
				业务信息
				<i class="fa-angle-double-up fa"></i>
			</span>
			<div class="order_info">
				<h2>商品明细</h2>
				<table cellpadding="0" cellspacing="0" class="commodity_details">
					<thead>
						<tr>
							<th>名称</th>
							<th>规格</th>
							<th>单位</th>
							<th>数量</th>
							<th>单价</th>
							<th>属性</th>
							<th>优惠</th>
							<th>小计</th>
						</tr>
					</thead>
					<tbody>
						<tr data-id="list_content_01">
							<td>米其林</td>
							<td>195/65/15 XM2 91V</td>
							<td>条</td>
							<td>1</td>
							<td>430.00</td>
							<td>会员</td>
							<td>0.00</td>
							<td>430.00
								<span class="delete close" data-target="list_content_01">
									<i class="lnr lnr-cross color-fff"></i>
								</span>
							</td>
						</tr>
						<tr data-id="list_content_02">
							<td>摇头公仔</td>
							<td>斯诺比</td>
							<td>个</td>
							<td>1</td>
							<td>85.00</td>
							<td>会员</td>
							<td>5.00</td>
							<td>80.00
								<span class="delete close" data-target="list_content_02">
									<i class="lnr lnr-cross color-fff"></i>
								</span>
							</td>
						</tr>
						<tr data-id="list_content_03">
							<td>飞歌DVD...</td>
							<td>本田雅阁专用</td>
							<td>台</td>
							<td>1</td>
							<td>8,675.00</td>
							<td>会员</td>
							<td>133.3</td>
							<td>8,541.70
								<span class="delete close" data-target="list_content_03">
									<i class="lnr lnr-cross color-fff"></i>
								</span>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="text-align-right">
							<td colspan="10">
								<label class="margin-right-10">商品金额总计:</label><label>9051.70</label>
							</td>
						</tr>
					</tfoot>
				</table>

				<h2>服务明细</h2>
				<table cellpadding="0" cellspacing="0" class="service_details">
					<thead>
						<tr>
							<th>#</th>
							<th>项目</th>
							<th>流程</th>
							<th>属性</th>
							<th>单价</th>
							<th>优惠</th>
							<th>小计</th>
						</tr>
					</thead>
					<tbody>
						<tr data-id="list_content_01">
							<td>1</td>
							<td>精致洗车</td>
							<td><span class="fa-check fa"></span></td>
							<td>零售</td>
							<td class="text-align-right">68.00</td>
							<td>0</td>
							<td class="text-align-right">68.00
								<span class="delete close" data-target="list_content_01">
									<i class="lnr lnr-cross color-fff"></i>
								</span>
							</td>
						</tr>
						<tr data-id="list_content_02">
							<td>2</td>
							<td>澜泰纳米镀晶</td>
							<td><span >1/3</span></td>
							<td>零售</td>
							<td class="text-align-right">868.00</td>
							<td>0</td>
							<td class="text-align-right">868.00
								<span class="delete close" data-target="list_content_02">
									<i class="lnr lnr-cross color-fff"></i>
								</span>
							</td>
						</tr>
						<tr data-id="list_content_03">
							<td>3</td>
							<td>澜泰纳米镀晶</td>
							<td><span >1/3</span></td>
							<td>套餐</td>
							<td class="text-align-right">868.00</td>
							<td>0</td>
							<td class="text-align-right">868.00
								<span class="delete close" data-target="list_content_03">
									<i class="lnr lnr-cross color-fff"></i>
								</span>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="text-align-right">
							<td colspan="8">
								<label class="margin-right-10">服务金额总计:</label><label>936.00</label>
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="total_spending ">消费金额总计:<label>9,987.70</label></div>
			</div>

		</div>
		<div class="construction">
			<div class="vehicle_order_title title doslide">施工信息
				<i class="fa-angle-double-up fa"></i>
				<a href="javascript:void(0)" class="edit_construction_info_btn">编辑施工信息</a>
			</div>
			<div class="construction_info">
				<table cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th>项目</th>
							<th>工位</th>
							<th>用时</th>
							<th>技师</th>
							<th>检验</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>精致洗车</td>
							<td>洗车1号工位</td>
							<td>48:55</td>
							<td><span >李小龙</span> <span class="margin-left-10">王小斌</span></td>
							<td>李克勤</td>
						</tr>
						<tr>
							<td>澜泰纳米镀晶</td>
							<td>洗车1号工位</td>
							<td>48:55</td>
							<td><span >李小龙</span> <span class="margin-left-10">王小斌</span></td>
							<td>李克勤</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="others">
			<div class="vehicle_order_title title doslide">其他信息
				<i class="fa-angle-double-up fa cursor-pointer"></i>
			</div>
			<div  class="others_info">
				<dl>
					<dt>旧件处理</dt>
					<dd><label class="width-50">带走旧件</label><input type="checkbox"></dd>
					<dd><label class="width-60">不带走旧件</label><input type="checkbox"></dd>
				</dl>
				<dl>
					<dt>贵重物品</dt>
					<dd><label class="width-50">已提醒</label><input type="checkbox"></dd>
					<dd><label class="width-60">无贵重物品</label><input type="checkbox"></dd>
					<dd>客户签字:<input type="text" class="width-150"></dd>
				</dl>
				<div class="order_remark">
					<label class="vertical-align-top  width-30">备注</label>
					<textarea ></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="construction_status">
		<div class="btn_group">
			<a class="end_construction_btn">结束施工</a>
			<a class="go_payment_btn">去付款</a>
		</div>
	</div>
</div>

				<div style="display:none" class="no_order">
          <div class="color-8A8F8F font-16">当前没有订单项目,请前往开单页面进行操作</div>
				</div>
			</div>

			<div class="edit_construction_info float-left professional_interface_edit"  >
				<h2>编辑施工信息</h2>
				<div class="constrction_info_tab">
					<table cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th>项目</th>
								<th>流程</th>
								<th>工位</th>
								<th>用时</th>
								<th>技师</th>
								<th>检验</th>
							</tr>
						</thead>
						<tbody>
							<tr class="construction_process">
								<td>精致洗车</td>
								<td colspan="5">
									
									<ul class="item_project">
										<li><span class="number"></span>-冲洗</li>
										<li>
											<select class="width-100">
												<option>洗车2号工位</option>
												<option>洗车1号工位</option>
											</select>
										</li>
										<li><input type="text" value="15:00" class="width-60"></li>
										<li>
											<div class=" assign_technician ">
												<ul>
													<li>  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
													<li>  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
												</ul>
												<i class="action_button fa-plus fa"></i>
											</div>
											<ul class="technician" style="display:none;">
												<li>王强</li>
												<li>张凯</li>
												<li>李全瑶</li>
												<li>刘力兵</li>
												<li>魏权</li>
											</ul>
										</li>
										<li></li>
									</ul>
									
									<ul class="item_project">
										<li><span class="number"></span>-冲洗</li>
										<li>
											<select class="width-100">
												<option>洗车2号工位</option>
												<option>洗车1号工位</option>
											</select>
										</li>
										<li><input type="text" value="15:00" class="width-60"></li>
										<li>
											<div class=" assign_technician ">
												<ul>
													<li>  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
													<li>  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
												</ul>
												<i class="action_button fa-plus fa"></i>
											</div>
											<ul class="technician" style="display:none;">
												<li>王强</li>
												<li>张凯</li>
												<li>李全瑶</li>
												<li>刘力兵</li>
												<li>魏权</li>
											</ul>
										</li>
										<li></li>
									</ul>
									
									<ul class="item_project">
										<li><span class="number"></span>-冲洗</li>
										<li>
											<select class="width-100">
												<option>洗车2号工位</option>
												<option>洗车1号工位</option>
											</select>
										</li>
										<li><input type="text" value="15:00" class="width-60"></li>
										<li>
											<div class=" assign_technician ">
												<ul>
													<li>  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
													<li>  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
												</ul>
												<i class="action_button fa-plus fa"></i>
											</div>
											<ul class="technician" style="display:none;">
												<li>王强</li>
												<li>张凯</li>
												<li>李全瑶</li>
												<li>刘力兵</li>
												<li>魏权</li>
											</ul>
										</li>
										<li></li>
									</ul>
									
								</td>

							</tr>
							<tr  class="construction_process">
								<td>澜泰纳米镀晶</td>
								<td colspan="5">
									
									<ul class="item_project">
										<li><span class="number"></span>-漆面去污</li>
										<li>
											<select class="width-100">
												<option>洗车2号工位</option>
												<option>洗车1号工位</option>
											</select>
										</li>
										<li><input type="text" value="15:00" class="width-60"></li>
										<li>
											<div class=" assign_technician ">
												<ul>
													<li>  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
													<li>  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
												</ul>
												<i class="action_button fa-plus fa"></i>
											</div>
											<ul class="technician" style="display:none;">
												<li>王强</li>
												<li>张凯</li>
												<li>李全瑶</li>
												<li>刘力兵</li>
												<li>魏权</li>
											</ul></li>
										<li>
									</li>
									</ul>
									
									<ul class="item_project">
										<li><span class="number"></span>-漆面去污</li>
										<li>
											<select class="width-100">
												<option>洗车2号工位</option>
												<option>洗车1号工位</option>
											</select>
										</li>
										<li><input type="text" value="15:00" class="width-60"></li>
										<li>
											<div class=" assign_technician ">
												<ul>
													<li>  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
													<li>  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
												</ul>
												<i class="action_button fa-plus fa"></i>
											</div>
											<ul class="technician" style="display:none;">
												<li>王强</li>
												<li>张凯</li>
												<li>李全瑶</li>
												<li>刘力兵</li>
												<li>魏权</li>
											</ul></li>
										<li>
									</li>
									</ul>
									
									<ul class="item_project">
										<li><span class="number"></span>-漆面去污</li>
										<li>
											<select class="width-100">
												<option>洗车2号工位</option>
												<option>洗车1号工位</option>
											</select>
										</li>
										<li><input type="text" value="15:00" class="width-60"></li>
										<li>
											<div class=" assign_technician ">
												<ul>
													<li>  <span >李小龙<i class="coise_close lnr-cross lnr"></i></span></li>
													<li>  <span >王小斌<i class="coise_close lnr-cross lnr"></i></span></li>
												</ul>
												<i class="action_button fa-plus fa"></i>
											</div>
											<ul class="technician" style="display:none;">
												<li>王强</li>
												<li>张凯</li>
												<li>李全瑶</li>
												<li>刘力兵</li>
												<li>魏权</li>
											</ul></li>
										<li>
									</li>
									</ul>
									

								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="btn_group float-right margin-top-20">
					<a class="cancel_btn btn">取消</a>
					<a class="save_btn btn">保存</a>
				</div>
			</div>
		</div>
  </div>
	<script type="text/template" id="new_station">
		<header class="bg-color-395C61"></header>
		<div class="fheader">
			<span class="color-395C61">新建工位</span>
			<i class="lnr lnr-cross close_window do_close color-395C61"></i>
		</div>

		<form class="form_content" id="new_store_service_category" action="#" accept-charset="UTF-8" data-remote="true" method="post">
			<div class="new_info">
				<input name="utf8" type="hidden" value="✓">
				<div class="form_item ">
					<label for="store_service_category_name" >工位名称</label>
					<input type="text" name="store_service_category[name]" id="store_service_category_name" class="err">
					<div class="field_error field_down width-120">ddddddddd</div>
				</div>
				<div class="form_item">
					<label for="store_service_category_name" >区域标签色</label>
					<input type="color" name="store_service_category[name]" id="store_service_category_name" class="width-165">
				</div>
				<div class="form_item">
					<label for="store_service_category_name" >工位区域</label>
					<input type="hidden" name='material[store_material_category1_id]' value="">
					<span id='store_material_cateory1_id' class="width-157 as_select" data-select='#material_category1_select' data-target='input[name="material[store_material_category1_id]"]'>请选择</span>
					<div id='material_category1_select' class="select width-165">
						<ol class="width-165">
							<li data-value="1"></li>
							<li data-value="2"></li>
							<li data-value="3"></li>
							<li data-value="4"></li>
							<li data-value="4"></li>
						</ol>
						<a class='add_btn width-158' data-method='add_category' href="javascript:void(0);">新增</a>
					</div>
				</div>
			</div>
			<div class="prompt">
        <h2>提示:</h2>
				<p>您可以通过区域归类来进行工位的集中管理,并可以对工位区域标注特定的颜色以便快速鉴别,还可以通过功能区进行再次调整.</p>
			</div>
			<div class="ffooter float-right">
				<input type="button" name="commit" value="保存" class="confirm_btn do_close">
				<input type="reset" name="commit" value="取消" class="cancel_btn do_close">
			</div>
		</form>
	</script>

	<script type="text/template" id="edit_station">
		<header class="bg-color-395C61"></header>
		<div class="fheader">
			<span class="color-395C61">编辑工位</span>
			<i class="lnr lnr-cross close_window do_close color-395C61"></i>
		</div>

		<form class="form_content" id="new_store_service_category" action="#" accept-charset="UTF-8" data-remote="true" method="post">
			<div class="new_info">
				<input name="utf8" type="hidden" value="✓">
				<div class="form_item ">
					<label for="store_service_category_name" >工位名称</label>
					<input type="text" name="store_service_category[name]" id="store_service_category_name" class="err" value="洗车1号工位">
					<div class="field_error field_down width-120">ddddddddd</div>
				</div>
				<div class="form_item">
					<label for="store_service_category_name" >区域标签色</label>
					<input type="color" name="store_service_category[name]" id="store_service_category_name" class="width-165" value="#AFA9F9">
				</div>
				<div class="form_item">
					<label for="store_service_category_name" >工位区域</label>
					<input type="hidden" name='material[store_material_category1_id]' value="A区">
					<span id='store_material_cateory1_id' class="width-157 as_select" data-select='#material_category1_select' data-target='input[name="material[store_material_category1_id]"]'>请选择</span>
					<div id='material_category1_select' class="select width-165">
						<ol class="width-165">
							<li data-value="1">A区</li>
							<li data-value="2">B区</li>
							<li data-value="3">C区</li>
							<li data-value="4">D区</li>
						</ol>
						<a class='add_btn width-158' data-method='add_category' href="javascript:void(0);">新增</a>
					</div>
				</div>
			</div>
			<div class="prompt">
        <h2>提示:</h2>
				<p>您可以通过区域归类来进行工位的集中管理,并可以对工位区域标注特定的颜色以便快速鉴别,还可以通过功能区进行再次调整.</p>
			</div>
			<div class="ffooter float-right">
				<input type="button" name="commit" value="保存" class="confirm_btn do_close">
				<input type="reset" name="commit" value="取消" class="cancel_btn do_close">
			</div>

		</form>
	</script>

      </div>
    </main>
