
<% list_header = '<ul class="list_header">
  <li>#</li>
  <li>名称</li>
  <li>受益方</li>
  <li>提成方法</li>
  <li>状态</li>
</ul>'
 %>
<div class="main_top"><%= breadcrumb_navigation(["系统设置", '提成方案']) %></div>

<div class="details">

  <div class="details_nav">
    <ul>
      <li class="bg-color-fff"><a href="javascript:void(0);" class="width-90">提成方案</a></li>
    </ul>
  </div>

  <div class="details_content ticheng_details">
    <div class="ticheng_plan float-left margin-right-31">
      <h2>
        <label class="font-14">销售提成方案</label>
        <input type="button" data-aim='0' class="btn new_btn do_create_new_list" value="新建">
      </h2>
      <div class="new_lists">
        <%= list_header.html_safe %>
        <div id='aim0' class="new_lists_content"></div>
      </div>
    </div>

    <div class="ticheng_plan float-left margin-right-31">
      <h2>
        <label class="font-14">技师提成方案</label>
        <input type="button" data-aim='1' class="btn new_btn do_create_new_list" value="新建">
      </h2>
      <div class="new_lists">
        <%= list_header.html_safe %>
        <div id='aim1' class="new_lists_content"></div>
      </div>
    </div>

    <div class="ticheng_plan float-left">
      <h2>
        <label class="font-14">其他提成方案</label>
        <input type="button" data-aim='2' class="btn new_btn do_create_new_list" value="新建">
      </h2>
      <div class="new_lists">
        <%= list_header.html_safe %>
        <div id='aim2' class="new_lists_content"></div>
      </div>
    </div>

  </div>
</div>

<% content_for :scenes do %>
<div id='pop' class="list_new_page_wrap do_create_ticheng_window" style="display:none;"></div>
<% end %>

<% content_for :javascripts do %>
  <script>
    jQuery(function($){
      hanle =new $$MIS.CommissionTemplateHandleView();
    });
  </script>
<% end %>
