    <header class="header">
<nav class="nav">
  <div class="top">
    <div  class=' nav_top_left  top_left'>
      <i class="fa fa-list cursor-pointer" id="menu_click"></i>
    </div>

    <div class="nav_top_right top_right">
      <ul class="nav_right">
        <li>
          <a href="javascript:void(0)">
            <i class="fa fa-comment "></i>
            <span class="message_tip"></span>
          </a>

          <ul class="dropdown_menu list-group">
          	<li>
          		<a href="javascript:void(0)">系统消息(<span>6</span>)</a>
          	</li>
          	<li>
              <a href="javascript:void(0)">库存消息(<span>3</span>)</a>
          	</li>
          </ul>
        </li>

        <li>
          <a href="javascript:void(0)">
            <i class="fa  fa-user"></i>
            <span></span>
          </a>
          <ul class="dropdown_menu list-group">
            <li>
              <a href="javascript:void(0)">个人信息</a>
            </li>
            <li>
              <a href="javascript:void(0)">退出</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>

    
  <menu  class="sidemenu" id="sidemenu">
      <div class="first_menu ">
        <ul id="menu" class="menu">
          <li ><a href="#"   class="xianchang" ><i class="fa fa-clock-o"></i></a></li>
          <li ><a href="#"  class="shouyin"><i class="fa fa-calculator"></i></a></li>
          <li ><a href="#"  class="kehu" ><i class="fa fa-user"></i></a></li>
          <li ><a href="#"   class="xiaoshou" ><i class="fa fa-shopping-cart"></i></a></li>
          <li ><a href="#"   class="yuangong"><i class="fa fa-users"></i></a></li>
          <li ><a href="#" class="kucun"  ><i class="fa fa-cubes"></i></a></li>
          <li ><a href="#" class="caiwu"  ><i class="fa fa-jpy"></i></a></li>
          <li ><a href="#"  class="tongji"><i class="fa fa-line-chart"></i></a></li>
          <li ><a href="#"  class="shezhi"><i class="fa fa-cog"></i></a></li>
        </ul>
      </div>
      <div  id="second_menu">
    <div  class='float-left sec_menu xianchang' id="xianchang"  style="display:none;">
      <div class="  menulist">
        <h4>现场管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/xianchang/shigongxianchang/jianjie_gongwei.html">施工现场</a></li>
          <li><a href="/mis/xianchang/yuyuepaidan/index.html" >预约排单</a></li>
          <li><a href="/mis/xianchang/renyuandiaodu/index.html">人员调度</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu shouyin' id="shouyin"  style="display:none;">
      <div class="  menulist">
        <h4>收银POS</h4>
        <ul class="second_menu">
          <li ><a href="/mis/shouyin/shouyin/index.html" >收银</a></li>
          <li><a href="/mis/shouyin/yewukaidan/kaidan.html" >业务开单</a></li>
          <li><a href="/mis/shouyin/yixiangkaidan/yixiangkaidan.html" >意向开单</a></li>
          <li><a href="/mis/shouyin/yewutuidan/index.html" >业务退单</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu kehu' id="kehu" style="display:none;">
      <div class="  menulist">
        <h4>客户管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/kehu/kehuliebiao/index.html">客户列表</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu xiaoshou' id="xiaoshou" style="display:none;">
      <div class="  menulist">
        <h4>销售管理</h4>
        <ul class="second_menu">
          <li><a href="/mis/xiaoshou/shangpin/index.html">商品</a></li>
          <li ><a href="/mis/xiaoshou/fuwu/index.html">服务</a></li>
          <li><a href="/mis/xiaoshou/taocan/index.html">套餐</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu yuangong' id="yuangong"  style="display:none;">
      <div class="  menulist">
        <h4>员工管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/soa/yuangongliebiao/index.html">员工列表</a></li>
          <li><a href="/mis/soa/xinzi/index.html">薪资管理</a></li>
          <li><a href="/mis/soa/jixiao/index.html">绩效提成</a></li>
          <li><a href="/mis/soa/kaoqin/index.html">考勤奖惩</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu kucun' id="kucun" style="display:none;">
      <div class="menulist">
        <h4>库存管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/kucun/kucunliebiao/index.html">库存列表</a></li>
          <li><a href="/mis/kucun/ruku/index.html">入库</a></li>
          <li><a href="/mis/kucun/chuku/index.html">出库</a></li>
          <li><a href="/mis/kucun/dinghuo/index.html">批量订货</a></li>
          <li><a href="/mis/kucun/jit/index.html">临时订货</a></li>
          <li><a href="/mis/kucun/pandian/index.html">盘点</a></li>
          <li><a href="/mis/kucun/baosun/index.html">报损</a></li>
          <li><a href="/mis/kucun/tuihuo/index.html">退货</a></li>
          <li><a href="/mis/kucun/shouhou/index.html">售后</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu caiwu' id="caiwu"  style="display:none;">
      <div class=" menulist">
      <h4>财务管理</h4>
        <ul class="second_menu">
          <li><a href="/mis/ais/income/index.html">收入</a></li>
          <li ><a href="/mis/ais/cost/index.html">成本</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu tongji' id="tongji"  style="display:none;">
      <div class="  menulist">
      <h4>统计分析</h4>
        <ul class="second_menu">
          <li><a href="/mis/sas/xiaoshou/graph.html">销售</a></li>
          <li><a href="/mis/sas/kehu/graph.html">客户</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu shezhi' id="shezhi"  style="display:none;">
      <div class="  menulist">
      <h4>系统设置内容</h4>
        <ul class="second_menu">
          <li><a href="/mis/settings/mendian/index.html">门店信息</a></li>
          <li ><a href="/mis/settings/duanxin/feecharge.html">短信设置</a></li>
          <li><a href="/mis/settings/guize/tichengfangan.html">规则设置</a></li>
          <li><a href="/mis/settings/quanxian/yonghupeizhi.html">权限设置</a></li>
          <li><a href="/mis/settings/leibie/shangpin.html">类别设置</a></li>
          <li><a href="/mis/settings/account/index.html">结算信息</a></li>
          <li><a href="/mis/settings/cangku/cangku.html">仓库管理</a></li>
        </ul>
      </div>
    </div>
  </menu>
  <script type="text/javascript"  src="/mis/js/showsecondMenu.js"></script>
  


    <main id='main' >
      <div class="content"  id="content">
          <div class="main_top">
    <h2>人员调度</h2>
  </div>

  <div class="details">
	  
  <table cellspacing="0" cellpadding="0" class="on_site_top">
		<tbody>
		  <tr>
			  <td class="border-bottom-none">正在施工车辆</td>
				<td class="border-bottom-none">正在排队车辆</td>
				<td class="border-bottom-none">等待付款车辆</td>
				<td class="border-bottom-none">离场车辆</td>
				<td>
					<label class="width-70">技师人数</label>
					<label class="width-80 text-align-center">18</label>
				</td>
				<td>
					<label class="width-70">技师忙碌</label>
					<label class="width-80 text-align-center">16</label>
				</td>
				<td>
					<label class="width-70">工位总数</label>
					<label class="width-80 text-align-center">8</label>
				</td>
				<td>
					<label class="width-70">工位使用</label>
					<label class="width-80 text-align-center">8</label>
				</td>
				<td class="border-bottom-none">今天施工总台次</td>
			</tr>
			<tr >
			  <td class="font-18 text-align-center">6<label class="margin-left-5 font-18">台</label></td>
				<td class="font-18 text-align-center">18<label class="margin-left-5 font-18">台</label></td>
				<td class="font-18 text-align-center">0<label class="margin-left-5 font-18">台</label></td>
				<td class="font-18 text-align-center">33<label class="margin-left-5 font-18">台</label></td>
				<td>
					<label class="width-70">技师到岗</label>
					<label class="width-80 text-align-center">18</label>
				</td>
				<td>
					<label class="width-70">技师空闲</label>
					<label class="width-80 text-align-center">2</label>
				</td>
				<td>
					<label class="width-70">工位正常</label>
					<label class="width-80 text-align-center">8</label>
				</td>
				<td>
					<label class="width-70">预约等待</label>
					<label class="width-80 text-align-center">0</label>
				</td>
				<td class="font-18 text-align-center">48<label class="margin-left-5 font-18">台</label></td>
			</tr>

		</tbody>
	</table>

		<div class="construction_site  do_wrap">
			<div class="title  waiting">
			</div>
			<ul class="waiting">
			  <li>
				  <span>浙A62034</span>
					<img src="/mis/images/small_car.png">
				</li>
				<li>
				  <span>浙A51034</span>
					<img src="/mis/images/small_car.png">
				</li>
				<li>
				  <span>浙A51048</span>
					<img src="/mis/images/small_car.png">
				</li>
				<li>
				  <span>浙A66485</span>
					<img src="/mis/images/small_car.png">
				</li>
			</ul>
		</div>

		<div class="search_nav margin-top-20">
			<div class="item-query">
				<label class="width-85" >查找技师</label>
				<input type="text" class="width-150" >
			</div>
			<div class="item-query">
        <a href="javascript:void(0)" class="btn query_btn" >查询</a>
			</div>

			<div class="item-query margin-left-150">
				<a href="javascript:void(0)" id="createStaffGroup" class="btn new_btn new_staffgroup">新建</a>
				<a href="javascript:void(0)" class="btn delete_btn">删除</a>
			</div>
		</div>

		<div class="staffing">
			<div class="group_person">
				<table cellspacing="0" cellpadding="0">
					<tbody id="staffGroupList">

					</tbody>
				</table>

			</div>
      <div class="no_grouping_staff" >
        <ul >
          <li class="drag_staff" draggable="true" >王强</li>
        </ul>

      </div>

		</div>
	</div>

  <script type="text/template" id="item_group" >
		<td>
      <div class="group">
        <span class="font-18 width-120 edit"><%= "naihdi" %></span>
        <input type="text" class="font-18 width-120 edit" value="<%= 'mousehi' %>">
      </div>
    </td>
		<td>
			<div class="person">
				<span class="person_status bg-color-FD3528">忙</span>
				<ul>
				</ul>
			</div>
			<div class="person">
				<span class="person_status bg-color-009F3A">空</span>
				<ul>
				</ul>
			</div>
			<div class="person">
				<span class="person_status bg-color-FFF03F color-383515">休</span>
				<ul>
				</ul>
			</div>
		</td>
  </script>

  <script src="/mis/js/xianchang/staff_scheduling.js"></script>

      </div>
    </main>
    <div id="FloatWindow" style="display: none;">
      <div class="FloatContent " >
      </div>
    </div>
