<div style="width:220px;margin:auto;">
  <%= form_for(@material_saleinfo_category, url: kucun_material_saleinfo_categories_path) do |form|%>
    <%= form.text_field :name, placeholder: '请输入名称', required: true %>
    <%= form.submit value: '保存' %>
  <% end %>
</div>

<% content_for :javascripts do %>
  <script>
  jQuery(function($){
    $('#new_store_material_saleinfo_category').on('submit', function(){
      $(this).ajaxSubmit(function(data, status, xhr){
        if(window.top != window.self){
          window.top.$$MIS.methods.get('add_material_saleinfo_category_callback').apply(data)
        }
      });
      return false;
    })
  });
  </script>
<% end %>
