<div class="grid-1-2 float-left">
  <div class="server_list">
  <div class="top">
    <h2>关联商品表</h2>
    <span class="appand_btn btn margin-top-10 float-right click_btn j_add_material" id="add_server_btn">添加</span>
  </div>
  <div class="none_server_data" style="display:block;">
    <p class="none_server_p">服务没有关联商品</p>
    <p class="none_details">如果服务项目没有关联相关的商品，将会影响服务成本的统计，建议添加关联商品，点击添加进行操作。获取帮助<a href="#" class="color-73ACD4 text-decoration-underline">点我</a></p>
  </div>

  <div class="list" id="j_related_goods" style="display:none;">
    <div class="list_top list_tr">
      <ul>
        <li class="first_td">#</li>
        <li class="second_td">商品</li>
        <li class="third_td">数量</li>
        <li class="forth_td ">方式</li>
      </ul>
    </div>

  </div>
  <div class="add_server" id="add_server" data-primary-material-categories="<%= json_for(@material_categories) %>" style="display:none;">

  </div>
</div>
