<% content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/xiaoshou.css" %>
<% end %>

<div class="main_top">
  <h2>服务项目列表</h2>
  <span class="add_span">+</span>
</div>
<div class="details" id="serviceIndex">
  <div class="top_content records">
    <div class="content_tab_top">
      <table cellpadding="0" cellspacing="0" width="100%" class="top_tab">
        <colgroup>
          <col width="14.28%">
          <col width="14.28%">
          <col width="14.28%">
          <col width="14.28%">
          <col width="14.28%">
          <col width="14.28%">
          <col width="14.28%">
        </colgroup>
        <tbody id="serviceStats">

        </tbody>
      </table>
    </div>

  </div>

  <div id="bodyContent">
    <div class="list_table">
      <div class="search_nav">
        <form class="store_service_search" id="store_service_search" action="/xiaoshou/service/profiles" accept-charset="UTF-8" method="get">
          <input name="utf8" type="hidden" value="✓">
          <div class="item-query">
            <label for="q_name_cont">查找服务</label>
            <input class="width-150" placeholder="输入产品关键字" type="text" name="q[name_cont]" id="q_name_cont">
          </div>
          <div class="item-query">
            <label for="q_store_service_category_id_eq">服务类别</label>
            <select name="q[store_service_category_id_eq]" id="q_store_service_category_id_eq"><option value="">请选择</option>
              <option value="2">xx</option>
              <option value="1">x</option>
            </select>
          </div>
          <div class="item-query">
            <input type="submit" name="commit" value="查询" class="btn query_btn">
          </div>
        </form>
        <div class="item-query c_price">
          <div class="link" id="link_drop_list">
            <span class="float-left margin-right-10" title="价格从高到低">价格</span>
            <span><i class="fa fa-angle-down"></i></span>
          </div>
          <ul class="drop_list" id="drop_list">
            <li data-name="retail_price" data-sort-direction="asc" class="sort"><a href="javascript:void(0)" class="">价格从低到高</a></li>
            <li data-name="retail_price" data-sort-direction="desc" class="sort"><a href="javascript:void(0)" class="">价格从高到低</a></li>
          </ul>
        </div>
        <div class="prices">
          <div class="inputs">
            <div class="inner">
              <ul class="items">
                <li data-name="retail_price_gteq" data-filter="" class="item j_active"><input type="text" class="j_sortbar_price_input input" placeholder="¥"></li>
                <li class="sep">-</li>
                <li data-name="retail_price_lteq" data-filter="" class="item j_active"><input type="text" class="j_sortbar_price_input input" placeholder="¥"></li>
                <li class="submit"><button class="btn j_sortbar_price_submit">确定</button></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item-query screen">
          <div class="link">
            <span class="float-left margin-right-10" title="价格从高到低">筛选</span>
            <span><i class="fa fa-angle-down"></i></span>
          </div>
          <ul class="drop_list">
            <li data-name="favorable_false" data-filter="1" class="sort"><a href="javascript:void(0)" class="">正常价格商品</a></li>
            <li data-name="favorable_true" data-filter="1" class="sort"><a href="javascript:void(0)" class="">优惠价格商品</a></li>
            <li data-name="campaign" data-filter="true" class="sort"><a href="javascript:void(0)" class="">参加活动商品</a></li>
            <li data-name="created_at_gteq" data-filter="2015-09-11" class="sort"><a href="javascript:void(0)" class="p_link">今天上架商品</a></li>
            <li data-name="created_at_gteq" data-filter="2015-09-07" class="sort"><a href="javascript:void(0)" class="">本周上架商品</a></li>
            <li data-name="created_at_gteq" data-filter="2015-09-01" class="sort"><a href="javascript:void(0)" class="">本月上架商品</a></li>
          </ul>
        </div>
        <div class="operats">
          <ul class="items">
            <li class="item_add">
            <a class="btn add_btn" href="/xiaoshou/service/profiles/new">新建</a>
            </li>
            <li class="item"><a href="#" class="link"><i class="fa fa-th"></i></a></li>
            <li class="item"><a href="#" class="link"><i class="fa fa-bars"></i></a></li>
          </ul>
        </div>
      </div>
      <table cellpadding="0" cellspacing="0" class="index_list service ">
        <thead>
          <tr>
            <th style="border-right:0px;">#</th>
            <th>服务名称</th>
            <th>服务代码</th>
            <th>施工时间</th>
            <th>单位</th>
            <th>销售价</th>
            <th>促销价</th>
            <th>积分</th>
            <th>技师</th>
            <th>已售</th>
            <th>服务分类</th>
            <th class="last_td">状态</th>
          </tr>
        </thead>
        <tbody id="serviceList">

        </tbody>
      </table>
    </div>
  </div>

</div>

<%= content_tag :div, '', id: 'bootstrap', data: {'store-services': json_for(current_store.store_services)} %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      var collection = new Mis.Collections.StoreServices();
      view = new Mis.Views.XiaoshouServiceProfilesIndex({collection: collection});
      view.render();
    })
  </script>
<% end %>
