<div class="main_top">
  <h2>短信设置</h2>
</div>
<div class="details">
<%= render partial: 'settings/sms/partials/top' %>
<%= render partial: 'settings/sms/partials/nav' %>

<div class="details_content list_table sms_details_content">

  <div class="functional_bar">
    <div class="search_bar float-left">
      <label class="margin-right-8 line-height-25">选择类型</label>
      <select class="width-150">
        <option></option>
        <option>储值账户使用提醒1</option>
        <option>储值账户使用提醒2</option>
        <option>储值账户使用提醒3</option>
      </select>

      <span>日期</span>
      <input type="date">
      <span>至</span>
      <input type="date">
      <input type="button" class="btn query_btn" value="查询">
    </div>
  </div>

  <table border="1" class="index_list sms_record">
    <thead>
      <tr>
        <th>#</th>
        <th>时间</th>
        <th>手机号码</th>
        <th>客户名称</th>
        <th>类别</th>
        <th>内容</th>
        <th>条数</th>
      </tr>
    <thead>
    <tbody>
        <% 5.times do %>
      <tr>
        <td class="number">1</td>
        <td>2015-1-15 09:44:38</td>
        <td>15068898085</td>
        <td>张 实施</td>
        <td>储值账户使用提醒</td>
        <td>候名洋，您好，您的储值卡车储500卡使用30.0元，剩余297.0元，用于支付30水釉被膜洗车</td>
        <td>1</td>
      </tr>
        <% end %>
    </tbody>
  </table>
</div>
