/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require scaffolds
 *= require icomoon
 *= require jquery_ui
 *= require select2
 *= require datetimepicker/jquery.datetimepicker
 *= require cloud
 *= require ais
 *= require kehu
 *= require kucun
 *= require sas
 *= require settings
 *= require pos
 *= require soa
 *= require xianchang
 *= require xiaoshouguanli
 *= require piccut
 *= require common
 *= require partial
 *= require as_select
 *= require error
 *= require float_window
 *= require_self
 */

#noticebox {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    outline: 0;
    display: none;
    overflow: auto;
}
#noticebox .notice-content {
    position: relative;
    margin: 120px auto;
    width: 500px;
    min-height: 200px;
    background: white;
    display: none;
}
#noticebox .notice-content .fheader {
    padding: 5px 15px 20px;
}
#noticebox .notice-content .fheader span {
    display: inline-block;
    height: 29px;
    line-height: 29px;
    font-size: 16px;
}
#noticebox .notice-content .fheader i.close-window {
    height: 20px;
    width: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    font-style: normal;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 #ccc;
    position: absolute;
    right: 9px;
    top: 10px;
    cursor: pointer;
    background: #ccc;
    background-size: 12px;
    font-size: 15px;
}
#noticebox .notice-content .fheader i.close-window:hover {
    background: #666666;
    background-size: 12px;
}
#noticebox .notice-content .form_content {
    padding: 0px 10px;
}
#noticebox .notice-content .form_content .form_item {
    margin: 10px 0px;
}
#noticebox .notice-content .form_content .form_item label {
    width: 75px;
    display: inline-block;
    text-align: right;
}
#noticebox .notice-content .form_content .form_item input[type="text"] {
    width: 165px;
    height: 25px;
    line-height: 25px;
}
#noticebox .notice-content .form_content .form_item input[type='submit'] {
    border-radius: 5px;
    padding: 3px 12px;
    margin-right: 20px;
}
#noticebox .notice-content .form_content .form_item .err {
    border: 1px solid #f21b1b;
    outline: none;
}
#noticebox .notice-content .form_content .form_item .error_tip {
    color: #f21b1b;
    margin-left: 15px;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    height: 27px;
    line-height: 27px;
    width: auto;
    border: none;
    background: none;
}
#noticebox .notice-content .ffooter {
    padding: 30px 0;
    text-align: center;
    text-align: right;
}
#noticebox .notice-content .ffooter .confirm_btn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    margin: 0px 10px;
    padding: 0px 15px;
    height: 22px;
    line-height: 22px;
    border: 0px;
    cursor: pointer;
    box-shadow: 0px 2px 0px #053762;
}
#noticebox .notice-content .ffooter .confirm_btn:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
#noticebox .notice-content .ffooter .cancel_btn {
    background: #e2e2e6;
}
#noticebox .notice-content .ffooter .cancel_btn:hover {
    background: #DADADA;
}
#noticebox .notice-content .textbody {
    padding: 30px;
    border: 1px solid #e5e5e5;
    background: #fdfdfd;
    border-style: solid none;
}
#noticebox .notice-content .textbody p {
    font-size: 14px;
}
#noticebox .width640 {
    width: 640px;
}
