<table class="search">
  <tr>
    <td>日期</td>
    <td><input type="date" class="width-122"></td>
    <td>-</td>
    <td><input type="date" class="width-122"></td>
    <td>项目类别</td>
    <td>
      <select class="width-100">
        <option>全部</option>
        <option></option>
      </select>
    </td>
    <td><input type="button" class="query_btn btn width-60" value="查询"></td>
  </tr>
</table>

