<div class="search_nav">
  <%= form_tag("/soa/staff/#{@staff.id}/performs", method: :get) do -%>
    <div class="item-query nav_item">
      <label>时间</label>
      <%= date_select(
        "", :date,
        { start_year: 2000, use_short_month: true, discard_day: true, :default => @date},
        {:include_blank => @search_date.nil?, class: "width-60" }
      )
    %>
    </div>

    <div class="item-query nav_item">
      <label>项目类别</label>
      <%= select_tag :category, options_for_select([["全部", "all"], ["销售", "sale"], ["施工", "constructed"]], params[:category]), class: "width-100" %>
      <%= submit_tag "查询", class: "btn query_btn do_search_result" %>
    </div>
  <% end %>
</div>
