<div class="search_nav">
  <div class="date">
    <span class="margin-right-10">日期</span>
    <span class="width-80 show_content text-align-left">2015</span>
    <span class="show_content text-align-left margin-left-10">7</span>
  </div>

  <div class="keywords margin-right-50">
    <span class="width-80">关键字</span>
    <input type="text" class="width-150">
    <a href="#" class="btn query_btn">查询</a>
  </div>

  <div class="float-right">
    <a href="jilu.html" class="btn record_btn width-60">记 录</a>
    <a href="#" class="btn print_btn">打印</a>
    <a href="#" class="btn export_btn">发放并导出</a>
    <a href="#" class="btn change_view_btn checkout">核准</a>
    <a href="#" class="btn change_view_btn show_lists_only" style="display:none;">只显示列表</a>
  </div>
</div>
