<div class="main_top">
  <h2>薪资管理</h2>
  <%= render '/soa/shared/return' %>
</div>

<div class="details">

  <div class="list_table salary_list_table">

    <%= render "/soa/salary/search_keyword" %>

    <%= render "/soa/salary/lists_salary" %>

  </div>

  <div class="check-account-area">
  </div>

</div>
