<div class="main_top">
  <h2>薪资管理</h2>
</div>

<div class="details">

  <div class="list_table salary_list_table">

    <%= render "soa/salary/search_keyword" %>

    <%= render "soa/salary/lists_salary" %>

  </div>

  <div class="details_nav" style="display:none;">
    <ul>
      <li class="bg-color-fff"><a href="#" class="width-90">薪资核算</a></li>
    </ul>
  </div>


  <div class="details_content salary_related">

    <div class="checkout_nav">
      <div class="date width-240">
        <span class="width-70 text-align-center">当前月份</span> <span class="show_content width-80">2015-7</span>
      </div>

      <div class="staff_select">
        <a href="#" class="width-150"><span class="width-50 font-weight-bold">下一位</span> <span>张作霖</span></a>
        <a href="#" class="width-100"><span class="width-50 font-weight-bold">上一位</span> <span>郭子易</span></a>
      </div>

      <div class="operation float-right">
        <input type="button" class="edit_btn" value="编辑" disabled>
        <input type="button" class="save_btn" value="核准" disabled>
      </div>
    </div>


    <table class="abstract">
      <thead>
        <tr>
          <td>姓名</td>
          <td>员工编号</td>
          <td>部门</td>
          <td>职务</td>
          <td>底薪</td>
          <td>提成</td>
          <td>福利补贴</td>
          <td>奖金</td>
          <td>保险金</td>
          <td>加班费</td>
          <td>应扣费用</td>
          <td>实发金额</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>王海林</th>
          <th>JS201309120001</th>
          <th>美容组</th>
          <th>美容技师</th>
          <th>3,500</th>
          <th>0.00</th>
          <th>0.00</th>
          <th>0.00</th>
          <th>0.00</th>
          <th>0.00</th>
          <th>0.00</th>
          <th>3,500</th>
        </tr>
      </tbody>
    </table>

    <div class="salary_checkout">
      <div class="salary">
        <ul class="total_salary">
          <li class="font-weight-bold font-14">应发工资</li>
          <li>
            <ol>
              <li>
                <label class="font-weight-bold width-50">提成</label>
                <label class="width-70">施工提成</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label>商品提成</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label>售卡提成</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label>其他提成</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label class="font-weight-bold">提成合计</label> <input type="text" class="total" value="0.00" readonly>
              </li>
            </ol>

            <ol>
              <li>
                <label class="font-weight-bold width-50">福利补贴</label>
                <label class="width-70">岗位补贴</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label>住宿补贴</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label>餐费补贴</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label>劳保补贴</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label>高温补贴</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label class="font-weight-bold">补贴合计</label> <input type="text" class="total" value="0.00" readonly>
              </li>
            </ol>
          </li>

          <li>
            <ol>
              <li>
                <label class="font-weight-bold width-50">加班费</label>
                <label class="width-70 font-weight-bold">加班合计</label> <input type="text" class="total" value="0.00" readonly>
              </li>
              <li class="bonus">
                <label class="font-weight-bold width-50">奖金</label>
                <label class="width-70 font-weight-bold">奖金合计</label> <input type="text" class="total" value="0.00" readonly>
              </li>
            </ol>

            <ol>
              <li>
                <label class="font-weight-bold width-50">保险金</label>
                <label class="width-70">医保费</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label>保险金</label> <input type="text" value="0.00" readonly>
              </li>
              <li>
                <label class="font-weight-bold">保险合计</label> <input type="text" class="total" value="0.00" readonly>
              </li>
            </ol>
          </li>

          <li class="total text-align-right">
            <label class="color-7391C4 font-weight-bold">应发工资合计：</label> <input type="text" value="3,500" readonly>
          </li>
        </ul>


        <ul class="deducted_salary">
          <li class="font-weight-bold font-14">应扣费用</li>

          <li>
            <ol>
              <li><label>违纪扣款</label> <input type="text" value="0.00" readonly></li>
              <li><label>考勤扣款</label> <input type="text" value="0.00" readonly></li>
              <li><label>损坏赔款</label> <input type="text" value="0.00" readonly></li>
              <li><label>借贷扣除</label> <input type="text" value="0.00" readonly></li>
              <li><label>其他扣款</label> <input type="text" value="0.00" readonly></li>
              <li><label class="font-weight-bold">扣款合计</label> <input type="text" class="total" value="0.00" readonly></li>
            </ol>
          </li>

          <li class="total">
            <label class="font-weight-bold color-C8625C">应扣费用合计：</label> <input type="text" value="0.00" readonly>
          </li>
        </ul>

        <ul class="balance_salary">
          <li class="font-weight-bold font-14">实发金额</li>
          <li class="text-align-center">
            <label class="display-block">薪资总额</label>
            <input type="text" value="3,500" readonly>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>
