<div class="capital_wrap">
  <div class="captical deposit captival_active" data-target="deposit">
    <ul>
      <li>储值账户</li>
      <li>2<a href="javascript:void(0)" class="show_btn btn">查看</a></li>
    </ul>

    <dl>
      <dd><span>充</span></dd>
      <dd>充2000送500欢乐充值卡</dd>
    </dl>

    <dl>
      <dd><span>充</span></dd>
      <dd>充2000送500欢乐充值卡</dd>
    </dl>

  </div>

  <div class="captical package" data-target="package">
    <ul>
      <li>套餐组合</li>
      <li>5</li>
    </ul>

    <dl>
      <dd><span>套</span></dd>
      <dd>普通洗车20次卡</dd>
      <dd><a href="javascript:void(0)" class="show_btn btn">查看</a></dd>
    </dl>

    <dl>
      <dd><span>套</span></dd>
      <dd>普通洗车20次卡</dd>
      <dd><a href="javascript:void(0)" class="show_btn btn">查看</a></dd>
    </dl>

  </div>

  <div class="captical commodity" data-target="commodity">
    <ul>
      <li>商品组合</li>
      <li>2</li>
    </ul>

    <dl>
      <dd><span>套</span></dd>
      <dd>途乐养车包</dd>
      <dd><a href="javascript:void(0)" class="show_btn btn">查看</a></dd>
    </dl>

    <dl>
      <dd><span>套</span></dd>
      <dd>途乐养车包</dd>
      <dd><a href="javascript:void(0)" class="show_btn btn">查看</a></dd>
    </dl>

    <dl>
      <dd><span>套</span></dd>
      <dd>途乐养车包</dd>
      <dd><a href="javascript:void(0)" class="show_btn btn">查看</a></dd>
    </dl>

  </div>
</div>
