<div class="captical_records_wrap package_records_wrap " data-id="package" style="display:none;">
  <ul class="captical_info package_info">
    <li>
      <label>名称</label>
      <span>普通洗车20次卡</span>
    </li>
    <li>
      <label>购卡日期</label>
      <span>2015-4-30</span>
    </li>
    <li>
      <label>有效期</label>
      <span>2017-4-30止</span>
    </li>
    <li>
      <label>类别</label>
      <span>组合类</span>
    </li>
    <li>
      <label>包含项目</label>
      <dl>
        <dd>普通洗车</dd>
        <dd>3M水晶蜡</dd>
      </dl>
    </li>
    <li>
      <label>使用门店</label>
      <span>所有门店</span>
    </li>
    <li>
      <label>状态</label>
      <span>使用中</span>
    </li>
    <li>
      <label>操作</label>
      <span><a href="javascript:void(0)" class="edit_btn btn">编辑</a></span>
    </li>
  </ul>

  <div class="detail">
    <div class="items">
      <h3>包含项目</h3>
      <dl class="table-head">
        <dt>项目</dt>
        <dt>剩余次数</dt>
      </dl>

      <div class="table-content-wrap">

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

        <dl class="table-content">
          <dd>打蜡</dd>
          <dd>3</dd>
        </dl>

      </div>
    </div>

    <div class="orders">
      <h3>消费明细</h3>
      <table class="table-head">
        <thead>
          <tr>
            <th>使用时间</th>
            <th>订单号</th>
            <th>所属门店</th>
          </tr>
        </thead>
      </table>

      <div class="table-content-wrap">
        <table class="table-content">
          <tbody>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

            <tr>
              <td>2015-6-11</td>
              <td>YW2015061100010</td>
              <td>武林广场乐途店</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
