<div class="captical_records_wrap package_records_wrap " data-id="package" style="display:none;">
  <ul class="captical_info package_info">
    <li>
      <label>名称</label>
      <span>普通洗车20次卡</span>
    </li>
    <li>
      <label>购卡日期</label>
      <span>2015-4-30</span>
    </li>
    <li>
      <label>有效期</label>
      <span>2017-4-30止</span>
    </li>
    <li>
      <label>类别</label>
      <span>组合类</span>
    </li>
    <li>
      <label>包含项目</label>
      <dl>
        <dd>普通洗车</dd>
        <dd>3M水晶蜡</dd>
      </dl>
    </li>
    <li>
      <label>使用门店</label>
      <span>所有门店</span>
    </li>
    <li>
      <label>状态</label>
      <span>使用中</span>
    </li>
    <li>
      <label>操作</label>
      <span><a href="javascript:void(0)" class="edit_btn btn">编辑</a></span>
    </li>
  </ul>

  <div class="captical_records packages_records">
    <dl class="title">
      <dt>使用时间</dt>
      <dt>项目</dt>
      <dt>使用次数</dt>
      <dt>订单</dt>
      <dt>剩余</dt>
    </dl>
    <div class="captical_content">
      <dl>
        <dd>2015-6-11</dd>
        <dd>普通洗车</dd>
        <dd><span  class="profit">1</span></dd>
        <dd>YW2015061100010</dd>
        <dd><span>20</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd>3M水晶蜡</dd>
        <dd ><span class="loss">1</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>19</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd>3M水晶蜡</dd>
        <dd ><span class="loss">1</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>19</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd>3M水晶蜡</dd>
        <dd ><span class="loss">1</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>19</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd>3M水晶蜡</dd>
        <dd ><span class="loss">1</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>19</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd>3M水晶蜡</dd>
        <dd ><span class="loss">1</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>19</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd>3M水晶蜡</dd>
        <dd ><span class="loss">1</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>19</span></dd>
      </dl>

    </div>
    <div class="captical_foot">
    </div>
  </div>
</div>
