<div class="captical_records_wrap deposit_records_wrap" data-id="deposit">
  <ul class="captical_info deposit_info">
    <li>
      <label>名称</label>
      <span>储值卡</span>
    </li>
    <li>
      <label>购卡日期</label>
      <span>2015-4-30</span>
    </li>
    <li>
      <label>有效期</label>
      <span>2017-4-30止</span>
    </li>
    <li>
      <label>使用门店</label>
      <span>所有门店</span>
    </li>
    <li>
      <label>状态</label>
      <span>使用中</span>
    </li>
    <li>
      <label>操作</label>
      <span><a href="javascript:void(0)" class="edit_btn btn">编辑</a></span>
    </li>
  </ul>

  <div class="captical_records deposit_records">
    <dl class="title">
      <dt>发生时间</dt>
      <dt>发生金额</dt>
      <dt>订单</dt>
      <dt>余额</dt>
    </dl>
    <div class="captical_content">
      <dl>
        <dd>2015-6-11</dd>
        <dd><span  class="profit">2,000.00</span></dd>
        <dd>YW2015061100010</dd>
        <dd><span>2,500.00</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd ><span class="loss">200.00</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>2,300.00</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd ><span class="loss">200.00</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>2,300.00</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd ><span class="loss">200.00</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>2,300.00</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd ><span class="loss">200.00</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>2,300.00</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd ><span class="loss">200.00</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>2,300.00</span></dd>
      </dl>

      <dl>
        <dd>2015-6-15</dd>
        <dd ><span class="loss">200.00</span></dd>
        <dd>YW2015061100009</dd>
        <dd><span>2,300.00</span></dd>
      </dl>

    </div>

    <div class="captical_foot">
      <ul>
        <li><label>扣卡次数</label><span>9</span></li>
        <li><label>充值次数</label><span>1</span></li>
        <li><label>可用余额</label><span class="width-100">2,818.00</span></li>
        <li><a href="javascript:void(0)" class="rechange_btn btn">充值</a></li>
      </ul>
    </div>
  </div>
</div>
