<%= render '/crm/common/page_head' %>

<div class="details">

  <%= render '/crm/common/customer_nav' %>

  <div class="details_content">
    <div class="base_info">

      <%= render "consumption_category" %>

      <div class="used-history-area">
        <%= render 'deposit_records_wrap' %>
      </div>

    </div>
  </div>
</div>
