<!DOCTYPE html>
<html>
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>百世威盛ERP</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
  <link rel="stylesheet" type="text/css"  href="/mis/stylesheets/style.css">
  <link rel="stylesheet" href="/mis/stylesheets/main.css">
  <script type="text/javascript" src="/mis/js/base/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/mis/js/chart/echarts-all.js"></script>
  <script type="text/javascript" src="/mis/js/backbone/underscore-min.js"></script>
  <script type="text/javascript" src="/mis/js/backbone/backbone-min.js"></script>
  <script type="text/javascript" src="/mis/js/backbone/backbone.localStorage.js"></script>

</head>

  <link rel="stylesheet" href="/mis/stylesheets/kehu.css">

  <body >

    <header class="header">
<nav class="nav">
  <div class="top">
    <div  class=' nav_top_left  top_left'>
      <i class="fa fa-list cursor-pointer" id="menu_click"></i>
    </div>

    <div class="nav_top_right top_right">
      <ul class="nav_right">
        <li>
          <a href="javascript:void(0)">
            <i class="fa fa-comment "></i>
            <span class="message_tip"></span>
          </a>

          <ul class="dropdown_menu list-group">
          	<li>
          		<a href="javascript:void(0)">系统消息(<span>6</span>)</a>
          	</li>
          	<li>
              <a href="javascript:void(0)">库存消息(<span>3</span>)</a>
          	</li>
          </ul>
        </li>

        <li>
          <a href="javascript:void(0)">
            <i class="fa  fa-user"></i>
            <span></span>
          </a>
          <ul class="dropdown_menu list-group">
            <li>
              <a href="javascript:void(0)">个人信息</a>
            </li>
            <li>
              <a href="javascript:void(0)">退出</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>

    
  <menu  class="sidemenu" id="sidemenu">
      <div class="first_menu ">
        <ul id="menu" class="menu">
          <li ><a href="#"   class="xianchang" ><i class="fa fa-clock-o"></i></a></li>
          <li ><a href="#"  class="shouyin"><i class="fa fa-calculator"></i></a></li>
          <li ><a href="#"  class="kehu" ><i class="fa fa-user"></i></a></li>
          <li ><a href="#"   class="xiaoshou" ><i class="fa fa-shopping-cart"></i></a></li>
          <li ><a href="#"   class="yuangong"><i class="fa fa-users"></i></a></li>
          <li ><a href="#" class="kucun"  ><i class="fa fa-cubes"></i></a></li>
          <li ><a href="#" class="caiwu"  ><i class="fa fa-jpy"></i></a></li>
          <li ><a href="#"  class="tongji"><i class="fa fa-line-chart"></i></a></li>
          <li ><a href="#"  class="shezhi"><i class="fa fa-cog"></i></a></li>
        </ul>
      </div>
      <div  id="second_menu">
    <div  class='float-left sec_menu xianchang' id="xianchang"  style="display:none;">
      <div class="  menulist">
        <h4>现场管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/xianchang/shigongxianchang/jianjie_gongwei.html">施工现场</a></li>
          <li><a href="/mis/xianchang/yuyuepaidan/index.html" >预约排单</a></li>
          <li><a href="/mis/xianchang/renyuandiaodu/index.html">人员调度</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu shouyin' id="shouyin"  style="display:none;">
      <div class="  menulist">
        <h4>收银POS</h4>
        <ul class="second_menu">
          <li ><a href="/mis/shouyin/shouyin/index.html" >收银</a></li>
          <li><a href="/mis/shouyin/yewukaidan/kaidan.html" >业务开单</a></li>
          <li><a href="/mis/shouyin/yixiangkaidan/yixiangkaidan.html" >意向开单</a></li>
          <li><a href="/mis/shouyin/yewutuidan/index.html" >业务退单</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu kehu' id="kehu" style="display:none;">
      <div class="  menulist">
        <h4>客户管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/kehu/kehuliebiao/index.html">客户列表</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu xiaoshou' id="xiaoshou" style="display:none;">
      <div class="  menulist">
        <h4>销售管理</h4>
        <ul class="second_menu">
          <li><a href="/mis/xiaoshou/shangpin/index.html">商品</a></li>
          <li ><a href="/mis/xiaoshou/fuwu/index.html">服务</a></li>
          <li><a href="/mis/xiaoshou/taocan/index.html">套餐</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu yuangong' id="yuangong"  style="display:none;">
      <div class="  menulist">
        <h4>员工管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/soa/yuangongliebiao/index.html">员工列表</a></li>
          <li><a href="/mis/soa/xinzi/index.html">薪资管理</a></li>
          <li><a href="/mis/soa/jixiao/index.html">绩效提成</a></li>
          <li><a href="/mis/soa/kaoqin/index.html">考勤奖惩</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu kucun' id="kucun" style="display:none;">
      <div class="menulist">
        <h4>库存管理</h4>
        <ul class="second_menu">
          <li ><a href="/mis/kucun/kucunliebiao/index.html">库存列表</a></li>
          <li><a href="/mis/kucun/ruku/index.html">入库</a></li>
          <li><a href="/mis/kucun/chuku/index.html">出库</a></li>
          <li><a href="/mis/kucun/dinghuo/index.html">批量订货</a></li>
          <li><a href="/mis/kucun/jit/index.html">临时订货</a></li>
          <li><a href="/mis/kucun/pandian/index.html">盘点</a></li>
          <li><a href="/mis/kucun/baosun/index.html">报损</a></li>
          <li><a href="/mis/kucun/tuihuo/index.html">退货</a></li>
          <li><a href="/mis/kucun/shouhou/index.html">售后</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu caiwu' id="caiwu"  style="display:none;">
      <div class=" menulist">
      <h4>财务管理</h4>
        <ul class="second_menu">
          <li><a href="/mis/ais/income/index.html">收入</a></li>
          <li ><a href="/mis/ais/cost/index.html">成本</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu tongji' id="tongji"  style="display:none;">
      <div class="  menulist">
      <h4>统计分析</h4>
        <ul class="second_menu">
          <li><a href="/mis/sas/xiaoshou/graph.html">销售</a></li>
          <li><a href="/mis/sas/kehu/graph.html">客户</a></li>
        </ul>
      </div>
    </div>
    <div  class='float-left sec_menu shezhi' id="shezhi"  style="display:none;">
      <div class="  menulist">
      <h4>系统设置内容</h4>
        <ul class="second_menu">
          <li><a href="/mis/settings/mendian/index.html">门店信息</a></li>
          <li ><a href="/mis/settings/duanxin/feecharge.html">短信设置</a></li>
          <li><a href="/mis/settings/tichengfangan.html">提成方案</a></li>
          <li><a href="/mis/settings/zuzhijiagou.html">组织架构</a></li>
          <li><a href="/mis/settings/quanxian/yonghupeizhi.html">权限设置</a></li>
          <li><a href="/mis/settings/leibie/shangpin.html">类别设置</a></li>
          <li><a href="/mis/settings/account/index.html">结算信息</a></li>
          <li><a href="/mis/settings/cangku/cangku.html">仓库管理</a></li>
        </ul>
      </div>
    </div>
  </menu>
  <script type="text/javascript"  src="/mis/js/showsecondMenu.js"></script>


    <main id='main' >
      <div class="content"  id="content">
        <div class="main_top margin-left-0">
  <h2>客户列表</h2>
  <span class="margin-left-20 font-16 main_top_span">客户详情</span>
  <a class="back_to_list" href="index.html">
  <i class="fa-arrow-circle-left  fa" ></i>
  返回列表
</a>

</div>

<div class="details">

  
<div class="details_nav">
	<ul>
		<li id="kehushow" class="active"><a href="/mis/kehu/kehuliebiao/kehushow.html?kehushow" class="width-90">信息</a></li>
		<li id="zichanzhanghu"><a href="/mis/kehu/kehuliebiao/zichanzhanghu.html?zichanzhanghu" class="width-90 ">资产账户</a></li>
		<li id="cheliangdangan"><a href="/mis/kehu/kehuliebiao/cheliangdangan/show.html?cheliangdangan" class="width-90">车辆档案</a></li>
		<li id="xiaofeijilu"><a href="/mis/kehu/kehuliebiao/xiaofeijilu.html?xiaofeijilu" class="width-90">消费记录</a></li>
		<li id="huifangjilu"><a href="/mis/kehu/kehuliebiao/huifangjilu.html?huifangjilu" class="width-90">回访记录</a></li>
		<li id="yixiang"><a href="/mis/kehu/kehuliebiao/yixiangchanpin.html?yixiang" class="width-90 ">意向产品</a></li>
		<li id="tousu"><a href="/mis/kehu/kehuliebiao/tousu.html?tousu" class="width-90">投诉记录</a></li>
		<li id="manyidu"><a href="/mis/kehu/kehuliebiao/manyidu.html?manyidu" class="width-90">满意度</a></li>
	</ul>
</div>


<script type="text/javascript"  src="/mis/js/common/details_nav.js"></script>


	<div class="details_content">
		<div class="base_info">
			<div class="capital_wrap">
        <div class="captical deposit captival_active" data-target="deposit">
          <ul>
            <li>储值账户</li>
            <li>2<a href="javascript:void(0)" class="show_btn btn">查看</a></li>
          </ul>
          
          <dl>
            <dd><span>充</span></dd>
            <dd>充2000送500欢乐充值卡</dd>
          </dl>
          
          <dl>
            <dd><span>充</span></dd>
            <dd>充2000送500欢乐充值卡</dd>
          </dl>
          
        </div>

        <div class="captical package" data-target="package">
          <ul>
            <li>套餐组合</li>
            <li>5</li>
          </ul>
          
          <dl>
            <dd><span>套</span></dd>
            <dd>普通洗车20次卡</dd>
            <dd><a href="javascript:void(0)" class="show_btn btn">查看</a></dd>
          </dl>
          
          <dl>
            <dd><span>套</span></dd>
            <dd>普通洗车20次卡</dd>
            <dd><a href="javascript:void(0)" class="show_btn btn">查看</a></dd>
          </dl>
          
        </div>

        <div class="captical commodity" data-target="commodity">
          <ul>
            <li>商品组合</li>
            <li>2</li>
          </ul>
          
          <dl>
            <dd><span>套</span></dd>
            <dd>途乐养车包</dd>
            <dd><a href="javascript:void(0)" class="show_btn btn">查看</a></dd>
          </dl>
          
          <dl>
            <dd><span>套</span></dd>
            <dd>途乐养车包</dd>
            <dd><a href="javascript:void(0)" class="show_btn btn">查看</a></dd>
          </dl>
          
          <dl>
            <dd><span>套</span></dd>
            <dd>途乐养车包</dd>
            <dd><a href="javascript:void(0)" class="show_btn btn">查看</a></dd>
          </dl>
          
        </div>
      </div>

			<div class="captical_records_wrap deposit_records_wrap" data-id="deposit">
        <ul class="captical_info deposit_info">
          <li>
            <label>名称</label>
            <span>储值卡</span>
          </li>
          <li>
            <label>购卡日期</label>
            <span>2015-4-30</span>
          </li>
          <li>
            <label>有效期</label>
            <span>2017-4-30止</span>
          </li>
          <li>
            <label>使用门店</label>
            <span>所有门店</span>
          </li>
          <li>
            <label>状态</label>
            <span>使用中</span>
          </li>
          <li>
            <label>操作</label>
            <span><a href="javascript:void(0)" class="edit_btn btn">编辑</a></span>
          </li>
        </ul>

        <div class="captical_records deposit_records">
          <dl class="title">
            <dt>发生时间</dt>
            <dt>发生金额</dt>
            <dt>订单</dt>
            <dt>余额</dt>
          </dl>
          <div class="captical_content">
            <dl>
              <dd>2015-6-11</dd>
              <dd><span  class="profit">2,000.00</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>2,500.00</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd ><span class="loss">200.00</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>2,300.00</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd ><span class="loss">200.00</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>2,300.00</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd ><span class="loss">200.00</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>2,300.00</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd ><span class="loss">200.00</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>2,300.00</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd ><span class="loss">200.00</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>2,300.00</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd ><span class="loss">200.00</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>2,300.00</span></dd>
            </dl>
            
          </div>

          <div class="captical_foot">
            <ul>
              <li><label>扣卡次数</label><span>9</span></li>
              <li><label>充值次数</label><span>1</span></li>
              <li><label>可用余额</label><span class="width-100">2,818.00</span></li>
              <li><a href="javascript:void(0)" class="rechange_btn btn">充值</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="captical_records_wrap package_records_wrap " data-id="package" style="display:none;">
        <ul class="captical_info package_info">
          <li>
            <label>名称</label>
            <span>普通洗车20次卡</span>
          </li>
          <li>
            <label>购卡日期</label>
            <span>2015-4-30</span>
          </li>
          <li>
            <label>有效期</label>
            <span>2017-4-30止</span>
          </li>
          <li>
            <label>类别</label>
            <span>组合类</span>
          </li>
          <li>
            <label>包含项目</label>
            <dl>
              <dd>普通洗车</dd>
              <dd>3M水晶蜡</dd>
            </dl>
          </li>
          <li>
            <label>使用门店</label>
            <span>所有门店</span>
          </li>
          <li>
            <label>状态</label>
            <span>使用中</span>
          </li>
          <li>
            <label>操作</label>
            <span><a href="javascript:void(0)" class="edit_btn btn">编辑</a></span>
          </li>
        </ul>

        <div class="captical_records packages_records">
          <dl class="title">
            <dt>使用时间</dt>
            <dt>项目</dt>
            <dt>使用次数</dt>
            <dt>订单</dt>
            <dt>剩余</dt>
          </dl>
          <div class="captical_content">
            <dl>
              <dd>2015-6-11</dd>
              <dd>普通洗车</dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>20</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd>3M水晶蜡</dd>
              <dd ><span class="loss">1</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>19</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd>3M水晶蜡</dd>
              <dd ><span class="loss">1</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>19</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd>3M水晶蜡</dd>
              <dd ><span class="loss">1</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>19</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd>3M水晶蜡</dd>
              <dd ><span class="loss">1</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>19</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd>3M水晶蜡</dd>
              <dd ><span class="loss">1</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>19</span></dd>
            </dl>
            
            <dl>
              <dd>2015-6-15</dd>
              <dd>3M水晶蜡</dd>
              <dd ><span class="loss">1</span></dd>
              <dd>YW2015061100009</dd>
              <dd><span>19</span></dd>
            </dl>
            
          </div>
          <div class="captical_foot">
          </div>
        </div>
      </div>

      <div class="captical_records_wrap commodity_records_wrap" data-id="commodity" style="display:none;">
        <ul class="captical_info commodity_info">
          <li>
            <label>名称</label>
            <span>途乐样车包</span>
          </li>
          <li>
            <label>购卡日期</label>
            <span>2015-4-30</span>
          </li>
          <li>
            <label>有效期</label>
            <span>不限</span>
          </li>
          <li>
            <label>类别</label>
            <span>组合类</span>
          </li>
          <li>
            <label>包含项目</label>
            <dl>
              <dd>美容服务</dd>
              <dd>清洗服务</dd>
              <dd>机修工时</dd>
            </dl>
          </li>
          <li>
            <label>使用门店</label>
            <span>本店</span>
          </li>
          <li>
            <label>状态</label>
            <span>使用中</span>
          </li>
          <li>
            <label>操作</label>
            <span><a href="javascript:void(0)" class="edit_btn btn">编辑</a></span>
          </li>
        </ul>

        <div class="captical_records commodity_records">
          <dl class="title">
            <dt>项目</dt>
            <dt>使用时间</dt>
            <dt>服务次数</dt>
            <dt>使用次数</dt>
            <dt>订单</dt>
            <dt>剩余</dt>
          </dl>
          <div class="captical_content">
          
            <dl>
              <dd>途乐3D矩阵镀晶</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd>2</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span>2</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            
            <dl>
              <dd>途乐3D矩阵镀晶</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd>2</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span>2</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            
            <dl>
              <dd>途乐3D矩阵镀晶</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd>2</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span>2</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            
            <dl>
              <dd>途乐3D矩阵镀晶</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd>2</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span>2</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            
            <dl>
              <dd>途乐3D矩阵镀晶</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd>2</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span>2</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            
            <dl>
              <dd>途乐3D矩阵镀晶</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd>2</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span>2</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            <dl>
              <dd><nbsp1></nbsp1></dd>
              <dd>2015-6-11</dd>
              <dd><nbsp1></nbsp1></dd>
              <dd><span  class="profit">1</span></dd>
              <dd>YW2015061100010</dd>
              <dd><span>0</span></dd>
            </dl>
            
            
          </div>
        </div>
      </div>
		</div>
	</div>
</div>

<div class="window_wrap" id="edit_assets_info" style="display:none;">
	<div class="edit_assets_info">
		<div class="top">
		  <span>途乐样车包</span>
		</div>

    <div class="edit_assets">
      <dl>
        <dd>适用门店</dd>
        <dd><label><input type="radio" name="store" >限本店</label></dd>
        <dd><label><input type="radio" name="store">所有门店</label></dd>
      </dl>
      <dl>
        <dd>使用设置</dd>
        <dd><label><input type="radio" name="user" >限本人使用</label></dd>
        <dd><label><input type="radio" name="user" >限本车使用</label></dd>
      </dl>
      <dl>
        <dd>支付方式</dd>
        <dd><label><input type="radio" name="pay" >密码支付</label></dd>
        <dd><label><input type="radio" name="pay" >短信验证支付</label></dd>
      </dl>
      <dl>
        <dd>有效期</dd>
        <dd><label><input type="date" type="store" ></label></dd>
        <dd></dd>
      </dl>
    </div>


    <div class="btn_group text-align-right">
      <a href="javascript:void(0)" class="cancel_btn btn">取消</a>
      <a href="javascript:void(0)" class="save_btn btn">保存</a>
    </div>

	</div>
</div>
<script type="text/javascript" src="/mis/js/kehu/asset_accounts.js"></script>

      </div>
    </main>


    <script type="text/javascript" src="/mis/js/click_menu.js"></script>
    <script type="text/javascript" src="/mis/js/onMouse.js"></script>
    <script type="text/javascript" src="/mis/js/common/float_window.js"></script>
    <script type="text/javascript" src="/mis/js/clickbtn.js"></script>
    <script type="text/javascript" src="/mis/js/new.js"></script>
    <script type="text/javascript" src="/mis/js/selected.js"></script>
    <script type="text/javascript" src="/mis/js/close.js"></script>
    <script type="text/javascript" src="/mis/js/radio.js"></script>
    <script type="text/javascript" src="/mis/js/alert.js"></script>
    <script type="text/javascript" src="/mis/js/continue.js"></script>
  </body>

</html>
