<table border="0" class="service_info_abstract">
  <tbody>
  <tr>
    <td>服务名称</td>
    <td>销售价</td>
    <td>优惠价</td>
    <td>服务积分<label></label></td>
    <td>服务类别<label></label></td>
    <td>关联商品<label> </label></td>
    <td>已销售<label></label></td>
    <td>销售收入<label></label></td>
  </tr>
  <tr>
    <td class="text-align-center font-18 font-weight-bold"></td>
    <td class="text-align-center font-14 font-weight-bold"></td>
    <td class="text-align-center font-14 font-weight-bold"></td>
    <td>服务代码<label></label></td>
    <td>服务单位<label></label></td>
    <td>商品数量<label></label></td>
    <td>满意度<label></label></td>
    <td></td>
  </tr>
  </tbody>
</table>
