<div class="regular_setting setting_left float-left">
  <h2><label for="regular_setting">按常规设置</label>
    <input type="radio" name="service_setting_select" class="margin-left-8" id="regular_setting" checked="">
  </h2>
  <table>
    <tbody><tr>
      <td>技师设置</td>
      <td></td>
      <td>
        <input type="radio" name="mechanic_quantity" class="control" id="mechanic_not_limit" checked="" data-distarget="nominated_quantity">
      </td>
      <td><label for="mechanic_not_limit">数量不限</label></td>
      <td>
        <input type="radio" name="mechanic_quantity" class="control" id="mechanic_nominated" data-target="nominated_quantity">
      </td>
      <td>
        <label for="mechanic_nominated">精确数量</label>
        <input type="text" name="quantity" class="width-83 margin-left-5" data-id="nominated_quantity" disabled="">
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <input type="radio" name="mechanic_level" class="toggleable" id="mechanic_level" data-target="mechanic_level" data-checked="">
      </td>
      <td colspan="3">
        <label for="mechanic_level">技师级别限定</label>
        <select class="width-106 margin-right-14" data-id="mechanic_level" disabled="" required="true">
          <option></option>
          <option>初级</option>
          <option>中级</option>
          <option>高级</option>
        </select>
        以上
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><input type="radio" name="sign_method" id="auto_sign" checked=""></td>
      <td><label for="auto_sign">自动上岗</label></td>
      <td><input type="radio" name="sign_method" id="app_sign"></td>
      <td><label for="app_sign">APP上岗</label></td>
    </tr>
    <tr>
      <td>施工时间</td>
      <td></td>
      <td><input type="radio" name="operate_time" class="toggleable" id="operate_time" data-target="operate_time" data-checked="" checked=""></td>
      <td colspan="3">
        <label for="operate_time">标准时间</label>
        <input type="text" class="toggleable width-63 margin-right-10 margin-left-3" data-id="operate_time" required="true">
        正负
        <input type="text" class="width-63 margin-left-3" data-id="operate_time" required="true">
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><input type="radio" name="prepare_time" class="toggleable" id="prepare_time" data-target="prepare_time" data-checked=""></td>
      <td colspan="3">
        <label for="prepare_time">缓冲时间</label>
        <input type="text" class="width-64 margin-left-2" data-id="prepare_time" disabled="disabled" required="true">
      </td>
    </tr>
    <tr>
      <td>工位设置</td>
      <td></td>
      <td><input type="radio" name="station_setting_in_regular" id="random_station_in_regular" checked=""></td>
      <td colspan="3">
        <label for="random_station_in_regular">系统自动分配</label>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><input type="radio" name="station_setting_in_regular" value="指定工位" id="nominated_station_in_regular"></td>
      <td>
        <label for="nominated_station_in_regular">指定工位</label>
      </td>
      <td colspan="2" class="text-align-left">
        <span id="do_service_in_regular" class="cursor"></span>
        <ul id="do_service_lists_in_regular">
          <li>
          清洗服务
          </li>
          <li>
          美容服务
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="3" rowspan="4" class="padding-0">
        <div id="do_stations_in_regular">
          <ul id="stations_of_cleaning" style="display: none;">
            <li>
            洗车1号工位
            <input type="checkbox">
            </li>
            <li>
            洗车2号工位
            <input type="checkbox">
            </li>
            <li>
            洗车3号工位
            <input type="checkbox">
            </li>
            <li>
            洗车4号工位
            <input type="checkbox">
            </li>
            <li>
            洗车5号工位
            <input type="checkbox">
            </li>
            <li>
            洗车6号工位
            <input type="checkbox">
            </li>
            <li>
            洗车7号工位
            <input type="checkbox">
            </li>
            <li>
            洗车8号工位
            <input type="checkbox">
            </li>
          </ul>
          <ul style="display: none;">
            <li>
            洗车1号工位
            <input type="checkbox">
            </li>
            <li>
            洗车2号工位
            <input type="checkbox">
            </li>
            <li>
            洗车3号工位
            <input type="checkbox">
            </li>
            <li>
            洗车4号工位
            <input type="checkbox">
            </li>
          </ul>
        </div>
      </td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>销售提成</td>
      <td></td>
      <td colspan="4" style="text-align:left;">
        提成对象
        <select style="width:190px;">
          <option></option>
          <option>按员工</option>
          <option>按部门</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td colspan="4" style="text-align:left;">
        提成方案
        <select style="width:190px;">
          <option></option>
          <option>方案1</option>
          <option>方案1</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>技师提成</td>
      <td></td>
      <td colspan="4" style="text-align:left;">
        提成方案
        <select style="width:190px;">
          <option></option>
          <option>方案1</option>
          <option>方案2</option>
        </select>
      </td>
    </tr>
  </tbody></table>
</div>
