<div class="process_setting setting_right float-right">
  <h2>
    <label class="color-ccc" for="process_setting">按流程设置</label>
    <input type="radio" name="service_setting_select" class="margin-left-8 margin-top-0" id="process_setting">
    <input type="button" class=" new_btn float-right not_available do_open_list_new_page" value="创建" disabled="">
  </h2>
  <p class="no_process">
  您可以根据需要施工流程进行拆分管理，流程拆分后，施工时间会根据您设定的流程步骤单独计算，
  技师也会根据流程不同进行更换，更换时需要用APP进行上岗确认。
  </p>

  <div class="new_process setting_right float-right new_lists do_new_lists">
    <ul class="items_head">
      <li>#</li>
      <li>流程名称</li>
      <li>技师数量</li>
      <li>技师级别</li>
      <li>施工时间</li>
      <li>工位设置</li>
      <li>提成</li>
    </ul>
    <div class="do_new_lists_content">
      <ul class="items_content">
        <li>1.</li>
        <li><label>钣金施工</label></li>
        <li>1</li>
        <li>初级</li>
        <li>240</li>
        <li>不限</li>
        <li>
        <span>班组计件</span>
        <span class="delete delete_list">×</span>
        </li>
      </ul>

      <ul class="items_content">
        <li>2.</li>
        <li><label>油漆做底</label></li>
        <li>1</li>
        <li>初级</li>
        <li>240</li>
        <li>不限</li>
        <li>
        <span>班组计件</span>
        <span class="delete delete_list">×</span>
        </li>
      </ul>

      <template>
      <ul class="items_content">
        <li>1.</li>
        <li><label>钣金施工</label></li>
        <li>1</li>
        <li>初级</li>
        <li>240</li>
        <li>不限</li>
        <li>
        <span>班组计件</span>
        <span class="delete delete_list">×</span>
        </li>
      </ul>
      </template>
    </div>
  </div>

  <div class="new_process_details new_items_details do_list_new_page" id="do_new_process_details">
    <h3 class="color-fff">创建流程</h3>
    <table class="float-left" border="0">
      <tbody><tr>
        <td>流程名称：</td>
        <td></td>
        <td colspan="5">
          <input type="text" name="process_name" style="width:99.7%;">
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td>施工时间：</td>
        <td></td>
        <td>缓冲时间
          <input type="text" name="prepare_time">
        </td>
        <td colspan="3">标准时间
          <input type="text" name="routine_time">
        </td>
        <td class="text-align-right">正负
          <input type="text" name="plus_minus_time">
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="5">
          <label>允许加时
            <input type="radio" name="delay_allowed" onclick="clickRadio(this);">
          </label>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td>技师设置：</td>
        <td></td>
        <td>数量设置
          <input type="text" name="the_number_of_mechanics" data-id="mechanics_number_limit">
        </td>
        <td colspan="4">
          <label>数量不限
            <input type="radio" name="unlimited_mechanics" class="discontrol" data-target="mechanics_number_limit">
          </label>
          <label class="margin-right-30 margin-left-60">上岗方式</label>
          <label>自动
            <input type="radio" name="sign_method_in_process_in_process" checked="">
          </label>
          <label class="app">APP
            <input type="radio" name="sign_method_in_process_in_process">
          </label>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="5">级别限定
          <select>
            <option></option>
            <option>初级</option>
            <option>中级</option>
            <option>高级</option>
          </select>
          以上
        </td>
      </tr>
      <tr>
        <td>工位设置：</td>
        <td></td>
        <td>
          <label>
            指定工位
            <input type="radio" name="station_setting_in_process" checked="" id="nominate_station_in_process">
          </label>
        </td>
        <td colspan="4">
          <label>
            系统自动分配
            <input type="radio" name="station_setting_in_process" id="random_station_in_process">
          </label>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td colspan="5" rowspan="3">
          <div>
            <ul id="nominated_stations_in_process">
              <li>
              洗车1号工位
              <input type="checkbox">
              </li>
              <li>
              洗车2号工位
              <input type="checkbox">
              </li>
              <li>
              洗车3号工位
              <input type="checkbox">
              </li>
              <li>
              洗车4号工位
              <input type="checkbox">
              </li>
              <li>
              洗车5号工位
              <input type="checkbox">
              </li>
              <li>
              洗车6号工位
              <input type="checkbox">
              </li>
              <li>
              洗车7号工位
              <input type="checkbox">
              </li>
              <li>
              洗车8号工位
              <input type="checkbox">
              </li>
            </ul>
          </div>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td>销售提成：</td>
        <td></td>
        <td>提成对象
          <select>
            <option></option>
            <option>按员工</option>
            <option>按部门</option>
          </select>
        </td>
        <td colspan="2">提成方案</td>
        <td>
          <select>
            <option></option>
            <option>方案1</option>
            <option>方案2</option>
          </select>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>技师提成：</td>
        <td></td>
        <td>提成方案
          <select>
            <option></option>
            <option>方案1</option>
            <option>方案2</option>
          </select>
        </td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody></table>

    <div class="tips float-right">
      <h4 class="text-align-center">提示</h4>
      <p>
      在这里可以按您的需要将一个服务精细划分成多个流程，或者工序来进行施工操作，对该项服务实行精确管理。
      流程设置可以应用在多种服务上，尤其是需要多工种共同完成一种服务。
      </p>
    </div>

    <div class=" btns float-left">
      <input type="button" class="cancel_btn btn do_close_process_create" value="取消" id="do_cancel_new_list">
      <input type="button" class="save_btn btn" value="保存" id="do_save_new_list">
    </div>
  </div>
</div>
