<div class="process_setting setting_right float-right j_workflow_setting">
  <h2>
    <label class="color-ccc" for="workflow_setting">按流程设置</label>
    <input type="radio" name="service_setting_select" class="margin-left-8 margin-top-0" id="workflow_setting">
    <input type="button" id='create_workflow' class=" new_btn float-right not_available do_open_list_new_page" value="创建" disabled="">
  </h2>
  <p class="no_process">
  您可以根据需要施工流程进行拆分管理，流程拆分后，施工时间会根据您设定的流程步骤单独计算，
  技师也会根据流程不同进行更换，更换时需要用APP进行上岗确认。
  </p>

  <div class="new_process setting_right float-right new_lists do_new_lists">
    <ul class="items_head">
      <li>#</li>
      <li>流程名称</li>
      <li>技师数量</li>
      <li>技师级别</li>
      <li>施工时间</li>
      <li>工位设置</li>
      <li>提成</li>
    </ul>
    <div class="do_new_lists_content" id="workflow_list">

    </div>
  </div>

  <div id="workflow_form" class="new_process_details new_items_details do_list_new_page">

  </div>
</div>
