<div class="main_top">
        <h2>订货</h2>
        <span class="add_span">+</span>
      </div>
      <div class="details">
        <div class="content_tab_top">
          <table cellpadding="0" cellspacing="0" width="100%" class="top_tab">
            <colgroup>
              <col width="14.28%">
              <col width="14.28%">
              <col width="14.28%">
              <col width="14.28%">
              <col width="14.28%">
              <col width="14.28%">
              <col width="14.28%">
            </colgroup>
            <tbody>
              <tr  class="height-50">
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class="text-align-left"><a href="#">商品总数量</a>
                        <span   class="num_color font-24  tab_span ">86</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class=" text-align-left"><a href="#">数量最多商品</a>
                        <span class="num_color  tab_span font-14 float-right">74位</span>
                      </td>
                    </tr>
                    <tr>
                      <td class=" text-align-left"><a href="#">金额最大商品</a>
                        <span class="num_color  tab_span font-14 float-right">12位</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class=" text-align-left"><a href="#">出库量最多</a>
                        <span class="num_color  tab_span font-14 float-right">74位</span>
                      </td>
                    </tr>
                    <tr>
                      <td class=" text-align-left"><a href="#">出库量最少</a>
                        <span class="num_color  tab_span font-14 float-right">12位</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class=" text-align-left"><a href="#">库龄最短</a>
                        <span class="num_color  tab_span font-14 float-right">74位</span>
                      </td>
                    </tr>
                    <tr>
                      <td class=" text-align-left"><a href="#">库龄最长</a>
                        <span class="num_color  tab_span font-14 float-right">12位</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class=" text-align-left"><a href="#">销售最多</a>
                        <span class="num_color  tab_span font-14 float-right">74位</span>
                      </td>
                    </tr>
                    <tr>
                      <td class=" text-align-left"><a href="#">两用最多</a>
                        <span class="num_color  tab_span font-14 float-right">12位</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class="text-align-left"><a href="#">需回访客户</a>
                        <span class="num_color  tab_span font-14 float-right">74位</span>
                      </td>
                    </tr>
                    <tr>
                      <td class=" text-align-left"><a href="#">已回访客户</a>
                        <span class="num_color  tab_span font-14 float-right">11位</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td >
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class=" text-align-right"><a href="#">商品总金额</a>
                        <span class="num_color text-align-right font-24 tab_span">22,8677</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <%= render partial: 'kucun/store_suppliers/nav' -%>

        <div class="details_nav_second">
          <ul class="goods_nav">
            <li><a href="#" class="width-90">▲上一件商品</a></li>
            <li><a href="#" class="width-90">▼下一件商品</a></li>
            <li ><a href="index.html" class="width-90">返回列表</a></li>
          </ul>
        </div>
        <div class="details_content">
          <table cellpadding="0" cellspacing="0" class="abstract_tab">
            <colgroup>
              <col width="19%">
              <col width="9%">
              <col width="9%">
              <col width="12.5%">
              <col width="13%">
              <col width="12.5%">
              <col width="12.5%">
              <col width="12.5%">
            </colgroup>
            <tbody>
              <tr>
                <td><label class="float-left">供应商名称</label></td>
                <td><label class="float-left">订货次数</label></td>
                <td><label class="float-left">订货总金额</label></td>
                <td class="border-bottom-d1d1d1"><label class="float-left">联系人</label> <span >王强</span></td>
                <td class="border-bottom-d1d1d1"><label class="float-left">固定号码</label><span >0571-88828383</span></td>
                <td class="border-bottom-d1d1d1"><label class="float-left">一级分类</label><span >产品</span></td>
                <td class="border-bottom-d1d1d1"><label class="float-left">结算周期</label><span >按月</span></td>
                <td><label class="float-left">未付款订单</label><span>3000</span></td>
              </tr>
              <tr>
                <td><span class="font-18 ">杭州鼎洪科技有限公司</span></td>
                <td><span class="float-left">45</span></td>
                <td><span class="float-left">2000</span></td>
                <td><label class="float-left">电话号码</label><span>13064522578</span></td>
                <td><label class="float-left">传真号码</label><span>88828383</span></td>
                <td><label class="float-left">二级分类</label><span>清洁</span></td>
                <td><label class="float-left">结算时间</label><span>3个月</span></td>
                <td><label class="float-left">未付款金额</label><span>1,900.00</span></td>
              </tr>
            </tbody>
          </table>

          <div class="ordernotes_list" id="ordernotes_list">
            <div class="list">
              <div class="list_tr list_top">
                <ul>
                  <li class="first_td">#</li>
                  <li class="second_td">单据日期</li>
                  <li class="third_td">订单号</li>
                  <li class="forth_td">订货类别</li>
                  <li class="fifth_td">数量</li>
                  <li class="sixth_td">金额</li>
                  <li class="serventh_td">付款</li>
                  <li class="eightth_td">欠款</li>
                  <li class="ninth_td">收货</li>
                  <li class="tenth_td">操作</li>
                </ul>
              </div>

              <div class="list_tr list_content">
                <ul>
                  <li class="first_td">1.</li>
                  <li class="second_td">2014-12-08 11:11</li>
                  <li class="third_td">DH20141228000019</li>
                  <li class="forth_td">美容产品</li>
                  <li class="fifth_td">6</li>
                  <li class="sixth_td">13,800.00</li>
                  <li class="serventh_td">13,800.00</li>
                  <li class="eightth_td">0.00</li>
                  <li class="ninth_td">已收货</li>
                  <li class="tenth_td cursor  detailsbtn " >详情</li>
                </ul>
              </div>
            <div class=" common_storage_content  ordergoods_details" style="display:none;" id="ordernotes">
              <div class="ordergoods_query">
                <div class="pure-control-group">
                  <label>供应商：</label>
                  <input type="text" class="width-200">
                </div>
                <div class="pure-control-group ">
                  <label>时间：</label>
                  <input type="text" class="width-135">
                </div>
                <div class="pure-control-group">
                  <label>单号：</label>
                  <input type="text" class="width-135">
                </div>
                <div class="ordergoods_print">
                  <a href="#" class="print_btn">打<nbsp1></nbsp1>印</a>
                </div>
              </div>
              <div class=" common_storage_tab order_goods_tab ">
                <table cellpadding="0" cellspacing="0" id="storage_tab" class="storage_tab">
                  <thead>
                    <tr class="bg-color-e0e2cf color-282726">
                      <th width="3%">#</th>
                      <th width="18%" >商品名称</th>
                      <th width="8%" >条码</th>
                      <th width="8%" >规格</th>
                      <th width="4%" >单位</th>
                      <th width="7%" >一级分类</th>
                      <th width="7%">二级分类</th>
                      <th width="7%">单价</th>
                      <th width="5%" >数量</th>
                      <th width="8%">小计</th>
                      <th width="6%">仓库</th>
                      <th width="15%">备注</th>
                      <th width="4%"> 操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% assign num=4 %}
                    {% for i in (1..num) %}
                    <tr>
                      <td class="number">1</td>
                      <td >澜泰宾御纳米镀晶套装</td>
                      <td>887766555444</td>
                      <td>长皮盒6项目</td>
                      <td>套</td>
                      <td>美容产品</td>
                      <td>镀晶产品</td>
                      <td>680.00</td>
                      <td>8</td>
                      <td>5,440.00</td>
                      <td>未付款</td>
                      <td></td>
                      <td><span class="border-radius cursor">ㄨ</span></td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <div class="order_goods_account">
                <div class="item_content margin-left-10">
                  <label class="width-75 margin-top-10 ">备注：</label>
                  <textarea class="remarks_textarea width-1242" disabled="disabled">dfdgdfg</textarea>
                </div>
                <div class="item_content margin-top-10  margin-left-10 float-left">
                  <label class="width-75">本次付款：</label>
                  <input type="text" class="width-253 " readonly="true" value="1000.00">
                </div>
                <div class="item_content margin-top-10 float-left  margin-left-20">
                  <label class="width-75 ">结算账户：</label>
                  <input type="text" class="width-253 " readonly="true" value="622202000000000">
                </div>
                <div class="item_content margin-top-10  margin-left-20">
                  <label  class="width-75">本次欠款：</label>
                  <input type="text" class="width-253" readonly="true" value="283.00">
                </div>
                <div class="item_content  margin-left-10">
                  <label class="width-75">制单人：</label>
                  <label class="width-253">李宁</label>
                </div>
              </div>
            </div>

              <div class="list_tr list_content">
                <ul>
                  <li class="first_td">2.</li>
                  <li class="second_td">2014-12-08 11:11</li>
                  <li class="third_td">DH20141228000019</li>
                  <li class="forth_td">美容产品</li>
                  <li class="fifth_td">6</li>
                  <li class="sixth_td">13,800.00</li>
                  <li class="serventh_td">13,800.00</li>
                  <li class="eightth_td">0.00</li>
                  <li class="ninth_td">已收货</li>
                  <li class="tenth_td  cursor detailsbtn">详情</li>
                </ul>
              </div>
              <div class="list_tr list_content">
                <ul>
                  <li class="first_td">3.</li>
                  <li class="second_td">2014-12-08 11:11</li>
                  <li class="third_td">DH20141228000019</li>
                  <li class="forth_td">美容产品</li>
                  <li class="fifth_td">6</li>
                  <li class="sixth_td">13,800.00</li>
                  <li class="serventh_td">13,800.00</li>
                  <li class="eightth_td">0.00</li>
                  <li class="ninth_td">已收货</li>
                  <li class="tenth_td cursor detailsbtn">详情</li>
                </ul>
              </div>
              <div class="list_tr list_content">
                <ul>
                  <li class="first_td">4.</li>
                  <li class="second_td">2014-12-08 11:11</li>
                  <li class="third_td">DH20141228000019</li>
                  <li class="forth_td">美容产品</li>
                  <li class="fifth_td">6</li>
                  <li class="sixth_td">13,800.00</li>
                  <li class="serventh_td">13,800.00</li>
                  <li class="eightth_td">0.00</li>
                  <li class="ninth_td">已收货</li>
                  <li class="tenth_td cursor detailsbtn">详情</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
