<div class="query_item margin-right-30">
  <label class="margin-right-10">订单号</label>
  <input type="text" class="width-195 height-29" name="q[numero_cont]">
</div>

<div class="query_item margin-right-10">
  <label class="margin-right-10">下单时间</label>
  <input type="date" class="width-194 height-25" name="created_at" >
</div>

<div class="query_item">
  <input type="submit" class="btn button_query width-86 height-29" value="查询">
</div>
