<div class="menu-filter">
</div>

<div class="menu-wrap">
  <div class="menu-list-wrap">
    <div class="menu-list">
      <h3 class="title">施工现场</h3>
      <ul class="menu-items">
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">现场管理</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">施工设置</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">施工调整</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">预约管理</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-list">
      <h3 class="title">收银pos</h3>
      <ul class="menu-items">
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title"></span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">施工设置</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">施工调整</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">预约管理</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-list">
      <h3 class="title">收银pos</h3>
      <ul class="menu-items">
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title"></span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">施工设置</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">施工调整</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">预约管理</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-list">
      <h3 class="title">收银pos</h3>
      <ul class="menu-items">
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title"></span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">施工设置</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">施工调整</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">预约管理</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-list">
      <h3 class="title">收银pos</h3>
      <ul class="menu-items">
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title"></span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">施工设置</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">施工调整</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0)">
            <i class="icon icon-clock-o"></i>
            <span class="menu-title">预约管理</span>
          </a>
        </li>
      </ul>
    </div>

  </div>


  <div class="menu-footer">
    <ul class="icons">
      <li>
        <a href="javascript:void(0)" class="active">
          <i class="fa fa-th"></i>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-search"></i>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-eye"></i>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-globe"></i>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-sun-o"></i>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-gear"></i>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-dashboard"></i>
        </a>
      </li>
    </ul>
  </div>

</div>
