<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>百世威盛</title>
    <%= stylesheet_link_tag "open_layout", media: :all %>
    <%= yield :pre_assets %>
  </head>
  <body>

    <main id='main'>
      <%= yield %>
    </main>

    <%= yield :javascripts %>
  </body>

</html>
