<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小票打印</title>
    <meta name="description" content="小票打印">
    <%= stylesheet_link_tag "receipter_layout", media: :all %>
  </head>
	<body>
    <button class='print_btn' onclick="print();">打印单据</button>
		<main id='main' >
		  <%= yield %>
		</main>
	</body>
</html>
